Documents/Processes/Tweet-new-events.json
{
  "name": "Tweet new events",
  "flow": [
    {
      "id": 1,
      "module": "google-sheets:watchRows",
      "version": 2,
      "parameters": {
        "limit": 10,
        "sheetId": "YOUR SHEET NAME",
        "__IMTCONN__": 111111,
        "spreadsheetId": "YOUR SHEET ID",
        "tableFirstRow": "A1:Z1",
        "includesHeaders": true,
        "valueRenderOption": "FORMATTED_VALUE",
        "dateTimeRenderOption": "FORMATTED_STRING"
      },
      "mapper": {},
      "metadata": {
        "designer": {
          "x": 0,
          "y": 450,
          "name": "Watch for new events"
        },
        "restore": {
          "sheetId": {
            "mode": "chose",
            "label": "YOUR SHEET NAME"
          },
          "__IMTCONN__": {
            "label": "My Google connection (YOUR ACCOUNT ID)"
          },
          "spreadsheetId": {
            "mode": "chose",
            "label": "WORKSHEET NAME"
          },
          "includesHeaders": {
            "label": "Yes"
          },
          "valueRenderOption": {
            "mode": "chose",
            "label": "Formatted value"
          },
          "dateTimeRenderOption": {
            "mode": "chose",
            "label": "Formatted string"
          }
        },
        "parameters": [
          {
            "name": "__IMTCONN__",
            "type": "account",
            "label": "Connection",
            "required": true
          },
          {
            "name": "spreadsheetId",
            "type": "select",
            "label": "Spreadsheet",
            "required": true
          },
          {
            "name": "includesHeaders",
            "type": "select",
            "label": "Table contains headers",
            "required": true,
            "validate": {
              "enum": [
                true,
                false
              ]
            }
          },
          {
            "name": "valueRenderOption",
            "type": "select",
            "label": "Value render option",
            "validate": {
              "enum": [
                "FORMATTED_VALUE",
                "UNFORMATTED_VALUE",
                "FORMULA"
              ]
            }
          },
          {
            "name": "dateTimeRenderOption",
            "type": "select",
            "label": "Date and time render option",
            "validate": {
              "enum": [
                "SERIAL_NUMBER",
                "FORMATTED_STRING"
              ]
            }
          },
          {
            "name": "limit",
            "type": "uinteger",
            "label": "Limit",
            "required": true
          },
          {
            "name": "tableFirstRow",
            "type": "text",
            "label": "Row with headers",
            "required": true
          },
          {
            "name": "sheetId",
            "type": "select",
            "label": "Sheet",
            "required": true
          }
        ],
        "interface": [
          {
            "name": "__ROW_NUMBER__",
            "type": "number",
            "label": "Row number"
          },
          {
            "name": "0",
            "type": "text",
            "label": "Timestamp (A)"
          },
          {
            "name": "1",
            "type": "text",
            "label": "Event title (B)"
          },
          {
            "name": "2",
            "type": "text",
            "label": "Location (C)"
          },
          {
            "name": "3",
            "type": "text",
            "label": "Start Date (D)"
          },
          {
            "name": "4",
            "type": "text",
            "label": "Start Time (E)"
          },
          {
            "name": "5",
            "type": "text",
            "label": "End Date (F)"
          },
          {
            "name": "6",
            "type": "text",
            "label": "End Time (G)"
          },
          {
            "name": "7",
            "type": "text",
            "label": "URL (H)"
          },
          {
            "name": "8",
            "type": "text",
            "label": "Description (I)"
          },
          {
            "name": "9",
            "type": "text",
            "label": "FormattedEventName (J)"
          },
          {
            "name": "10",
            "type": "text",
            "label": "FormattedStart (K)"
          },
          {
            "name": "11",
            "type": "text",
            "label": "FormattedEnd (L)"
          },
          {
            "name": "12",
            "type": "text",
            "label": "Pushed to Calendar (M)"
          },
          {
            "name": "13",
            "type": "text",
            "label": "CalendarEventCreated(ID) (N)"
          },
          {
            "name": "14",
            "type": "text",
            "label": "last action (O)"
          },
          {
            "name": "15",
            "type": "text",
            "label": "Date entry made (P)"
          },
          {
            "name": "16",
            "type": "text",
            "label": "Formula Copy Down Status (Q)"
          },
          {
            "name": "17",
            "type": "text",
            "label": "Event ID (R)"
          },
          {
            "name": "18",
            "type": "text",
            "label": "Twitter ID (S)"
          },
          {
            "name": "19",
            "type": "text",
            "label": "(T)"
          },
          {
            "name": "20",
            "type": "text",
            "label": "(U)"
          },
          {
            "name": "21",
            "type": "text",
            "label": "(V)"
          },
          {
            "name": "22",
            "type": "text",
            "label": "(W)"
          },
          {
            "name": "23",
            "type": "text",
            "label": "(X)"
          },
          {
            "name": "24",
            "type": "text",
            "label": "(Y)"
          },
          {
            "name": "25",
            "type": "text",
            "label": "(Z)"
          }
        ]
      }
    },
    {
      "id": 10,
      "module": "google-calendar:getAnEvent",
      "version": 5,
      "parameters": {
        "__IMTCONN__": 111111
      },
      "mapper": {
        "event": "{{1.`17`}}",
        "calendar": "YOUR ACCOUNT ID"
      },
      "metadata": {
        "designer": {
          "x": 300,
          "y": 450
        },
        "restore": {
          "calendar": {
            "mode": "edit"
          },
          "__IMTCONN__": {
            "label": "My Google connection (YOUR ACCOUNT ID)"
          }
        },
        "parameters": [
          {
            "name": "__IMTCONN__",
            "type": "account",
            "label": "Connection",
            "required": true
          }
        ],
        "expect": [
          {
            "mode": "edit",
            "name": "calendar",
            "type": "select",
            "label": "Calendar ID",
            "required": true
          },
          {
            "name": "event",
            "type": "any",
            "label": "Event ID",
            "required": true
          }
        ]
      }
    },
    {
      "id": 7,
      "module": "bitly:shortenUrl",
      "version": 2,
      "parameters": {
        "__IMTCONN__": xxxx
      },
      "mapper": {
        "long_url": "https://www.google.com/calendar/embed?src=YOUR ACCOUNT ID&mode=day&dates={{formatDate(1.`3`; \"YYYYMMDD\")}}%2F{{formatDate(1.`3`; \"YYYYMMDD\")}}"
      },
      "metadata": {
        "designer": {
          "x": 600,
          "y": 450,
          "name": "Shorten view day link"
        },
        "restore": {
          "__IMTCONN__": {
            "label": "My Bitly connection (xxxx)"
          },
          "organization_guid": {
            "label": ""
          }
        },
        "parameters": [
          {
            "name": "__IMTCONN__",
            "type": "account",
            "label": "Connection",
            "required": true
          }
        ],
        "expect": [
          {
            "name": "long_url",
            "type": "url",
            "label": "Long URL",
            "required": true
          },
          {
            "name": "organization_guid",
            "type": "select",
            "label": "Organization"
          }
        ]
      }
    },
    {
      "id": 11,
      "module": "bitly:shortenUrl",
      "version": 2,
      "parameters": {
        "__IMTCONN__": xxxx
      },
      "mapper": {
        "long_url": "{{10.htmlLink}}"
      },
      "metadata": {
        "designer": {
          "x": 900,
          "y": 450,
          "name": "Shorten direct event link"
        },
        "restore": {
          "__IMTCONN__": {
            "label": "My Bitly connection (xxxx)"
          },
          "organization_guid": {
            "label": ""
          }
        },
        "parameters": [
          {
            "name": "__IMTCONN__",
            "type": "account",
            "label": "Connection",
            "required": true
          }
        ],
        "expect": [
          {
            "name": "long_url",
            "type": "url",
            "label": "Long URL",
            "required": true
          },
          {
            "name": "organization_guid",
            "type": "select",
            "label": "Organization"
          }
        ]
      },
      "onerror": [
        {
          "id": 28,
          "module": "util:FunctionSleep",
          "version": 1,
          "parameters": {},
          "mapper": {
            "duration": "300"
          },
          "metadata": {
            "designer": {
              "x": 1200,
              "y": 900
            },
            "expect": [
              {
                "name": "duration",
                "type": "uinteger",
                "label": "Delay",
                "required": true,
                "validate": {
                  "max": 300,
                  "min": 1
                }
              }
            ]
          }
        },
        {
          "id": 29,
          "module": "google-sheets:getCell",
          "version": 2,
          "parameters": {
            "__IMTCONN__": 111111
          },
          "mapper": {
            "cell": "R{{1.`__ROW_NUMBER__`}}",
            "sheetId": "YOUR SHEET NAME",
            "spreadsheetId": "YOUR SHEET ID",
            "valueRenderOption": "FORMATTED_VALUE",
            "dateTimeRenderOption": "FORMATTED_STRING"
          },
          "metadata": {
            "designer": {
              "x": 1500,
              "y": 900
            },
            "restore": {
              "sheetId": {
                "mode": "chose",
                "label": "YOUR SHEET NAME"
              },
              "__IMTCONN__": {
                "label": "My Google connection (YOUR ACCOUNT ID)"
              },
              "spreadsheetId": {
                "mode": "chose",
                "label": "WORKSHEET NAME"
              },
              "valueRenderOption": {
                "mode": "chose",
                "label": "Formatted value"
              },
              "dateTimeRenderOption": {
                "mode": "chose",
                "label": "Formatted string"
              }
            },
            "parameters": [
              {
                "name": "__IMTCONN__",
                "type": "account",
                "label": "Connection",
                "required": true
              }
            ],
            "expect": [
              {
                "name": "spreadsheetId",
                "type": "select",
                "label": "Spreadsheet",
                "required": true
              },
              {
                "name": "cell",
                "type": "text",
                "label": "Cell",
                "required": true
              },
              {
                "name": "valueRenderOption",
                "type": "select",
                "label": "Value render option",
                "validate": {
                  "enum": [
                    "FORMATTED_VALUE",
                    "UNFORMATTED_VALUE",
                    "FORMULA"
                  ]
                }
              },
              {
                "name": "dateTimeRenderOption",
                "type": "select",
                "label": "Date and time render option",
                "validate": {
                  "enum": [
                    "SERIAL_NUMBER",
                    "FORMATTED_STRING"
                  ]
                }
              },
              {
                "name": "sheetId",
                "type": "select",
                "label": "Sheet",
                "required": true
              }
            ]
          }
        },
        {
          "id": 30,
          "module": "google-calendar:getAnEvent",
          "version": 5,
          "parameters": {
            "__IMTCONN__": 111111
          },
          "filter": {
            "name": "If not #VALUE!",
            "conditions": [
              [
                {
                  "a": "{{29.value}}",
                  "b": "#VALUE!",
                  "o": "text:notequal"
                }
              ]
            ]
          },
          "mapper": {
            "event": "{{29.value}}",
            "calendar": "YOUR ACCOUNT ID"
          },
          "metadata": {
            "designer": {
              "x": 1800,
              "y": 900
            },
            "restore": {
              "calendar": {
                "mode": "edit"
              },
              "__IMTCONN__": {
                "label": "My Google connection (YOUR ACCOUNT ID)"
              }
            },
            "parameters": [
              {
                "name": "__IMTCONN__",
                "type": "account",
                "label": "Connection",
                "required": true
              }
            ],
            "expect": [
              {
                "mode": "edit",
                "name": "calendar",
                "type": "select",
                "label": "Calendar ID",
                "required": true
              },
              {
                "name": "event",
                "type": "any",
                "label": "Event ID",
                "required": true
              }
            ]
          }
        },
        {
          "id": 32,
          "module": "bitly:shortenUrl",
          "version": 2,
          "parameters": {
            "__IMTCONN__": xxxx
          },
          "mapper": {
            "long_url": "{{30.htmlLink}}"
          },
          "metadata": {
            "designer": {
              "x": 2100,
              "y": 900
            },
            "restore": {
              "__IMTCONN__": {
                "label": "My Bitly connection (xxxx)"
              },
              "organization_guid": {
                "label": ""
              }
            },
            "parameters": [
              {
                "name": "__IMTCONN__",
                "type": "account",
                "label": "Connection",
                "required": true
              }
            ],
            "expect": [
              {
                "name": "long_url",
                "type": "url",
                "label": "Long URL",
                "required": true
              },
              {
                "name": "organization_guid",
                "type": "select",
                "label": "Organization"
              }
            ]
          }
        },
        {
          "id": 31,
          "module": "builtin:Resume",
          "version": 1,
          "parameters": {},
          "mapper": {
            "id": "",
            "link": "{{32.link}}",
            "tags": [],
            "long_url": "{{30.htmlLink}}",
            "deeplinks": [],
            "created_at": "{{now}}",
            "references": {
              "group": ""
            },
            "custom_bitlinks": []
          },
          "metadata": {
            "designer": {
              "x": 2400,
              "y": 900
            },
            "restore": {
              "tags": {
                "items": []
              },
              "deeplinks": {
                "items": []
              },
              "custom_bitlinks": {
                "items": []
              }
            },
            "expect": [
              {
                "name": "created_at",
                "type": "date",
                "label": "Created At"
              },
              {
                "name": "id",
                "type": "text",
                "label": "Bitlink ID"
              },
              {
                "name": "link",
                "type": "text",
                "label": "Link"
              },
              {
                "name": "custom_bitlinks",
                "type": "array",
                "label": "Custom Bitlinks"
              },
              {
                "name": "long_url",
                "type": "text",
                "label": "Long Url"
              },
              {
                "name": "archived",
                "type": "boolean",
                "label": "Archived"
              },
              {
                "name": "tags",
                "type": "array",
                "label": "Tags"
              },
              {
                "name": "deeplinks",
                "type": "array",
                "label": "Deeplinks"
              },
              {
                "name": "references",
                "spec": [
                  {
                    "name": "group",
                    "type": "text",
                    "label": "Group"
                  }
                ],
                "type": "collection",
                "label": "References"
              }
            ]
          }
        }
      ]
    },
    {
      "id": 2,
      "module": "twitter:createTweet",
      "version": 5,
      "parameters": {
        "__IMTCONN__": xxxx
      },
      "mapper": {
        "select": "image",
        "status": "New Open Research Event 🎓📆 - {{1.`1`}} {{if(contains(trim(lower(1.`2`)); \"online\") = true; \"held\"; \"in\")}} {{1.`2`}} from {{1.`3`}} to {{1.`5`}}. View event in our calendar: {{7.link}} OR add to your own: {{11.link}}",
        "possibly_sensitive": false,
        "display_coordinates": true
      },
      "metadata": {
        "designer": {
          "x": 1200,
          "y": 300,
          "name": "Create Normal Tweet"
        },
        "restore": {
          "select": {
            "label": "Image or GIF"
          },
          "__IMTCONN__": {
            "label": "My Twitter connection (YOUR TWITTER ACCOUNT)"
          },
          "attachments": {
            "mode": "chose",
            "items": []
          },
          "display_coordinates": {
            "mode": "chose"
          }
        },
        "parameters": [
          {
            "name": "__IMTCONN__",
            "type": "account",
            "label": "Connection",
            "required": true
          }
        ],
        "expect": [
          {
            "name": "status",
            "type": "text",
            "label": "Status",
            "required": true
          },
          {
            "name": "select",
            "type": "select",
            "label": "Upload",
            "validate": {
              "enum": [
                "image",
                "video"
              ]
            }
          },
          {
            "name": "possibly_sensitive",
            "type": "boolean",
            "label": "Attached images contain sensitive content (nudity, violence, etc).",
            "required": true
          },
          {
            "name": "lat",
            "type": "number",
            "label": "Geographic Latitude",
            "validate": {
              "max": 90,
              "min": -90
            }
          },
          {
            "name": "long",
            "type": "number",
            "label": "Geographic Longitude",
            "validate": {
              "max": 180,
              "min": -180
            }
          },
          {
            "name": "display_coordinates",
            "type": "boolean",
            "label": "Display tweets coordinates",
            "required": true
          },
          {
            "name": "attachments",
            "spec": [
              {
                "name": "filename",
                "type": "filename",
                "label": "File Name",
                "semantic": "file:name"
              },
              {
                "name": "data",
                "type": "buffer",
                "label": "Data",
                "semantic": "file:data"
              },
              {
                "name": "media_category",
                "type": "select",
                "label": "Media Category",
                "options": [
                  {
                    "label": "Tweet Gif",
                    "value": "tweet_gif"
                  },
                  {
                    "label": "Tweet Image",
                    "value": "tweet_image"
                  }
                ]
              }
            ],
            "type": "array",
            "label": "Attachments",
            "validate": {
              "maxItems": 4
            }
          }
        ],
        "advanced": true
      },
      "onerror": [
        {
          "id": 24,
          "module": "builtin:BasicRouter",
          "version": 1,
          "parameters": {
            "else": 1
          },
          "mapper": null,
          "metadata": {
            "designer": {
              "x": 1500,
              "y": 450
            }
          },
          "routes": [
            {
              "flow": [
                {
                  "id": 25,
                  "module": "twitter:createTweet",
                  "version": 5,
                  "parameters": {
                    "__IMTCONN__": xxxx
                  },
                  "filter": {
                    "name": "Tweet too long",
                    "conditions": [
                      [
                        {
                          "a": "{{2.error.message}}",
                          "b": "[403] Tweet needs to be a bit shorter.",
                          "o": "text:equal"
                        }
                      ]
                    ]
                  },
                  "mapper": {
                    "select": "image",
                    "status": "New Event- {{1.`1`}} {{if(contains(trim(lower(1.`2`)); \"online\") = true; \"held\"; \"in\")}} {{1.`2`}}. View event in calendar: {{7.link}} OR add to your own: {{11.link}}",
                    "possibly_sensitive": false,
                    "display_coordinates": true
                  },
                  "metadata": {
                    "designer": {
                      "x": 1800,
                      "y": 300,
                      "name": "Shorter Tweet"
                    },
                    "restore": {
                      "select": {
                        "label": "Image or GIF"
                      },
                      "__IMTCONN__": {
                        "label": "My Twitter connection (YOUR TWITTER ACCOUNT)"
                      },
                      "attachments": {
                        "mode": "chose",
                        "items": []
                      },
                      "display_coordinates": {
                        "mode": "chose"
                      }
                    },
                    "parameters": [
                      {
                        "name": "__IMTCONN__",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                      }
                    ],
                    "expect": [
                      {
                        "name": "status",
                        "type": "text",
                        "label": "Status",
                        "required": true
                      },
                      {
                        "name": "select",
                        "type": "select",
                        "label": "Upload",
                        "validate": {
                          "enum": [
                            "image",
                            "video"
                          ]
                        }
                      },
                      {
                        "name": "possibly_sensitive",
                        "type": "boolean",
                        "label": "Attached images contain sensitive content (nudity, violence, etc).",
                        "required": true
                      },
                      {
                        "name": "lat",
                        "type": "number",
                        "label": "Geographic Latitude",
                        "validate": {
                          "max": 90,
                          "min": -90
                        }
                      },
                      {
                        "name": "long",
                        "type": "number",
                        "label": "Geographic Longitude",
                        "validate": {
                          "max": 180,
                          "min": -180
                        }
                      },
                      {
                        "name": "display_coordinates",
                        "type": "boolean",
                        "label": "Display tweets coordinates",
                        "required": true
                      },
                      {
                        "name": "attachments",
                        "spec": [
                          {
                            "name": "filename",
                            "type": "filename",
                            "label": "File Name",
                            "semantic": "file:name"
                          },
                          {
                            "name": "data",
                            "type": "buffer",
                            "label": "Data",
                            "semantic": "file:data"
                          },
                          {
                            "name": "media_category",
                            "type": "select",
                            "label": "Media Category",
                            "options": [
                              {
                                "label": "Tweet Gif",
                                "value": "tweet_gif"
                              },
                              {
                                "label": "Tweet Image",
                                "value": "tweet_image"
                              }
                            ]
                          }
                        ],
                        "type": "array",
                        "label": "Attachments",
                        "validate": {
                          "maxItems": 4
                        }
                      }
                    ]
                  }
                },
                {
                  "id": 27,
                  "module": "google-sheets:updateRow",
                  "version": 2,
                  "parameters": {
                    "__IMTCONN__": 111111
                  },
                  "mapper": {
                    "mode": "select",
                    "values": {
                      "18": "{{2.id_str}}"
                    },
                    "sheetId": "YOUR SHEET NAME",
                    "rowNumber": "{{1.`__ROW_NUMBER__`}}",
                    "spreadsheetId": "YOUR SHEET ID",
                    "includesHeaders": true,
                    "valueInputOption": "USER_ENTERED"
                  },
                  "metadata": {
                    "designer": {
                      "x": 2100,
                      "y": 300,
                      "name": "Add Tweet ID to Spreadsheet"
                    },
                    "restore": {
                      "mode": {
                        "label": "Select spreadsheet and sheet"
                      },
                      "sheetId": {
                        "label": "YOUR SHEET NAME"
                      },
                      "__IMTCONN__": {
                        "label": "My Google connection (YOUR ACCOUNT ID)"
                      },
                      "spreadsheetId": {
                        "label": "WORKSHEET NAME"
                      },
                      "includesHeaders": {
                        "label": "Yes"
                      },
                      "valueInputOption": {
                        "mode": "chose",
                        "label": "User entered"
                      }
                    },
                    "parameters": [
                      {
                        "name": "__IMTCONN__",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                      }
                    ],
                    "expect": [
                      {
                        "name": "mode",
                        "type": "select",
                        "label": "Mode",
                        "required": true,
                        "validate": {
                          "enum": [
                            "select",
                            "map"
                          ]
                        }
                      },
                      {
                        "name": "valueInputOption",
                        "type": "select",
                        "label": "Value input option",
                        "validate": {
                          "enum": [
                            "USER_ENTERED",
                            "RAW"
                          ]
                        }
                      },
                      {
                        "name": "spreadsheetId",
                        "type": "select",
                        "label": "Spreadsheet",
                        "required": true
                      },
                      {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet",
                        "required": true
                      },
                      {
                        "name": "rowNumber",
                        "type": "uinteger",
                        "label": "Row number",
                        "required": true
                      },
                      {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                          "enum": [
                            true,
                            false
                          ]
                        }
                      },
                      {
                        "name": "values",
                        "spec": [
                          {
                            "name": "0",
                            "type": "text",
                            "label": "Timestamp (A)"
                          },
                          {
                            "name": "1",
                            "type": "text",
                            "label": "Event title (B)"
                          },
                          {
                            "name": "2",
                            "type": "text",
                            "label": "Location (C)"
                          },
                          {
                            "name": "3",
                            "type": "text",
                            "label": "Start Date (D)"
                          },
                          {
                            "name": "4",
                            "type": "text",
                            "label": "Start Time (E)"
                          },
                          {
                            "name": "5",
                            "type": "text",
                            "label": "End Date (F)"
                          },
                          {
                            "name": "6",
                            "type": "text",
                            "label": "End Time (G)"
                          },
                          {
                            "name": "7",
                            "type": "text",
                            "label": "URL (H)"
                          },
                          {
                            "name": "8",
                            "type": "text",
                            "label": "Description (I)"
                          },
                          {
                            "name": "9",
                            "type": "text",
                            "label": "FormattedEventName (J)"
                          },
                          {
                            "name": "10",
                            "type": "text",
                            "label": "FormattedStart (K)"
                          },
                          {
                            "name": "11",
                            "type": "text",
                            "label": "FormattedEnd (L)"
                          },
                          {
                            "name": "12",
                            "type": "text",
                            "label": "Pushed to Calendar (M)"
                          },
                          {
                            "name": "13",
                            "type": "text",
                            "label": "CalendarEventCreated(ID) (N)"
                          },
                          {
                            "name": "14",
                            "type": "text",
                            "label": "last action (O)"
                          },
                          {
                            "name": "15",
                            "type": "text",
                            "label": "Date entry made (P)"
                          },
                          {
                            "name": "16",
                            "type": "text",
                            "label": "Formula Copy Down Status (Q)"
                          },
                          {
                            "name": "17",
                            "type": "text",
                            "label": "Event ID (R)"
                          },
                          {
                            "name": "18",
                            "type": "text",
                            "label": "Twitter ID (S)"
                          }
                        ],
                        "type": "collection",
                        "label": "Values"
                      }
                    ]
                  }
                }
              ]
            },
            {
              "flow": [
                {
                  "id": 26,
                  "module": "builtin:Ignore",
                  "version": 1,
                  "filter": {
                    "name": "All other errors",
                    "conditions": []
                  },
                  "metadata": {
                    "designer": {
                      "x": 1800,
                      "y": 600,
                      "name": "Ignore Duplicate Tweet Error"
                    }
                  }
                }
              ]
            }
          ]
        }
      ]
    },
    {
      "id": 3,
      "module": "google-sheets:updateRow",
      "version": 2,
      "parameters": {
        "__IMTCONN__": 111111
      },
      "mapper": {
        "mode": "select",
        "values": {
          "18": "{{2.id_str}}"
        },
        "sheetId": "YOUR SHEET NAME",
        "rowNumber": "{{1.`__ROW_NUMBER__`}}",
        "spreadsheetId": "YOUR SHEET ID",
        "includesHeaders": true,
        "valueInputOption": "USER_ENTERED"
      },
      "metadata": {
        "designer": {
          "x": 1500,
          "y": 0,
          "name": "Add Tweet ID to Spreadsheet"
        },
        "restore": {
          "mode": {
            "label": "Select spreadsheet and sheet"
          },
          "sheetId": {
            "label": "YOUR SHEET NAME"
          },
          "__IMTCONN__": {
            "label": "My Google connection (YOUR ACCOUNT ID)"
          },
          "spreadsheetId": {
            "label": "WORKSHEET NAME"
          },
          "includesHeaders": {
            "label": "Yes"
          },
          "valueInputOption": {
            "mode": "chose",
            "label": "User entered"
          }
        },
        "parameters": [
          {
            "name": "__IMTCONN__",
            "type": "account",
            "label": "Connection",
            "required": true
          }
        ],
        "expect": [
          {
            "name": "mode",
            "type": "select",
            "label": "Mode",
            "required": true,
            "validate": {
              "enum": [
                "select",
                "map"
              ]
            }
          },
          {
            "name": "valueInputOption",
            "type": "select",
            "label": "Value input option",
            "validate": {
              "enum": [
                "USER_ENTERED",
                "RAW"
              ]
            }
          },
          {
            "name": "spreadsheetId",
            "type": "select",
            "label": "Spreadsheet",
            "required": true
          },
          {
            "name": "sheetId",
            "type": "select",
            "label": "Sheet",
            "required": true
          },
          {
            "name": "rowNumber",
            "type": "uinteger",
            "label": "Row number",
            "required": true
          },
          {
            "name": "includesHeaders",
            "type": "select",
            "label": "Table contains headers",
            "required": true,
            "validate": {
              "enum": [
                true,
                false
              ]
            }
          },
          {
            "name": "values",
            "spec": [
              {
                "name": "0",
                "type": "text",
                "label": "Timestamp (A)"
              },
              {
                "name": "1",
                "type": "text",
                "label": "Event title (B)"
              },
              {
                "name": "2",
                "type": "text",
                "label": "Location (C)"
              },
              {
                "name": "3",
                "type": "text",
                "label": "Start Date (D)"
              },
              {
                "name": "4",
                "type": "text",
                "label": "Start Time (E)"
              },
              {
                "name": "5",
                "type": "text",
                "label": "End Date (F)"
              },
              {
                "name": "6",
                "type": "text",
                "label": "End Time (G)"
              },
              {
                "name": "7",
                "type": "text",
                "label": "URL (H)"
              },
              {
                "name": "8",
                "type": "text",
                "label": "Description (I)"
              },
              {
                "name": "9",
                "type": "text",
                "label": "FormattedEventName (J)"
              },
              {
                "name": "10",
                "type": "text",
                "label": "FormattedStart (K)"
              },
              {
                "name": "11",
                "type": "text",
                "label": "FormattedEnd (L)"
              },
              {
                "name": "12",
                "type": "text",
                "label": "Pushed to Calendar (M)"
              },
              {
                "name": "13",
                "type": "text",
                "label": "CalendarEventCreated(ID) (N)"
              },
              {
                "name": "14",
                "type": "text",
                "label": "last action (O)"
              },
              {
                "name": "15",
                "type": "text",
                "label": "Date entry made (P)"
              },
              {
                "name": "16",
                "type": "text",
                "label": "Formula Copy Down Status (Q)"
              },
              {
                "name": "17",
                "type": "text",
                "label": "Event ID (R)"
              },
              {
                "name": "18",
                "type": "text",
                "label": "Twitter ID (S)"
              }
            ],
            "type": "collection",
            "label": "Values"
          }
        ]
      }
    }
  ],
  "metadata": {
    "version": 1,
    "scenario": {
      "roundtrips": 1,
      "maxErrors": 3,
      "autoCommit": false,
      "sequential": false,
      "confidential": false,
      "dataloss": false,
      "dlq": true
    },
    "designer": {
      "orphans": []
    },
    "zone": "eu1.integromat.com"
  }
}