Documents/Processes/5_Newsletter Automations/Email Newsletter.json
{
    "name": "Email Newsletter",
    "flow": [
        {
            "id": 2,
            "module": "google-sheets:filterRows",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 388472
            },
            "mapper": {
                "orderBy": "G",
                "sheetId": "Form responses 8",
                "fieldType": "string",
                "sortOrder": "asc",
                "spreadsheetId": "GOOGLE SHEET ID",
                "tableFirstRow": "A1:CZ1",
                "includesHeaders": true,
                "valueRenderOption": "UNFORMATTED_VALUE",
                "dateTimeRenderOption": "FORMATTED_STRING"
            },
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0,
                    "name": "Get Current Month Events"
                },
                "restore": {
                    "orderBy": {
                        "mode": "chose",
                        "label": "Start Date&Time (G)"
                    },
                    "sheetId": {
                        "mode": "chose",
                        "label": "Form responses 8"
                    },
                    "fieldType": {
                        "mode": "chose",
                        "label": "String"
                    },
                    "sortOrder": {
                        "mode": "chose",
                        "label": "Ascending"
                    },
                    "__IMTCONN__": {
                        "label": "My Google connection ()"
                    },
                    "spreadsheetId": {
                        "mode": "chose",
                        "label": "CalPush_repro2020"
                    },
                    "tableFirstRow": {
                        "label": "A-CZ"
                    },
                    "includesHeaders": {
                        "mode": "chose",
                        "label": "Yes"
                    },
                    "valueRenderOption": {
                        "mode": "chose",
                        "label": "Unformatted value"
                    },
                    "dateTimeRenderOption": {
                        "mode": "chose",
                        "label": "Formatted string"
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "spreadsheetId",
                        "type": "select",
                        "label": "Spreadsheet",
                        "required": true
                    },
                    {
                        "name": "valueRenderOption",
                        "type": "select",
                        "label": "Value render option",
                        "validate": {
                            "enum": [
                                "FORMATTED_VALUE",
                                "UNFORMATTED_VALUE",
                                "FORMULA"
                            ]
                        }
                    },
                    {
                        "name": "dateTimeRenderOption",
                        "type": "select",
                        "label": "Date and time render option",
                        "validate": {
                            "enum": [
                                "SERIAL_NUMBER",
                                "FORMATTED_STRING"
                            ]
                        }
                    },
                    {
                        "name": "limit",
                        "type": "number",
                        "label": "Maximum number of returned rows"
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet",
                        "required": true
                    },
                    {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "tableFirstRow",
                        "type": "select",
                        "label": "Column range",
                        "required": true,
                        "validate": {
                            "enum": [
                                "A1:Z1",
                                "A1:BZ1",
                                "A1:CZ1",
                                "A1:DZ1",
                                "A1:MZ1",
                                "A1:ZZ1"
                            ]
                        }
                    },
                    {
                        "name": "filter",
                        "type": "filter",
                        "label": "Filter",
                        "options": {
                            "store": "rpc://google-sheets@2/rpcGetFilterKeys?includesHeaders=true"
                        }
                    },
                    {
                        "name": "sortOrder",
                        "type": "select",
                        "label": "Sort order",
                        "validate": {
                            "enum": [
                                "asc",
                                "desc"
                            ]
                        }
                    },
                    {
                        "name": "orderBy",
                        "type": "select",
                        "label": "Order by"
                    },
                    {
                        "name": "fieldType",
                        "type": "select",
                        "label": "Field Type",
                        "validate": {
                            "enum": [
                                "string",
                                "number",
                                "date"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "__IMTLENGTH__",
                        "type": "uinteger",
                        "label": "Total number of bundles"
                    },
                    {
                        "name": "__IMTINDEX__",
                        "type": "uinteger",
                        "label": "Bundle order position"
                    },
                    {
                        "name": "__ROW_NUMBER__",
                        "type": "number",
                        "label": "Row number"
                    },
                    {
                        "name": "__SPREADSHEET_ID__",
                        "type": "text",
                        "label": "Spreadsheet ID"
                    },
                    {
                        "name": "__SHEET__",
                        "type": "text",
                        "label": "Sheet"
                    },
                    {
                        "name": "0",
                        "type": "text",
                        "label": "Timestamp (A)"
                    },
                    {
                        "name": "1",
                        "type": "text",
                        "label": "Event title (B)"
                    },
                    {
                        "name": "2",
                        "type": "text",
                        "label": "Location (C)"
                    },
                    {
                        "name": "3",
                        "type": "text",
                        "label": "URL (D)"
                    },
                    {
                        "name": "4",
                        "type": "text",
                        "label": "Description (E)"
                    },
                    {
                        "name": "5",
                        "type": "text",
                        "label": "Timezone (F)"
                    },
                    {
                        "name": "6",
                        "type": "text",
                        "label": "Start Date&Time (G)"
                    },
                    {
                        "name": "7",
                        "type": "text",
                        "label": "End Date&Time (H)"
                    },
                    {
                        "name": "8",
                        "type": "text",
                        "label": "FormattedEventName (I)"
                    },
                    {
                        "name": "9",
                        "type": "text",
                        "label": "UTCStart (J)"
                    },
                    {
                        "name": "10",
                        "type": "text",
                        "label": "UTCEnd (K)"
                    },
                    {
                        "name": "11",
                        "type": "text",
                        "label": "Pushed to Calendar (L)"
                    },
                    {
                        "name": "12",
                        "type": "text",
                        "label": "CalendarEventCreated(ID) (M)"
                    },
                    {
                        "name": "13",
                        "type": "text",
                        "label": "last action (N)"
                    },
                    {
                        "name": "14",
                        "type": "text",
                        "label": "Date entry made (O)"
                    },
                    {
                        "name": "15",
                        "type": "text",
                        "label": "Event ID (P)"
                    },
                    {
                        "name": "16",
                        "type": "text",
                        "label": "Twitter ID (Q)"
                    },
                    {
                        "name": "17",
                        "type": "text",
                        "label": "(R)"
                    },
                    {
                        "name": "18",
                        "type": "text",
                        "label": "(S)"
                    },
                    {
                        "name": "19",
                        "type": "text",
                        "label": "(T)"
                    },
                    {
                        "name": "20",
                        "type": "text",
                        "label": "(U)"
                    },
                    {
                        "name": "21",
                        "type": "text",
                        "label": "(V)"
                    },
                    {
                        "name": "22",
                        "type": "text",
                        "label": "(W)"
                    },
                    {
                        "name": "23",
                        "type": "text",
                        "label": "(X)"
                    },
                    {
                        "name": "24",
                        "type": "text",
                        "label": "(Y)"
                    },
                    {
                        "name": "25",
                        "type": "text",
                        "label": "(Z)"
                    },
                    {
                        "name": "26",
                        "type": "text",
                        "label": "(AA)"
                    },
                    {
                        "name": "27",
                        "type": "text",
                        "label": "(AB)"
                    },
                    {
                        "name": "28",
                        "type": "text",
                        "label": "(AC)"
                    },
                    {
                        "name": "29",
                        "type": "text",
                        "label": "(AD)"
                    },
                    {
                        "name": "30",
                        "type": "text",
                        "label": "(AE)"
                    },
                    {
                        "name": "31",
                        "type": "text",
                        "label": "(AF)"
                    },
                    {
                        "name": "32",
                        "type": "text",
                        "label": "(AG)"
                    },
                    {
                        "name": "33",
                        "type": "text",
                        "label": "(AH)"
                    },
                    {
                        "name": "34",
                        "type": "text",
                        "label": "(AI)"
                    },
                    {
                        "name": "35",
                        "type": "text",
                        "label": "(AJ)"
                    },
                    {
                        "name": "36",
                        "type": "text",
                        "label": "(AK)"
                    },
                    {
                        "name": "37",
                        "type": "text",
                        "label": "(AL)"
                    },
                    {
                        "name": "38",
                        "type": "text",
                        "label": "(AM)"
                    },
                    {
                        "name": "39",
                        "type": "text",
                        "label": "(AN)"
                    },
                    {
                        "name": "40",
                        "type": "text",
                        "label": "(AO)"
                    },
                    {
                        "name": "41",
                        "type": "text",
                        "label": "(AP)"
                    },
                    {
                        "name": "42",
                        "type": "text",
                        "label": "(AQ)"
                    },
                    {
                        "name": "43",
                        "type": "text",
                        "label": "(AR)"
                    },
                    {
                        "name": "44",
                        "type": "text",
                        "label": "(AS)"
                    },
                    {
                        "name": "45",
                        "type": "text",
                        "label": "(AT)"
                    },
                    {
                        "name": "46",
                        "type": "text",
                        "label": "(AU)"
                    },
                    {
                        "name": "47",
                        "type": "text",
                        "label": "(AV)"
                    },
                    {
                        "name": "48",
                        "type": "text",
                        "label": "(AW)"
                    },
                    {
                        "name": "49",
                        "type": "text",
                        "label": "(AX)"
                    },
                    {
                        "name": "50",
                        "type": "text",
                        "label": "(AY)"
                    },
                    {
                        "name": "51",
                        "type": "text",
                        "label": "(AZ)"
                    },
                    {
                        "name": "52",
                        "type": "text",
                        "label": "(BA)"
                    },
                    {
                        "name": "53",
                        "type": "text",
                        "label": "(BB)"
                    },
                    {
                        "name": "54",
                        "type": "text",
                        "label": "(BC)"
                    },
                    {
                        "name": "55",
                        "type": "text",
                        "label": "(BD)"
                    },
                    {
                        "name": "56",
                        "type": "text",
                        "label": "(BE)"
                    },
                    {
                        "name": "57",
                        "type": "text",
                        "label": "(BF)"
                    },
                    {
                        "name": "58",
                        "type": "text",
                        "label": "(BG)"
                    },
                    {
                        "name": "59",
                        "type": "text",
                        "label": "(BH)"
                    },
                    {
                        "name": "60",
                        "type": "text",
                        "label": "(BI)"
                    },
                    {
                        "name": "61",
                        "type": "text",
                        "label": "(BJ)"
                    },
                    {
                        "name": "62",
                        "type": "text",
                        "label": "(BK)"
                    },
                    {
                        "name": "63",
                        "type": "text",
                        "label": "(BL)"
                    },
                    {
                        "name": "64",
                        "type": "text",
                        "label": "(BM)"
                    },
                    {
                        "name": "65",
                        "type": "text",
                        "label": "(BN)"
                    },
                    {
                        "name": "66",
                        "type": "text",
                        "label": "(BO)"
                    },
                    {
                        "name": "67",
                        "type": "text",
                        "label": "(BP)"
                    },
                    {
                        "name": "68",
                        "type": "text",
                        "label": "(BQ)"
                    },
                    {
                        "name": "69",
                        "type": "text",
                        "label": "(BR)"
                    },
                    {
                        "name": "70",
                        "type": "text",
                        "label": "(BS)"
                    },
                    {
                        "name": "71",
                        "type": "text",
                        "label": "(BT)"
                    },
                    {
                        "name": "72",
                        "type": "text",
                        "label": "(BU)"
                    },
                    {
                        "name": "73",
                        "type": "text",
                        "label": "(BV)"
                    },
                    {
                        "name": "74",
                        "type": "text",
                        "label": "(BW)"
                    },
                    {
                        "name": "75",
                        "type": "text",
                        "label": "(BX)"
                    },
                    {
                        "name": "76",
                        "type": "text",
                        "label": "(BY)"
                    },
                    {
                        "name": "77",
                        "type": "text",
                        "label": "(BZ)"
                    },
                    {
                        "name": "78",
                        "type": "text",
                        "label": "(CA)"
                    },
                    {
                        "name": "79",
                        "type": "text",
                        "label": "(CB)"
                    },
                    {
                        "name": "80",
                        "type": "text",
                        "label": "(CC)"
                    },
                    {
                        "name": "81",
                        "type": "text",
                        "label": "(CD)"
                    },
                    {
                        "name": "82",
                        "type": "text",
                        "label": "(CE)"
                    },
                    {
                        "name": "83",
                        "type": "text",
                        "label": "(CF)"
                    },
                    {
                        "name": "84",
                        "type": "text",
                        "label": "(CG)"
                    },
                    {
                        "name": "85",
                        "type": "text",
                        "label": "(CH)"
                    },
                    {
                        "name": "86",
                        "type": "text",
                        "label": "(CI)"
                    },
                    {
                        "name": "87",
                        "type": "text",
                        "label": "(CJ)"
                    },
                    {
                        "name": "88",
                        "type": "text",
                        "label": "(CK)"
                    },
                    {
                        "name": "89",
                        "type": "text",
                        "label": "(CL)"
                    },
                    {
                        "name": "90",
                        "type": "text",
                        "label": "(CM)"
                    },
                    {
                        "name": "91",
                        "type": "text",
                        "label": "(CN)"
                    },
                    {
                        "name": "92",
                        "type": "text",
                        "label": "(CO)"
                    },
                    {
                        "name": "93",
                        "type": "text",
                        "label": "(CP)"
                    },
                    {
                        "name": "94",
                        "type": "text",
                        "label": "(CQ)"
                    },
                    {
                        "name": "95",
                        "type": "text",
                        "label": "(CR)"
                    },
                    {
                        "name": "96",
                        "type": "text",
                        "label": "(CS)"
                    },
                    {
                        "name": "97",
                        "type": "text",
                        "label": "(CT)"
                    },
                    {
                        "name": "98",
                        "type": "text",
                        "label": "(CU)"
                    },
                    {
                        "name": "99",
                        "type": "text",
                        "label": "(CV)"
                    },
                    {
                        "name": "100",
                        "type": "text",
                        "label": "(CW)"
                    },
                    {
                        "name": "101",
                        "type": "text",
                        "label": "(CX)"
                    },
                    {
                        "name": "102",
                        "type": "text",
                        "label": "(CY)"
                    },
                    {
                        "name": "103",
                        "type": "text",
                        "label": "(CZ)"
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 37,
            "module": "builtin:BasicAggregator",
            "version": 1,
            "parameters": {
                "feeder": 2
            },
            "filter": {
                "name": "",
                "conditions": [
                    [
                        {
                            "a": "{{formatDate(parseDate(2.`6`; \"DD/MM/YYYY HH:mm\"); \"MM\")}}",
                            "b": "{{formatDate(now; \"MM\")}}",
                            "o": "text:equal"
                        }
                    ]
                ]
            },
            "mapper": {
                "1": "{{2.`1`}}",
                "2": "{{2.`2`}}",
                "3": "{{2.`3`}}",
                "6": "{{2.`6`}}"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                },
                "restore": {
                    "feeder": {
                        "label": "Google Sheets - Search Rows [2]"
                    },
                    "mapper": {
                        "label": [
                            null,
                            null,
                            null,
                            null
                        ]
                    },
                    "target": {
                        "label": "Custom"
                    }
                }
            }
        },
        {
            "id": 39,
            "module": "builtin:BasicFeeder",
            "version": 1,
            "parameters": {},
            "mapper": {
                "array": "{{37.array}}"
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0
                },
                "restore": {
                    "array": {
                        "mode": "edit"
                    }
                },
                "expect": [
                    {
                        "mode": "edit",
                        "name": "array",
                        "spec": [],
                        "type": "array",
                        "label": "Array"
                    }
                ]
            }
        },
        {
            "id": 35,
            "module": "util:TextAggregator",
            "version": 1,
            "parameters": {
                "feeder": 37,
                "rowSeparator": ""
            },
            "mapper": {
                "value": "<li style=\"text-align: left; font-family: helvetica,sans-serif; color: rgb(81, 103, 117); font-size: 14px\"><span style=\"color: #516775; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 700; letter-spacing: normal; orphans: 2; text-align: center; text-indent: 0px; text-transform: none; white-space: pre-wrap; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial; float: none; display: inline; font-size: 14px; font-family: helvetica,sans-serif\">{{39.`1`}} ({{39.`2`}}) - <em>{{formatDate(parseDate(39.`6`; \"DD/MM/YYYY hh:mm:ss\"); \"DD MMM YYYY\")}}</em> - <a href=\"{{39.`3`}}\" target=\"_blank\" rel=\"noopener\">Event Link</a></span></li>"
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 0,
                    "name": "Current Month"
                },
                "restore": {
                    "feeder": {
                        "label": "Array aggregator [37]"
                    },
                    "rowSeparator": {
                        "label": ""
                    }
                },
                "parameters": [
                    {
                        "name": "rowSeparator",
                        "type": "select",
                        "label": "Row separator",
                        "validate": {
                            "enum": [
                                "\n",
                                "\t",
                                "other"
                            ]
                        }
                    }
                ],
                "expect": [
                    {
                        "name": "value",
                        "type": "text",
                        "label": "Text",
                        "multiline": true
                    }
                ]
            }
        },
        {
            "id": 48,
            "module": "google-sheets:filterRows",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 388472
            },
            "mapper": {
                "orderBy": "G",
                "sheetId": "Form responses 8",
                "fieldType": "string",
                "sortOrder": "asc",
                "spreadsheetId": "GOOGLE SHEET ID",
                "tableFirstRow": "A1:CZ1",
                "includesHeaders": true,
                "valueRenderOption": "UNFORMATTED_VALUE",
                "dateTimeRenderOption": "FORMATTED_STRING"
            },
            "metadata": {
                "designer": {
                    "x": 1200,
                    "y": 0,
                    "name": "Get Next Month Events"
                },
                "restore": {
                    "orderBy": {
                        "mode": "chose",
                        "label": "Start Date&Time (G)"
                    },
                    "sheetId": {
                        "mode": "chose",
                        "label": "Form responses 8"
                    },
                    "fieldType": {
                        "mode": "chose",
                        "label": "String"
                    },
                    "sortOrder": {
                        "mode": "chose",
                        "label": "Ascending"
                    },
                    "__IMTCONN__": {
                        "label": "My Google connection ()"
                    },
                    "spreadsheetId": {
                        "mode": "chose",
                        "label": "CalPush_repro2020"
                    },
                    "tableFirstRow": {
                        "label": "A-CZ"
                    },
                    "includesHeaders": {
                        "mode": "chose",
                        "label": "Yes"
                    },
                    "valueRenderOption": {
                        "mode": "chose",
                        "label": "Unformatted value"
                    },
                    "dateTimeRenderOption": {
                        "mode": "chose",
                        "label": "Formatted string"
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "spreadsheetId",
                        "type": "select",
                        "label": "Spreadsheet",
                        "required": true
                    },
                    {
                        "name": "valueRenderOption",
                        "type": "select",
                        "label": "Value render option",
                        "validate": {
                            "enum": [
                                "FORMATTED_VALUE",
                                "UNFORMATTED_VALUE",
                                "FORMULA"
                            ]
                        }
                    },
                    {
                        "name": "dateTimeRenderOption",
                        "type": "select",
                        "label": "Date and time render option",
                        "validate": {
                            "enum": [
                                "SERIAL_NUMBER",
                                "FORMATTED_STRING"
                            ]
                        }
                    },
                    {
                        "name": "limit",
                        "type": "number",
                        "label": "Maximum number of returned rows"
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet",
                        "required": true
                    },
                    {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "tableFirstRow",
                        "type": "select",
                        "label": "Column range",
                        "required": true,
                        "validate": {
                            "enum": [
                                "A1:Z1",
                                "A1:BZ1",
                                "A1:CZ1",
                                "A1:DZ1",
                                "A1:MZ1",
                                "A1:ZZ1"
                            ]
                        }
                    },
                    {
                        "name": "filter",
                        "type": "filter",
                        "label": "Filter",
                        "options": {
                            "store": "rpc://google-sheets@2/rpcGetFilterKeys?includesHeaders=true"
                        }
                    },
                    {
                        "name": "sortOrder",
                        "type": "select",
                        "label": "Sort order",
                        "validate": {
                            "enum": [
                                "asc",
                                "desc"
                            ]
                        }
                    },
                    {
                        "name": "orderBy",
                        "type": "select",
                        "label": "Order by"
                    },
                    {
                        "name": "fieldType",
                        "type": "select",
                        "label": "Field Type",
                        "validate": {
                            "enum": [
                                "string",
                                "number",
                                "date"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "__ROW_NUMBER__",
                        "type": "number",
                        "label": "Row number"
                    },
                    {
                        "name": "__SPREADSHEET_ID__",
                        "type": "text",
                        "label": "Spreadsheet ID"
                    },
                    {
                        "name": "__SHEET__",
                        "type": "text",
                        "label": "Sheet"
                    },
                    {
                        "name": "0",
                        "type": "text",
                        "label": "Timestamp (A)"
                    },
                    {
                        "name": "1",
                        "type": "text",
                        "label": "Event title (B)"
                    },
                    {
                        "name": "2",
                        "type": "text",
                        "label": "Location (C)"
                    },
                    {
                        "name": "3",
                        "type": "text",
                        "label": "URL (D)"
                    },
                    {
                        "name": "4",
                        "type": "text",
                        "label": "Description (E)"
                    },
                    {
                        "name": "5",
                        "type": "text",
                        "label": "Timezone (F)"
                    },
                    {
                        "name": "6",
                        "type": "text",
                        "label": "Start Date&Time (G)"
                    },
                    {
                        "name": "7",
                        "type": "text",
                        "label": "End Date&Time (H)"
                    },
                    {
                        "name": "8",
                        "type": "text",
                        "label": "FormattedEventName (I)"
                    },
                    {
                        "name": "9",
                        "type": "text",
                        "label": "UTCStart (J)"
                    },
                    {
                        "name": "10",
                        "type": "text",
                        "label": "UTCEnd (K)"
                    },
                    {
                        "name": "11",
                        "type": "text",
                        "label": "Pushed to Calendar (L)"
                    },
                    {
                        "name": "12",
                        "type": "text",
                        "label": "CalendarEventCreated(ID) (M)"
                    },
                    {
                        "name": "13",
                        "type": "text",
                        "label": "last action (N)"
                    },
                    {
                        "name": "14",
                        "type": "text",
                        "label": "Date entry made (O)"
                    },
                    {
                        "name": "15",
                        "type": "text",
                        "label": "Event ID (P)"
                    },
                    {
                        "name": "16",
                        "type": "text",
                        "label": "Twitter ID (Q)"
                    },
                    {
                        "name": "17",
                        "type": "text",
                        "label": "(R)"
                    },
                    {
                        "name": "18",
                        "type": "text",
                        "label": "(S)"
                    },
                    {
                        "name": "19",
                        "type": "text",
                        "label": "(T)"
                    },
                    {
                        "name": "20",
                        "type": "text",
                        "label": "(U)"
                    },
                    {
                        "name": "21",
                        "type": "text",
                        "label": "(V)"
                    },
                    {
                        "name": "22",
                        "type": "text",
                        "label": "(W)"
                    },
                    {
                        "name": "23",
                        "type": "text",
                        "label": "(X)"
                    },
                    {
                        "name": "24",
                        "type": "text",
                        "label": "(Y)"
                    },
                    {
                        "name": "25",
                        "type": "text",
                        "label": "(Z)"
                    },
                    {
                        "name": "26",
                        "type": "text",
                        "label": "(AA)"
                    },
                    {
                        "name": "27",
                        "type": "text",
                        "label": "(AB)"
                    },
                    {
                        "name": "28",
                        "type": "text",
                        "label": "(AC)"
                    },
                    {
                        "name": "29",
                        "type": "text",
                        "label": "(AD)"
                    },
                    {
                        "name": "30",
                        "type": "text",
                        "label": "(AE)"
                    },
                    {
                        "name": "31",
                        "type": "text",
                        "label": "(AF)"
                    },
                    {
                        "name": "32",
                        "type": "text",
                        "label": "(AG)"
                    },
                    {
                        "name": "33",
                        "type": "text",
                        "label": "(AH)"
                    },
                    {
                        "name": "34",
                        "type": "text",
                        "label": "(AI)"
                    },
                    {
                        "name": "35",
                        "type": "text",
                        "label": "(AJ)"
                    },
                    {
                        "name": "36",
                        "type": "text",
                        "label": "(AK)"
                    },
                    {
                        "name": "37",
                        "type": "text",
                        "label": "(AL)"
                    },
                    {
                        "name": "38",
                        "type": "text",
                        "label": "(AM)"
                    },
                    {
                        "name": "39",
                        "type": "text",
                        "label": "(AN)"
                    },
                    {
                        "name": "40",
                        "type": "text",
                        "label": "(AO)"
                    },
                    {
                        "name": "41",
                        "type": "text",
                        "label": "(AP)"
                    },
                    {
                        "name": "42",
                        "type": "text",
                        "label": "(AQ)"
                    },
                    {
                        "name": "43",
                        "type": "text",
                        "label": "(AR)"
                    },
                    {
                        "name": "44",
                        "type": "text",
                        "label": "(AS)"
                    },
                    {
                        "name": "45",
                        "type": "text",
                        "label": "(AT)"
                    },
                    {
                        "name": "46",
                        "type": "text",
                        "label": "(AU)"
                    },
                    {
                        "name": "47",
                        "type": "text",
                        "label": "(AV)"
                    },
                    {
                        "name": "48",
                        "type": "text",
                        "label": "(AW)"
                    },
                    {
                        "name": "49",
                        "type": "text",
                        "label": "(AX)"
                    },
                    {
                        "name": "50",
                        "type": "text",
                        "label": "(AY)"
                    },
                    {
                        "name": "51",
                        "type": "text",
                        "label": "(AZ)"
                    },
                    {
                        "name": "52",
                        "type": "text",
                        "label": "(BA)"
                    },
                    {
                        "name": "53",
                        "type": "text",
                        "label": "(BB)"
                    },
                    {
                        "name": "54",
                        "type": "text",
                        "label": "(BC)"
                    },
                    {
                        "name": "55",
                        "type": "text",
                        "label": "(BD)"
                    },
                    {
                        "name": "56",
                        "type": "text",
                        "label": "(BE)"
                    },
                    {
                        "name": "57",
                        "type": "text",
                        "label": "(BF)"
                    },
                    {
                        "name": "58",
                        "type": "text",
                        "label": "(BG)"
                    },
                    {
                        "name": "59",
                        "type": "text",
                        "label": "(BH)"
                    },
                    {
                        "name": "60",
                        "type": "text",
                        "label": "(BI)"
                    },
                    {
                        "name": "61",
                        "type": "text",
                        "label": "(BJ)"
                    },
                    {
                        "name": "62",
                        "type": "text",
                        "label": "(BK)"
                    },
                    {
                        "name": "63",
                        "type": "text",
                        "label": "(BL)"
                    },
                    {
                        "name": "64",
                        "type": "text",
                        "label": "(BM)"
                    },
                    {
                        "name": "65",
                        "type": "text",
                        "label": "(BN)"
                    },
                    {
                        "name": "66",
                        "type": "text",
                        "label": "(BO)"
                    },
                    {
                        "name": "67",
                        "type": "text",
                        "label": "(BP)"
                    },
                    {
                        "name": "68",
                        "type": "text",
                        "label": "(BQ)"
                    },
                    {
                        "name": "69",
                        "type": "text",
                        "label": "(BR)"
                    },
                    {
                        "name": "70",
                        "type": "text",
                        "label": "(BS)"
                    },
                    {
                        "name": "71",
                        "type": "text",
                        "label": "(BT)"
                    },
                    {
                        "name": "72",
                        "type": "text",
                        "label": "(BU)"
                    },
                    {
                        "name": "73",
                        "type": "text",
                        "label": "(BV)"
                    },
                    {
                        "name": "74",
                        "type": "text",
                        "label": "(BW)"
                    },
                    {
                        "name": "75",
                        "type": "text",
                        "label": "(BX)"
                    },
                    {
                        "name": "76",
                        "type": "text",
                        "label": "(BY)"
                    },
                    {
                        "name": "77",
                        "type": "text",
                        "label": "(BZ)"
                    },
                    {
                        "name": "78",
                        "type": "text",
                        "label": "(CA)"
                    },
                    {
                        "name": "79",
                        "type": "text",
                        "label": "(CB)"
                    },
                    {
                        "name": "80",
                        "type": "text",
                        "label": "(CC)"
                    },
                    {
                        "name": "81",
                        "type": "text",
                        "label": "(CD)"
                    },
                    {
                        "name": "82",
                        "type": "text",
                        "label": "(CE)"
                    },
                    {
                        "name": "83",
                        "type": "text",
                        "label": "(CF)"
                    },
                    {
                        "name": "84",
                        "type": "text",
                        "label": "(CG)"
                    },
                    {
                        "name": "85",
                        "type": "text",
                        "label": "(CH)"
                    },
                    {
                        "name": "86",
                        "type": "text",
                        "label": "(CI)"
                    },
                    {
                        "name": "87",
                        "type": "text",
                        "label": "(CJ)"
                    },
                    {
                        "name": "88",
                        "type": "text",
                        "label": "(CK)"
                    },
                    {
                        "name": "89",
                        "type": "text",
                        "label": "(CL)"
                    },
                    {
                        "name": "90",
                        "type": "text",
                        "label": "(CM)"
                    },
                    {
                        "name": "91",
                        "type": "text",
                        "label": "(CN)"
                    },
                    {
                        "name": "92",
                        "type": "text",
                        "label": "(CO)"
                    },
                    {
                        "name": "93",
                        "type": "text",
                        "label": "(CP)"
                    },
                    {
                        "name": "94",
                        "type": "text",
                        "label": "(CQ)"
                    },
                    {
                        "name": "95",
                        "type": "text",
                        "label": "(CR)"
                    },
                    {
                        "name": "96",
                        "type": "text",
                        "label": "(CS)"
                    },
                    {
                        "name": "97",
                        "type": "text",
                        "label": "(CT)"
                    },
                    {
                        "name": "98",
                        "type": "text",
                        "label": "(CU)"
                    },
                    {
                        "name": "99",
                        "type": "text",
                        "label": "(CV)"
                    },
                    {
                        "name": "100",
                        "type": "text",
                        "label": "(CW)"
                    },
                    {
                        "name": "101",
                        "type": "text",
                        "label": "(CX)"
                    },
                    {
                        "name": "102",
                        "type": "text",
                        "label": "(CY)"
                    },
                    {
                        "name": "103",
                        "type": "text",
                        "label": "(CZ)"
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 45,
            "module": "builtin:BasicAggregator",
            "version": 1,
            "parameters": {
                "feeder": 48
            },
            "filter": {
                "name": "",
                "conditions": [
                    [
                        {
                            "a": "{{formatDate(parseDate(48.`6`; \"DD/MM/YYYY HH:mm\"); \"MM\")}}",
                            "b": "{{formatDate(addMonths(now; 1); \"MM\")}}",
                            "o": "text:equal"
                        }
                    ]
                ]
            },
            "mapper": {
                "1": "{{48.`1`}}",
                "2": "{{48.`2`}}",
                "3": "{{48.`3`}}",
                "6": "{{48.`6`}}"
            },
            "metadata": {
                "designer": {
                    "x": 1500,
                    "y": 0
                },
                "restore": {
                    "feeder": {
                        "label": "Get Next Month Events - Search Rows [48]"
                    },
                    "mapper": {
                        "label": [
                            null,
                            null,
                            null,
                            null
                        ]
                    },
                    "target": {
                        "label": "Custom"
                    }
                }
            }
        },
        {
            "id": 46,
            "module": "builtin:BasicFeeder",
            "version": 1,
            "parameters": {},
            "mapper": {
                "array": "{{45.array}}"
            },
            "metadata": {
                "designer": {
                    "x": 1800,
                    "y": 0
                },
                "restore": {
                    "array": {
                        "mode": "edit"
                    }
                },
                "expect": [
                    {
                        "mode": "edit",
                        "name": "array",
                        "spec": [],
                        "type": "array",
                        "label": "Array"
                    }
                ]
            }
        },
        {
            "id": 47,
            "module": "util:TextAggregator",
            "version": 1,
            "parameters": {
                "feeder": 45,
                "rowSeparator": ""
            },
            "mapper": {
                "value": "<li style=\"text-align: left; font-family: helvetica,sans-serif; color: rgb(81, 103, 117); font-size: 14px\"><span style=\"color: #516775; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 700; letter-spacing: normal; orphans: 2; text-align: center; text-indent: 0px; text-transform: none; white-space: pre-wrap; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial; float: none; display: inline; font-size: 14px; font-family: helvetica,sans-serif\">{{46.`1`}} ({{46.`2`}}) - <em>{{formatDate(parseDate(46.`6`; \"DD/MM/YYYY hh:mm:ss\"); \"DD MMM YYYY\")}}</em> - <a href=\"{{46.`3`}}\" target=\"_blank\" rel=\"noopener\">Event Link</a></span></li>"
            },
            "metadata": {
                "designer": {
                    "x": 2100,
                    "y": 0,
                    "name": "Next Month"
                },
                "restore": {
                    "feeder": {
                        "label": "Array aggregator [37]"
                    },
                    "rowSeparator": {
                        "label": ""
                    }
                },
                "parameters": [
                    {
                        "name": "rowSeparator",
                        "type": "select",
                        "label": "Row separator",
                        "validate": {
                            "enum": [
                                "\n",
                                "\t",
                                "other"
                            ]
                        }
                    }
                ],
                "expect": [
                    {
                        "name": "value",
                        "type": "text",
                        "label": "Text",
                        "multiline": true
                    }
                ]
            }
        },
        {
            "id": 49,
            "module": "github:ActionCreateFile",
            "version": 3,
            "parameters": {
                "account": 388473
            },
            "mapper": {
                "sha": "{{sha512(formatDate(now; \"MMMM YY\"))}}",
                "data": "<!DOCTYPE html PUBLIC \"-//W3C//DTD XHTML 1.0 Strict//EN\" \"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd\"><html data-editor-version=\"2\" class=\"sg-campaigns\" xmlns=\"http://www.w3.org/1999/xhtml\">   <head>      <meta http-equiv=\"Content-Type\" content=\"text/html; charset=utf-8\">      <meta name=\"viewport\" content=\"width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1\">      <!--[if !mso]><!-->            <meta http-equiv=\"X-UA-Compatible\" content=\"IE=Edge\">      <!--<![endif]-->      <!--[if (gte mso 9)|(IE)]>            <xml>         <o:OfficeDocumentSettings>            <o:AllowPNG/>            <o:PixelsPerInch>96</o:PixelsPerInch>         </o:OfficeDocumentSettings>      </xml>      <![endif]-->      <!--[if (gte mso 9)|(IE)]>        <style type=\"text/css\">    body {width: 600px;margin: 0 auto;}    table {border-collapse: collapse;}    table, td {mso-table-lspace: 0pt;mso-table-rspace: 0pt;}    img {-ms-interpolation-mode: bicubic;}  </style>      <![endif]-->            <style type=\"text/css\">    body, p, div {      font-family: verdana,geneva,sans-serif;      font-size: 16px;    }    body {      color: #516775;    }    body a {      color: #f78212;      text-decoration: none;    }    p { margin: 0; padding: 0; }    table.wrapper {      width:100% !important;      table-layout: fixed;      -webkit-font-smoothing: antialiased;      -webkit-text-size-adjust: 100%;      -moz-text-size-adjust: 100%;      -ms-text-size-adjust: 100%;    }    img.max-width {      max-width: 100% !important;    }    .column.of-2 {      width: 50%;    }    .column.of-3 {      width: 33.333%;    }    .column.of-4 {      width: 25%;    }    ul ul ul ul  {      list-style-type: disc !important;    }    ol ol {      list-style-type: lower-roman !important;    }    ol ol ol {      list-style-type: lower-latin !important;    }    ol ol ol ol {      list-style-type: decimal !important;    }    @media screen and (max-width:480px) {      .preheader .rightColumnContent,      .footer .rightColumnContent {        text-align: left !important;      }      .preheader .rightColumnContent div,      .preheader .rightColumnContent span,      .footer .rightColumnContent div,      .footer .rightColumnContent span {        text-align: left !important;      }      .preheader .rightColumnContent,      .preheader .leftColumnContent {        font-size: 80% !important;        padding: 5px 0;      }      table.wrapper-mobile {        width: 100% !important;        table-layout: fixed;      }      img.max-width {        height: auto !important;        max-width: 100% !important;      }      a.bulletproof-button {        display: block !important;        width: auto !important;        font-size: 80%;        padding-left: 0 !important;        padding-right: 0 !important;      }      .columns {        width: 100% !important;      }      .column {        display: block !important;        width: 100% !important;        padding-left: 0 !important;        padding-right: 0 !important;        margin-left: 0 !important;        margin-right: 0 !important;      }      .social-icon-column {        display: inline-block !important;      }    }  </style>      <!--user entered Head Start-->     <!--End Head user entered-->       </head>   <body>      <center class=\"wrapper\" data-link-color=\"#993300\" data-body-style=\"font-size:16px; font-family:verdana,geneva,sans-serif; color:#516775; background-color:#fff7ed;\">         <div class=\"webkit\">            <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\" class=\"wrapper\" bgcolor=\"#fff7ed\">               <tr>                  <td valign=\"top\" bgcolor=\"#fff7ed\" width=\"100%\">                     <table width=\"100%\" role=\"content-container\" class=\"outer\" align=\"center\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">                        <tr>                           <td width=\"100%\">                              <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">                                 <tr>                                    <td>                                       <!--[if mso]>                                           <center>                                          <table>                                             <tr>                                                <td width=\"600\">                                                   <![endif]-->                                                                                       <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"width:100%; max-width:600px;\" align=\"center\">                                                      <tr>                                                         <td role=\"modules-container\" style=\"padding:0px 0px 0px 0px; color:#516775; text-align:left;\" bgcolor=\"#fff7ed\" width=\"100%\" align=\"left\">                                                            <table class=\"module preheader preheader-hide\" role=\"module\" data-type=\"preheader\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"display: none !important; mso-hide: all; visibility: hidden; opacity: 0; color: transparent; height: 0; width: 0;\">                                                               <tr>                                                                  <td role=\"module-content\">                                                                     <p>Your monthly update of Open Research events</p>                                                                  </td>                                                               </tr>                                                            </table>                                                            <table class=\"wrapper\" role=\"module\" data-type=\"image\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"table-layout: fixed;\" data-muid=\"qa8oMphYHuL7xyQrTVscgD\">                                                               <tbody>                                                                  <tr>                                                                     <td style=\"font-size:6px; line-height:10px; padding:30px 0px 0px 0px;\" valign=\"top\" align=\"center\"><img class=\"max-width\" border=\"0\" style=\"display:block; color:#000000; text-decoration:none; font-family:Helvetica, arial, sans-serif; font-size:16px; max-width:75% !important; width:75%; height:auto !important;\" src=\"http://cdn.mcauto-images-production.sendgrid.net/5dee916106620cd6/2fdf0779-7342-4d5f-92b4-9c1c651e5fa5/1451x516.png\" alt=\"Open Research Calendar Logo\" width=\"450\" data-responsive=\"true\" data-proportionally-constrained=\"false\"></td>                                                                  </tr>                                                               </tbody>                                                            </table>                                                            <table class=\"module\" role=\"module\" data-type=\"spacer\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"table-layout: fixed;\" data-muid=\"bdzDb4B4pnnez4W7L1KpxJ\">                                                               <tbody>                                                                  <tr>                                                                     <td style=\"padding:0px 0px 30px 0px;\" role=\"module-content\" bgcolor=\"\">        </td>                                                                  </tr>                                                               </tbody>                                                            </table>                                                            <table class=\"module\" role=\"module\" data-type=\"text\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"table-layout: fixed;\" data-muid=\"gNWHzBzkFeWH4JDKd2Aikk\" data-mc-module-version=\"2019-10-22\">                                                               <tbody>                                                                  <tr>                                                                     <td style=\"background-color:#ffffff; padding:10px 10px 10px 10px; line-height:25px; text-align:inherit;\" height=\"100%\" valign=\"top\" bgcolor=\"#ffffff\">                                                                        <div>                                                                           <div style=\"font-family: inherit; text-align: left\">Hi there 👋 <br> Here is your monthly automated newsletter. Do you want a free Open Research Calendar sticker? Request one <a href=\"https://docs.google.com/forms/d/e/1FAIpQLSemzXy9XdL5oCDzlNkqnBfUY3kn3AEe8fxPVAe7YKzC_TMyPg/viewform\" target=\"_blank\" rel=\"noopener\">here</a>.<br><br>Check out the events coming up in the next <strong>two months</strong> that have been submitted to the calendar.</div>                                                                          <div></div>                                                                        </div>                                                                     </td>                                                                  </tr>                                                               </tbody>                                                            </table>                                                            <table class=\"module\" role=\"module\" data-type=\"text\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"table-layout: fixed;\" data-muid=\"bA2FfEE6abadx6yKoMr3F9\" data-mc-module-version=\"2019-10-22\">                                                               <tbody>                                                                  <tr>                                                                     <td style=\"background-color:#ffffff; padding:10px 40px 50px 40px; line-height:22px; text-align:inherit;\" height=\"100%\" valign=\"top\" bgcolor=\"#ffffff\">                                                                        <h3>{{formatDate(now; \"MMMM\")}}</h3>                                                                        <ul>{{35.text}}</ul>                                                                     </td>                                                                  </tr>                                                               </tbody>                                                               <tbody>                                                                  <tr>                                                                     <td style=\"background-color:#ffffff; padding:10px 40px 50px 40px; line-height:22px; text-align:inherit;\" height=\"100%\" valign=\"top\" bgcolor=\"#ffffff\">                                                                        <h3>{{formatDate(addMonths(now; 1); \"MMMM\")}}</h3>                                                                        <ul>{{47.text}}</ul>                                                                     </td>                                                                  </tr>                                                               </tbody>                                                            </table>                                                            <table class=\"module\" role=\"module\" data-type=\"spacer\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"table-layout: fixed;\" data-muid=\"dnNq8YR2nu8DNzse1aZUWt\">                                                               <tbody>                                                                  <tr>                                                                     <td style=\"padding:0px 0px 30px 0px;\" role=\"module-content\" bgcolor=\"\">                                                               <tbody>                                                                  <tr>                                                                     <td style=\"padding:18px 0px 18px 0px; line-height:22px; text-align:inherit;\" height=\"100%\" valign=\"top\" bgcolor=\"\" role=\"module-content\">                                                                        <div style=\"font-family: inherit; text-align: inherit\"><span style=\"font-size: 14px\">Got feedback on this email? Use GitHub <a href=\"https://github.com/openresearchcalendar/openresearchcalendar.github.io/discussions\" target=\"_blank\" rel=\"noopener\">Discussions</a> or <a href=\"https://github.com/openresearchcalendar/openresearchcalendar.github.io/issues\" target=\"_blank\" rel=\"noopener\">Issues</a>.</span></div>                                                                     </td>                                                               </tr>                                                               </tbody>                                                            </table>                                                            <table class=\"module\" role=\"module\" data-type=\"spacer\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"table-layout: fixed;\" data-muid=\"8ab2cdc9-10b1-4f7a-bed4-d1409360a40c\">                                                               <tbody>                                                                  <tr>                                                                     <td style=\"padding:0px 0px 30px 0px;\" role=\"module-content\" bgcolor=\"\">        </td>                                                                  </tr>                                                               </tbody>                                                            </table>                                                            <table class=\"module\" role=\"module\" data-type=\"divider\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"table-layout: fixed;\" data-muid=\"ei2zeSTvjHYmn1YhKSUfaB\">                                                               <tbody>                                                                  <tr>                                                                     <td style=\"padding:0px 0px 0px 0px;\" role=\"module-content\" height=\"100%\" valign=\"top\" bgcolor=\"\">                                                                        <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" align=\"center\" width=\"100%\" height=\"10px\" style=\"line-height:10px; font-size:10px;\">                                                                           <tbody>                                                                              <tr>                                                                                 <td style=\"padding:0px 0px 10px 0px;\" bgcolor=\"#f78212\"></td>                                                                              </tr>                                                                           </tbody>                                                                        </table>                                                                     </td>                                                                  </tr>                                                               </tbody>                                                            </table>                                                            <table class=\"module\" role=\"module\" data-type=\"text\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"table-layout: fixed;\" data-muid=\"2q8x8zTfLywQieSSYmZbus\" data-mc-module-version=\"2019-10-22\">                                                               <tbody>                                                                  <tr>                                                                     <td style=\"padding:5px 0px 5px 0px; line-height:30px; text-align:inherit;\" height=\"100%\" valign=\"top\" bgcolor=\"\">                                                                        <div>                                                                           <div style=\"font-family: inherit; text-align: center\"><span style=\"font-size: 28px; font-family: georgia, serif; color: #f78212\"><strong>Have we missed anything?</strong></span></div>                                                                           <div></div>                                                                        </div>                                                                     </td>                                                                  </tr>                                                               </tbody>                                                            </table>                                                            <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" align=\"center\" width=\"100%\" role=\"module\" data-type=\"columns\" style=\"padding:5px 5px 5px 5px;\" bgcolor=\"\" data-distribution=\"1,1\">                                                               <tbody>                                                                  <tr role=\"module-content\">                                                                     <td height=\"100%\" valign=\"top\">                                                                        <table width=\"285\" style=\"width:285px; border-spacing:0; border-collapse:collapse; margin:0px 10px 0px 0px;\" cellpadding=\"0\" cellspacing=\"0\" align=\"left\" border=\"0\" bgcolor=\"\" class=\"column column-0\">                                                                           <tbody>                                                                              <tr>                                                                                 <td style=\"padding:0px;margin:0px;border-spacing:0;\">                                                                                    <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" class=\"module\" data-role=\"module-button\" data-type=\"button\" role=\"module\" style=\"table-layout:fixed\" width=\"100%\" data-muid=\"bKHWQMgPkL5opYCkxiM6aS\">                                                                                       <tbody>                                                                                          <tr>                                                                                             <td align=\"center\" class=\"outer-td\" style=\"padding:0px 0px 0px 0px;\" bgcolor=\"\">                                                                                                <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" class=\"button-css__deep-table___2OZyb wrapper-mobile\" style=\"text-align:center\">                                                                                                   <tbody>                                                                                                      <tr>                                                                                                         <td align=\"center\" bgcolor=\"#f78212\" class=\"inner-td\" style=\"border-radius:6px; font-size:16px; text-align:center; background-color:inherit;\"><a style=\"background-color:#f78212; border:2px solid #e5780f; border-color:#e5780f; border-radius:50px; border-width:2px; color:#ffffff; display:inline-block; font-family:verdana,geneva,sans-serif; font-size:16px; font-weight:normal; letter-spacing:0px; line-height:normal; padding:12px 18px 12px 18px; text-align:center; text-decoration:none; border-style:solid;\" href=\"https://openresearchcalendar.org/add-event\" target=\"_blank\">Add Event</a></td>                                                                                                      </tr>                                                                                                   </tbody>                                                                                                </table>                                                                                             </td>                                                                                          </tr>                                                                                       </tbody>                                                                                    </table>                                                                                 </td>                                                                              </tr>                                                                           </tbody>                                                                        </table>                                                                        <table width=\"285\" style=\"width:285px; border-spacing:0; border-collapse:collapse; margin:0px 0px 0px 10px;\" cellpadding=\"0\" cellspacing=\"0\" align=\"left\" border=\"0\" bgcolor=\"\" class=\"column column-1\">                                                                           <tbody>                                                                              <tr>                                                                                 <td style=\"padding:0px;margin:0px;border-spacing:0;\">                                                                                    <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" class=\"module\" data-role=\"module-button\" data-type=\"button\" role=\"module\" style=\"table-layout:fixed;\" width=\"100%\" data-muid=\"de2857b0-fd1f-4021-aac2-7fff9cbd24c0\">                                                                                       <tbody>                                                                                          <tr>                                                                                             <td align=\"center\" bgcolor=\"\" class=\"outer-td\" style=\"padding:0px 0px 0px 0px;\">                                                                                                <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" class=\"wrapper-mobile\" style=\"text-align:center;\">                                                                                                   <tbody>                                                                                                      <tr>                                                                                                         <td align=\"center\" bgcolor=\"#f78212\" class=\"inner-td\" style=\"border-radius:6px; font-size:16px; text-align:center; background-color:inherit;\">                  <a href=\"https://openresearchcalendar.org/calendar\" style=\"background-color:#f78212; border:2px solid #e5780f; border-color:#e5780f; border-radius:50px; border-width:2px; color:#ffffff; display:inline-block; font-size:16px; font-weight:normal; letter-spacing:0px; line-height:normal; padding:12px 18px 12px 18px; text-align:center; text-decoration:none; border-style:solid; font-family:verdana,geneva,sans-serif;\" target=\"_blank\">View the Calendar</a>                </td>                                                                                                      </tr>                                                                                                   </tbody>                                                                                                </table>                                                                                             </td>                                                                                          </tr>                                                                                       </tbody>                                                                                    </table>                                                                                 </td>                                                                              </tr>                                                                           </tbody>                                                                        </table>                                                                     </td>                                                                  </tr>                                                               </tbody>                                                            </table>                                                            <table class=\"module\" role=\"module\" data-type=\"divider\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"table-layout: fixed;\" data-muid=\"qkG1GEG4EZSwoAzbwgoD8v\">                                                               <tbody>                                                                  <tr>                                                                     <td style=\"padding:0px 0px 0px 0px;\" role=\"module-content\" height=\"100%\" valign=\"top\" bgcolor=\"\">                                                                        <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" align=\"center\" width=\"100%\" height=\"10px\" style=\"line-height:10px; font-size:10px;\">                                                                           <tbody>                                                                              <tr>                                                                                 <td style=\"padding:0px 0px 10px 0px;\" bgcolor=\"#f78212\"></td>                                                                              </tr>                                                                           </tbody>                                                                        </table>                                                                     </td>                                                                  </tr>                                                               </tbody>                                                            </table>                                                            <table class=\"module\" role=\"module\" data-type=\"spacer\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"table-layout: fixed;\" data-muid=\"24264e73-7865-48b2-9f38-a6af024047d6\">                                                               <tbody>                                                                  <tr>                                                                     <td style=\"padding:0px 0px 30px 0px;\" role=\"module-content\" bgcolor=\"\">        </td>                                                                  </tr>                                                               </tbody>                                                            </table>                                                            <table class=\"module\" role=\"module\" data-type=\"text\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"table-layout: fixed;\" data-muid=\"2a94758f-5c6d-4e75-90f4-912be0ad275e\" data-mc-module-version=\"2019-10-22\">                                                               <tbody>                                                                  <tr>                                                                     <td style=\"padding:18px 0px 18px 0px; line-height:22px; text-align:inherit;\" height=\"100%\" valign=\"top\" bgcolor=\"\" role=\"module-content\">                                                                        <div>                                                                           <div style=\"font-family: inherit\"><span style=\"color: #516775; font-family: verdana, geneva, sans-serif; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 247, 237); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial; float: none; display: inline\">Something look wrong?</span> <a href=\"https://docs.google.com/forms/d/e/1FAIpQLSf03BRa1qDvcxMf9xULhTKEG7b3kBJ9I0aRK4arNVqb949Kig/viewform\"><span style=\"color: #993300; text-decoration-line: none; text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial; font-family: verdana, geneva, sans-serif; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 247, 237)\">Report event here</span></a></div>                                                                           <div style=\"font-family: inherit\"><br></div>                                                                                                                                          <div style=\"font-family: inherit; text-align: inherit\"><span style=\"font-size: 14px\">You have received this email as you subscribed to the Open Research Calendar newsletter. If you no longer wish to receive these, click below.</span></div>                                                                           <div></div>                                                                        </div>                                                                     </td>                                                                  </tr>                                                               </tbody>                                                            </table>                                                            <div data-role=\"module-unsubscribe\" class=\"module unsubscribe-css__unsubscribe___2CDlR\" role=\"module\" data-type=\"unsubscribe\" style=\"color:#444444; font-size:14px; line-height:20px; padding:16px 16px 16px 16px; text-align:center;\" data-muid=\"GRteXBNz7UevhwJ6u6GXE\">                                                               <div class=\"Unsubscribe--addressLine\"></div>                                                               <p style=\"font-family:arial,helvetica,sans-serif; font-size:14px; line-height:20px;\"><a target=\"_blank\" class=\"Unsubscribe--unsubscribeLink zzzzzzz\" href=\"https://openresearchcalendar.org/email-unsubscribe/\" style=\"\">Unsubscribe</a></p>                                                            </div>                                                            <table class=\"module\" role=\"module\" data-type=\"spacer\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"table-layout: fixed;\" data-muid=\"f5F8P1n4pQyU8o7DNMMEyW\">                                                               <tbody>                                                                  <tr>                                                                     <td style=\"padding:0px 0px 30px 0px;\" role=\"module-content\" bgcolor=\"\">        </td>                                                                  </tr>                                                               </tbody>                                                            </table>                                                         </td>                                                      </tr>                                                   </table>                                                   <!--[if mso]>                                                                                  </td>                                             </tr>                                          </table>                                       </center>                                       <![endif]-->                                                              </td>                                 </tr>                              </table>                           </td>                        </tr>                     </table>                  </td>               </tr>            </table>         </div>      </center>   </body></html>",
                "branch": "",
                "message": "Upload of {{formatDate(now; \"YY_MM_MMMM\")}} Newsletter. Auto Archived",
                "filePath": "email-newsletter/archive/{{formatDate(now; \"YY_MM_MMMM\")}}_Newsletter.html",
                "repository": "openresearchcalendar/openresearchcalendar.github.io"
            },
            "metadata": {
                "designer": {
                    "x": 2400,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "repository": {
                            "mode": "chose",
                            "label": "openresearchcalendar/openresearchcalendar.github.io"
                        }
                    },
                    "parameters": {
                        "account": {
                            "data": {
                                "scoped": "true",
                                "connection": "github"
                            },
                            "label": "My GitHub connection (b-kennedy0)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "account",
                        "type": "account:github",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "repository",
                        "type": "select",
                        "label": "Repository",
                        "required": true
                    },
                    {
                        "name": "filePath",
                        "type": "text",
                        "label": "File path",
                        "required": true
                    },
                    {
                        "name": "message",
                        "type": "text",
                        "label": "Message",
                        "required": true
                    },
                    {
                        "name": "data",
                        "type": "buffer",
                        "label": "Data",
                        "required": true
                    },
                    {
                        "name": "sha",
                        "type": "text",
                        "label": "SHA"
                    },
                    {
                        "name": "branch",
                        "type": "text",
                        "label": "Branch"
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 55,
            "module": "twitter:createTweet",
            "version": 5,
            "parameters": {
                "__IMTCONN__": 388475
            },
            "mapper": {
                "select": "image",
                "status": "📧 {{formatDate(now; \"MMMM\")}} Newsletter https://openresearchcalendar.org/email-newsletter/archive/{{formatDate(now; \"YY_MM_MMMM\")}}_Newsletter.html - Want future newsletters in your inbox? Subscribe here: https://openresearchcalendar.org/email-subscribe/",
                "possibly_sensitive": false,
                "display_coordinates": true
            },
            "metadata": {
                "designer": {
                    "x": 2700,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "select": {
                            "label": "Image or GIF (Size less than 5MB)"
                        },
                        "attachments": {
                            "mode": "chose"
                        },
                        "display_coordinates": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "twitter"
                            },
                            "label": "My Twitter connection (Open Research Calendar)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:twitter",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "status",
                        "type": "text",
                        "label": "Status",
                        "required": true
                    },
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Upload",
                        "validate": {
                            "enum": [
                                "image",
                                "video"
                            ]
                        }
                    },
                    {
                        "name": "possibly_sensitive",
                        "type": "boolean",
                        "label": "Attached images contain sensitive content (nudity, violence, etc).",
                        "required": true
                    },
                    {
                        "name": "lat",
                        "type": "number",
                        "label": "Geographic Latitude",
                        "validate": {
                            "max": 90,
                            "min": -90
                        }
                    },
                    {
                        "name": "long",
                        "type": "number",
                        "label": "Geographic Longitude",
                        "validate": {
                            "max": 180,
                            "min": -180
                        }
                    },
                    {
                        "name": "display_coordinates",
                        "type": "boolean",
                        "label": "Display tweets coordinates",
                        "required": true
                    },
                    {
                        "name": "attachments",
                        "spec": [
                            {
                                "name": "filename",
                                "type": "filename",
                                "label": "File Name",
                                "semantic": "file:name"
                            },
                            {
                                "name": "data",
                                "type": "buffer",
                                "label": "Data",
                                "semantic": "file:data"
                            }
                        ],
                        "type": "array",
                        "label": "Attachments",
                        "validate": {
                            "maxItems": 4
                        }
                    }
                ]
            }
        },
        {
            "id": 57,
            "module": "google-sheets:filterRows",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 388472
            },
            "mapper": {
                "from": "drive",
                "filter": [
                    [
                        {
                            "a": "A",
                            "o": "exist"
                        }
                    ]
                ],
                "sheetId": "Sheet1",
                "sortOrder": "asc",
                "spreadsheetId": "GOOGLE SHEET ID",
                "tableFirstRow": "A1:CZ1",
                "includesHeaders": true,
                "valueRenderOption": "FORMATTED_VALUE",
                "dateTimeRenderOption": "FORMATTED_STRING"
            },
            "metadata": {
                "designer": {
                    "x": 3000,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "from": {
                            "label": "Select from My Drive"
                        },
                        "orderBy": {
                            "mode": "chose",
                            "label": "Empty"
                        },
                        "sheetId": {
                            "mode": "chose",
                            "label": "Sheet1"
                        },
                        "sortOrder": {
                            "mode": "chose",
                            "label": "Ascending"
                        },
                        "spreadsheetId": {
                            "mode": "chose",
                            "label": "Newsletter Subscribers"
                        },
                        "tableFirstRow": {
                            "label": "A-CZ"
                        },
                        "includesHeaders": {
                            "mode": "chose",
                            "label": "Yes"
                        },
                        "valueRenderOption": {
                            "mode": "chose",
                            "label": "Formatted value"
                        },
                        "dateTimeRenderOption": {
                            "mode": "chose",
                            "label": "Formatted string"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "My Google connection ()"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "from",
                        "type": "select",
                        "label": "Enter a Spreadsheet ID and Sheet Name",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share"
                            ]
                        }
                    },
                    {
                        "name": "valueRenderOption",
                        "type": "select",
                        "label": "Value render option",
                        "validate": {
                            "enum": [
                                "FORMATTED_VALUE",
                                "UNFORMATTED_VALUE",
                                "FORMULA"
                            ]
                        }
                    },
                    {
                        "name": "dateTimeRenderOption",
                        "type": "select",
                        "label": "Date and time render option",
                        "validate": {
                            "enum": [
                                "SERIAL_NUMBER",
                                "FORMATTED_STRING"
                            ]
                        }
                    },
                    {
                        "name": "limit",
                        "type": "number",
                        "label": "Maximum number of returned rows"
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "select",
                        "label": "Spreadsheet",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet Name",
                        "required": true
                    },
                    {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "tableFirstRow",
                        "type": "select",
                        "label": "Column range",
                        "required": true,
                        "validate": {
                            "enum": [
                                "A1:Z1",
                                "A1:BZ1",
                                "A1:CZ1",
                                "A1:DZ1",
                                "A1:MZ1",
                                "A1:ZZ1",
                                "A1:AZZ1",
                                "A1:BZZ1",
                                "A1:CZZ1",
                                "A1:DZZ1",
                                "A1:MZZ1",
                                "A1:ZZZ1"
                            ]
                        }
                    },
                    {
                        "name": "filter",
                        "type": "filter",
                        "label": "Filter",
                        "options": "rpc://google-sheets/2/rpcGetFilterKeys?includesHeaders=true"
                    },
                    {
                        "name": "sortOrder",
                        "type": "select",
                        "label": "Sort order",
                        "validate": {
                            "enum": [
                                "asc",
                                "desc"
                            ]
                        }
                    },
                    {
                        "name": "orderBy",
                        "type": "select",
                        "label": "Order by"
                    }
                ],
                "interface": [
                    {
                        "name": "__IMTLENGTH__",
                        "type": "uinteger",
                        "label": "Total number of bundles"
                    },
                    {
                        "name": "__IMTINDEX__",
                        "type": "uinteger",
                        "label": "Bundle order position"
                    },
                    {
                        "name": "__ROW_NUMBER__",
                        "type": "number",
                        "label": "Row number"
                    },
                    {
                        "name": "__SPREADSHEET_ID__",
                        "type": "text",
                        "label": "Spreadsheet ID"
                    },
                    {
                        "name": "__SHEET__",
                        "type": "text",
                        "label": "Sheet"
                    },
                    {
                        "name": "0",
                        "type": "text",
                        "label": "Timestamp (A)"
                    },
                    {
                        "name": "1",
                        "type": "text",
                        "label": "Email (B)"
                    },
                    {
                        "name": "2",
                        "type": "text",
                        "label": "UUID (C)"
                    },
                    {
                        "name": "3",
                        "type": "text",
                        "label": "(D)"
                    },
                    {
                        "name": "4",
                        "type": "text",
                        "label": "(E)"
                    },
                    {
                        "name": "5",
                        "type": "text",
                        "label": "(F)"
                    },
                    {
                        "name": "6",
                        "type": "text",
                        "label": "(G)"
                    },
                    {
                        "name": "7",
                        "type": "text",
                        "label": "(H)"
                    },
                    {
                        "name": "8",
                        "type": "text",
                        "label": "(I)"
                    },
                    {
                        "name": "9",
                        "type": "text",
                        "label": "(J)"
                    },
                    {
                        "name": "10",
                        "type": "text",
                        "label": "(K)"
                    },
                    {
                        "name": "11",
                        "type": "text",
                        "label": "(L)"
                    },
                    {
                        "name": "12",
                        "type": "text",
                        "label": "(M)"
                    },
                    {
                        "name": "13",
                        "type": "text",
                        "label": "(N)"
                    },
                    {
                        "name": "14",
                        "type": "text",
                        "label": "(O)"
                    },
                    {
                        "name": "15",
                        "type": "text",
                        "label": "(P)"
                    },
                    {
                        "name": "16",
                        "type": "text",
                        "label": "(Q)"
                    },
                    {
                        "name": "17",
                        "type": "text",
                        "label": "(R)"
                    },
                    {
                        "name": "18",
                        "type": "text",
                        "label": "(S)"
                    },
                    {
                        "name": "19",
                        "type": "text",
                        "label": "(T)"
                    },
                    {
                        "name": "20",
                        "type": "text",
                        "label": "(U)"
                    },
                    {
                        "name": "21",
                        "type": "text",
                        "label": "(V)"
                    },
                    {
                        "name": "22",
                        "type": "text",
                        "label": "(W)"
                    },
                    {
                        "name": "23",
                        "type": "text",
                        "label": "(X)"
                    },
                    {
                        "name": "24",
                        "type": "text",
                        "label": "(Y)"
                    },
                    {
                        "name": "25",
                        "type": "text",
                        "label": "(Z)"
                    },
                    {
                        "name": "26",
                        "type": "text",
                        "label": "(AA)"
                    },
                    {
                        "name": "27",
                        "type": "text",
                        "label": "(AB)"
                    },
                    {
                        "name": "28",
                        "type": "text",
                        "label": "(AC)"
                    },
                    {
                        "name": "29",
                        "type": "text",
                        "label": "(AD)"
                    },
                    {
                        "name": "30",
                        "type": "text",
                        "label": "(AE)"
                    },
                    {
                        "name": "31",
                        "type": "text",
                        "label": "(AF)"
                    },
                    {
                        "name": "32",
                        "type": "text",
                        "label": "(AG)"
                    },
                    {
                        "name": "33",
                        "type": "text",
                        "label": "(AH)"
                    },
                    {
                        "name": "34",
                        "type": "text",
                        "label": "(AI)"
                    },
                    {
                        "name": "35",
                        "type": "text",
                        "label": "(AJ)"
                    },
                    {
                        "name": "36",
                        "type": "text",
                        "label": "(AK)"
                    },
                    {
                        "name": "37",
                        "type": "text",
                        "label": "(AL)"
                    },
                    {
                        "name": "38",
                        "type": "text",
                        "label": "(AM)"
                    },
                    {
                        "name": "39",
                        "type": "text",
                        "label": "(AN)"
                    },
                    {
                        "name": "40",
                        "type": "text",
                        "label": "(AO)"
                    },
                    {
                        "name": "41",
                        "type": "text",
                        "label": "(AP)"
                    },
                    {
                        "name": "42",
                        "type": "text",
                        "label": "(AQ)"
                    },
                    {
                        "name": "43",
                        "type": "text",
                        "label": "(AR)"
                    },
                    {
                        "name": "44",
                        "type": "text",
                        "label": "(AS)"
                    },
                    {
                        "name": "45",
                        "type": "text",
                        "label": "(AT)"
                    },
                    {
                        "name": "46",
                        "type": "text",
                        "label": "(AU)"
                    },
                    {
                        "name": "47",
                        "type": "text",
                        "label": "(AV)"
                    },
                    {
                        "name": "48",
                        "type": "text",
                        "label": "(AW)"
                    },
                    {
                        "name": "49",
                        "type": "text",
                        "label": "(AX)"
                    },
                    {
                        "name": "50",
                        "type": "text",
                        "label": "(AY)"
                    },
                    {
                        "name": "51",
                        "type": "text",
                        "label": "(AZ)"
                    },
                    {
                        "name": "52",
                        "type": "text",
                        "label": "(BA)"
                    },
                    {
                        "name": "53",
                        "type": "text",
                        "label": "(BB)"
                    },
                    {
                        "name": "54",
                        "type": "text",
                        "label": "(BC)"
                    },
                    {
                        "name": "55",
                        "type": "text",
                        "label": "(BD)"
                    },
                    {
                        "name": "56",
                        "type": "text",
                        "label": "(BE)"
                    },
                    {
                        "name": "57",
                        "type": "text",
                        "label": "(BF)"
                    },
                    {
                        "name": "58",
                        "type": "text",
                        "label": "(BG)"
                    },
                    {
                        "name": "59",
                        "type": "text",
                        "label": "(BH)"
                    },
                    {
                        "name": "60",
                        "type": "text",
                        "label": "(BI)"
                    },
                    {
                        "name": "61",
                        "type": "text",
                        "label": "(BJ)"
                    },
                    {
                        "name": "62",
                        "type": "text",
                        "label": "(BK)"
                    },
                    {
                        "name": "63",
                        "type": "text",
                        "label": "(BL)"
                    },
                    {
                        "name": "64",
                        "type": "text",
                        "label": "(BM)"
                    },
                    {
                        "name": "65",
                        "type": "text",
                        "label": "(BN)"
                    },
                    {
                        "name": "66",
                        "type": "text",
                        "label": "(BO)"
                    },
                    {
                        "name": "67",
                        "type": "text",
                        "label": "(BP)"
                    },
                    {
                        "name": "68",
                        "type": "text",
                        "label": "(BQ)"
                    },
                    {
                        "name": "69",
                        "type": "text",
                        "label": "(BR)"
                    },
                    {
                        "name": "70",
                        "type": "text",
                        "label": "(BS)"
                    },
                    {
                        "name": "71",
                        "type": "text",
                        "label": "(BT)"
                    },
                    {
                        "name": "72",
                        "type": "text",
                        "label": "(BU)"
                    },
                    {
                        "name": "73",
                        "type": "text",
                        "label": "(BV)"
                    },
                    {
                        "name": "74",
                        "type": "text",
                        "label": "(BW)"
                    },
                    {
                        "name": "75",
                        "type": "text",
                        "label": "(BX)"
                    },
                    {
                        "name": "76",
                        "type": "text",
                        "label": "(BY)"
                    },
                    {
                        "name": "77",
                        "type": "text",
                        "label": "(BZ)"
                    },
                    {
                        "name": "78",
                        "type": "text",
                        "label": "(CA)"
                    },
                    {
                        "name": "79",
                        "type": "text",
                        "label": "(CB)"
                    },
                    {
                        "name": "80",
                        "type": "text",
                        "label": "(CC)"
                    },
                    {
                        "name": "81",
                        "type": "text",
                        "label": "(CD)"
                    },
                    {
                        "name": "82",
                        "type": "text",
                        "label": "(CE)"
                    },
                    {
                        "name": "83",
                        "type": "text",
                        "label": "(CF)"
                    },
                    {
                        "name": "84",
                        "type": "text",
                        "label": "(CG)"
                    },
                    {
                        "name": "85",
                        "type": "text",
                        "label": "(CH)"
                    },
                    {
                        "name": "86",
                        "type": "text",
                        "label": "(CI)"
                    },
                    {
                        "name": "87",
                        "type": "text",
                        "label": "(CJ)"
                    },
                    {
                        "name": "88",
                        "type": "text",
                        "label": "(CK)"
                    },
                    {
                        "name": "89",
                        "type": "text",
                        "label": "(CL)"
                    },
                    {
                        "name": "90",
                        "type": "text",
                        "label": "(CM)"
                    },
                    {
                        "name": "91",
                        "type": "text",
                        "label": "(CN)"
                    },
                    {
                        "name": "92",
                        "type": "text",
                        "label": "(CO)"
                    },
                    {
                        "name": "93",
                        "type": "text",
                        "label": "(CP)"
                    },
                    {
                        "name": "94",
                        "type": "text",
                        "label": "(CQ)"
                    },
                    {
                        "name": "95",
                        "type": "text",
                        "label": "(CR)"
                    },
                    {
                        "name": "96",
                        "type": "text",
                        "label": "(CS)"
                    },
                    {
                        "name": "97",
                        "type": "text",
                        "label": "(CT)"
                    },
                    {
                        "name": "98",
                        "type": "text",
                        "label": "(CU)"
                    },
                    {
                        "name": "99",
                        "type": "text",
                        "label": "(CV)"
                    },
                    {
                        "name": "100",
                        "type": "text",
                        "label": "(CW)"
                    },
                    {
                        "name": "101",
                        "type": "text",
                        "label": "(CX)"
                    },
                    {
                        "name": "102",
                        "type": "text",
                        "label": "(CY)"
                    },
                    {
                        "name": "103",
                        "type": "text",
                        "label": "(CZ)"
                    }
                ]
            }
        },
        {
            "id": 43,
            "module": "builtin:BasicAggregator",
            "version": 1,
            "parameters": {
                "feeder": 57
            },
            "mapper": {
                "1": "{{57.`1`}}",
                "2": "{{57.`2`}}"
            },
            "metadata": {
                "designer": {
                    "x": 3300,
                    "y": 0
                },
                "restore": {
                    "extra": {
                        "feeder": {
                            "label": "Google Sheets - Search Rows [57]"
                        },
                        "target": {
                            "label": "Custom"
                        }
                    }
                }
            }
        },
        {
            "id": 56,
            "module": "util:SetVariable2",
            "version": 1,
            "parameters": {},
            "mapper": {
                "name": "listofemails",
                "scope": "roundtrip",
                "value": "{{join(map(43.array; 1); \",\")}}"
            },
            "metadata": {
                "designer": {
                    "x": 3600,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "scope": {
                            "label": "One cycle"
                        }
                    }
                },
                "expect": [
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Variable name",
                        "required": true
                    },
                    {
                        "name": "scope",
                        "type": "select",
                        "label": "Variable lifetime",
                        "required": true,
                        "validate": {
                            "enum": [
                                "roundtrip",
                                "execution"
                            ]
                        }
                    },
                    {
                        "name": "value",
                        "type": "any",
                        "label": "Variable value"
                    }
                ],
                "interface": [
                    {
                        "name": "listofemails",
                        "type": "any",
                        "label": "listofemails"
                    }
                ]
            }
        },
        {
            "id": 31,
            "module": "email:ActionSendEmail",
            "version": 7,
            "parameters": {
                "account": 388471,
                "saveAfterSent": false
            },
            "mapper": {
                "cc": [],
                "to": [
                    "info@openresearchcalendar.org"
                ],
                "bcc": "{{split(56.listofemails; \",\")}}",
                "from": "info@openresearchcalendar.org",
                "html": "<!DOCTYPE html PUBLIC \"-//W3C//DTD XHTML 1.0 Strict//EN\" \"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd\"><html data-editor-version=\"2\" class=\"sg-campaigns\" xmlns=\"http://www.w3.org/1999/xhtml\">   <head>      <meta http-equiv=\"Content-Type\" content=\"text/html; charset=utf-8\">      <meta name=\"viewport\" content=\"width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1\">      <!--[if !mso]><!-->            <meta http-equiv=\"X-UA-Compatible\" content=\"IE=Edge\">      <!--<![endif]-->      <!--[if (gte mso 9)|(IE)]>            <xml>         <o:OfficeDocumentSettings>            <o:AllowPNG/>            <o:PixelsPerInch>96</o:PixelsPerInch>         </o:OfficeDocumentSettings>      </xml>      <![endif]-->      <!--[if (gte mso 9)|(IE)]>        <style type=\"text/css\">    body {width: 600px;margin: 0 auto;}    table {border-collapse: collapse;}    table, td {mso-table-lspace: 0pt;mso-table-rspace: 0pt;}    img {-ms-interpolation-mode: bicubic;}  </style>      <![endif]-->            <style type=\"text/css\">    body, p, div {      font-family: verdana,geneva,sans-serif;      font-size: 16px;    }    body {      color: #516775;    }    body a {      color: #f78212;      text-decoration: none;    }    p { margin: 0; padding: 0; }    table.wrapper {      width:100% !important;      table-layout: fixed;      -webkit-font-smoothing: antialiased;      -webkit-text-size-adjust: 100%;      -moz-text-size-adjust: 100%;      -ms-text-size-adjust: 100%;    }    img.max-width {      max-width: 100% !important;    }    .column.of-2 {      width: 50%;    }    .column.of-3 {      width: 33.333%;    }    .column.of-4 {      width: 25%;    }    ul ul ul ul  {      list-style-type: disc !important;    }    ol ol {      list-style-type: lower-roman !important;    }    ol ol ol {      list-style-type: lower-latin !important;    }    ol ol ol ol {      list-style-type: decimal !important;    }    @media screen and (max-width:480px) {      .preheader .rightColumnContent,      .footer .rightColumnContent {        text-align: left !important;      }      .preheader .rightColumnContent div,      .preheader .rightColumnContent span,      .footer .rightColumnContent div,      .footer .rightColumnContent span {        text-align: left !important;      }      .preheader .rightColumnContent,      .preheader .leftColumnContent {        font-size: 80% !important;        padding: 5px 0;      }      table.wrapper-mobile {        width: 100% !important;        table-layout: fixed;      }      img.max-width {        height: auto !important;        max-width: 100% !important;      }      a.bulletproof-button {        display: block !important;        width: auto !important;        font-size: 80%;        padding-left: 0 !important;        padding-right: 0 !important;      }      .columns {        width: 100% !important;      }      .column {        display: block !important;        width: 100% !important;        padding-left: 0 !important;        padding-right: 0 !important;        margin-left: 0 !important;        margin-right: 0 !important;      }      .social-icon-column {        display: inline-block !important;      }    }  </style>      <!--user entered Head Start-->     <!--End Head user entered-->       </head>   <body>      <center class=\"wrapper\" data-link-color=\"#993300\" data-body-style=\"font-size:16px; font-family:verdana,geneva,sans-serif; color:#516775; background-color:#fff7ed;\">         <div class=\"webkit\">            <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\" class=\"wrapper\" bgcolor=\"#fff7ed\">               <tr>                  <td valign=\"top\" bgcolor=\"#fff7ed\" width=\"100%\">                     <table width=\"100%\" role=\"content-container\" class=\"outer\" align=\"center\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">                        <tr>                           <td width=\"100%\">                              <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">                                 <tr>                                    <td>                                       <!--[if mso]>                                           <center>                                          <table>                                             <tr>                                                <td width=\"600\">                                                   <![endif]-->                                                                                       <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"width:100%; max-width:600px;\" align=\"center\">                                                      <tr>                                                         <td role=\"modules-container\" style=\"padding:0px 0px 0px 0px; color:#516775; text-align:left;\" bgcolor=\"#fff7ed\" width=\"100%\" align=\"left\">                                                            <table class=\"module preheader preheader-hide\" role=\"module\" data-type=\"preheader\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"display: none !important; mso-hide: all; visibility: hidden; opacity: 0; color: transparent; height: 0; width: 0;\">                                                               <tr>                                                                  <td role=\"module-content\">                                                                     <p>Your monthly update of Open Research events</p>                                                                  </td>                                                               </tr>                                                            </table>                                                            <table class=\"wrapper\" role=\"module\" data-type=\"image\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"table-layout: fixed;\" data-muid=\"qa8oMphYHuL7xyQrTVscgD\">                                                               <tbody>                                                                  <tr>                                                                     <td style=\"font-size:6px; line-height:10px; padding:30px 0px 0px 0px;\" valign=\"top\" align=\"center\"><img class=\"max-width\" border=\"0\" style=\"display:block; color:#000000; text-decoration:none; font-family:Helvetica, arial, sans-serif; font-size:16px; max-width:75% !important; width:75%; height:auto !important;\" src=\"http://cdn.mcauto-images-production.sendgrid.net/5dee916106620cd6/2fdf0779-7342-4d5f-92b4-9c1c651e5fa5/1451x516.png\" alt=\"Open Research Calendar Logo\" width=\"450\" data-responsive=\"true\" data-proportionally-constrained=\"false\"></td>                                                                  </tr>                                                               </tbody>                                                            </table>                                                            <table class=\"module\" role=\"module\" data-type=\"spacer\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"table-layout: fixed;\" data-muid=\"bdzDb4B4pnnez4W7L1KpxJ\">                                                               <tbody>                                                                  <tr>                                                                     <td style=\"padding:0px 0px 30px 0px;\" role=\"module-content\" bgcolor=\"\">        </td>                                                                  </tr>                                                               </tbody>                                                            </table>                                                            <table class=\"module\" role=\"module\" data-type=\"text\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"table-layout: fixed;\" data-muid=\"gNWHzBzkFeWH4JDKd2Aikk\" data-mc-module-version=\"2019-10-22\">                                                               <tbody>                                                                  <tr>                                                                     <td style=\"background-color:#ffffff; padding:10px 10px 10px 10px; line-height:25px; text-align:inherit;\" height=\"100%\" valign=\"top\" bgcolor=\"#ffffff\">                                                                        <div>                                                                           <div style=\"font-family: inherit; text-align: left\">Hi there 👋 <br> Here is your monthly automated newsletter. Do you want a free Open Research Calendar sticker? Request one <a href=\"https://docs.google.com/forms/d/e/1FAIpQLSemzXy9XdL5oCDzlNkqnBfUY3kn3AEe8fxPVAe7YKzC_TMyPg/viewform\" target=\"_blank\" rel=\"noopener\">here</a>.<br><br>Check out the events coming up in the next <strong>two months</strong> that have been submitted to the calendar.</div>                                                                          <div></div>                                                                        </div>                                                                     </td>                                                                  </tr>                                                               </tbody>                                                            </table>                                                            <table class=\"module\" role=\"module\" data-type=\"text\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"table-layout: fixed;\" data-muid=\"bA2FfEE6abadx6yKoMr3F9\" data-mc-module-version=\"2019-10-22\">                                                               <tbody>                                                                  <tr>                                                                     <td style=\"background-color:#ffffff; padding:10px 40px 50px 40px; line-height:22px; text-align:inherit;\" height=\"100%\" valign=\"top\" bgcolor=\"#ffffff\">                                                                        <h3>{{formatDate(now; \"MMMM\")}}</h3>                                                                        <ul>{{35.text}}</ul>                                                                     </td>                                                                  </tr>                                                               </tbody>                                                               <tbody>                                                                  <tr>                                                                     <td style=\"background-color:#ffffff; padding:10px 40px 50px 40px; line-height:22px; text-align:inherit;\" height=\"100%\" valign=\"top\" bgcolor=\"#ffffff\">                                                                        <h3>{{formatDate(addMonths(now; 1); \"MMMM\")}}</h3>                                                                        <ul>{{47.text}}</ul>                                                                     </td>                                                                  </tr>                                                               </tbody>                                                            </table>                                                            <table class=\"module\" role=\"module\" data-type=\"spacer\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"table-layout: fixed;\" data-muid=\"dnNq8YR2nu8DNzse1aZUWt\">                                                               <tbody>                                                                  <tr>                                                                     <td style=\"padding:0px 0px 30px 0px;\" role=\"module-content\" bgcolor=\"\">                                                               <tbody>                                                                  <tr>                                                                     <td style=\"padding:18px 0px 18px 0px; line-height:22px; text-align:inherit;\" height=\"100%\" valign=\"top\" bgcolor=\"\" role=\"module-content\">                                                                        <div style=\"font-family: inherit; text-align: inherit\"><span style=\"font-size: 14px\">Got feedback on this email? Use GitHub <a href=\"https://github.com/openresearchcalendar/openresearchcalendar.github.io/discussions\" target=\"_blank\" rel=\"noopener\">Discussions</a> or <a href=\"https://github.com/openresearchcalendar/openresearchcalendar.github.io/issues\" target=\"_blank\" rel=\"noopener\">Issues</a>.</span></div>                                                                     </td>                                                               </tr>                                                               </tbody>                                                            </table>                                                            <table class=\"module\" role=\"module\" data-type=\"spacer\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"table-layout: fixed;\" data-muid=\"8ab2cdc9-10b1-4f7a-bed4-d1409360a40c\">                                                               <tbody>                                                                  <tr>                                                                     <td style=\"padding:0px 0px 30px 0px;\" role=\"module-content\" bgcolor=\"\">        </td>                                                                  </tr>                                                               </tbody>                                                            </table>                                                            <table class=\"module\" role=\"module\" data-type=\"divider\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"table-layout: fixed;\" data-muid=\"ei2zeSTvjHYmn1YhKSUfaB\">                                                               <tbody>                                                                  <tr>                                                                     <td style=\"padding:0px 0px 0px 0px;\" role=\"module-content\" height=\"100%\" valign=\"top\" bgcolor=\"\">                                                                        <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" align=\"center\" width=\"100%\" height=\"10px\" style=\"line-height:10px; font-size:10px;\">                                                                           <tbody>                                                                              <tr>                                                                                 <td style=\"padding:0px 0px 10px 0px;\" bgcolor=\"#f78212\"></td>                                                                              </tr>                                                                           </tbody>                                                                        </table>                                                                     </td>                                                                  </tr>                                                               </tbody>                                                            </table>                                                            <table class=\"module\" role=\"module\" data-type=\"text\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"table-layout: fixed;\" data-muid=\"2q8x8zTfLywQieSSYmZbus\" data-mc-module-version=\"2019-10-22\">                                                               <tbody>                                                                  <tr>                                                                     <td style=\"padding:5px 0px 5px 0px; line-height:30px; text-align:inherit;\" height=\"100%\" valign=\"top\" bgcolor=\"\">                                                                        <div>                                                                           <div style=\"font-family: inherit; text-align: center\"><span style=\"font-size: 28px; font-family: georgia, serif; color: #f78212\"><strong>Have we missed anything?</strong></span></div>                                                                           <div></div>                                                                        </div>                                                                     </td>                                                                  </tr>                                                               </tbody>                                                            </table>                                                            <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" align=\"center\" width=\"100%\" role=\"module\" data-type=\"columns\" style=\"padding:5px 5px 5px 5px;\" bgcolor=\"\" data-distribution=\"1,1\">                                                               <tbody>                                                                  <tr role=\"module-content\">                                                                     <td height=\"100%\" valign=\"top\">                                                                        <table width=\"285\" style=\"width:285px; border-spacing:0; border-collapse:collapse; margin:0px 10px 0px 0px;\" cellpadding=\"0\" cellspacing=\"0\" align=\"left\" border=\"0\" bgcolor=\"\" class=\"column column-0\">                                                                           <tbody>                                                                              <tr>                                                                                 <td style=\"padding:0px;margin:0px;border-spacing:0;\">                                                                                    <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" class=\"module\" data-role=\"module-button\" data-type=\"button\" role=\"module\" style=\"table-layout:fixed\" width=\"100%\" data-muid=\"bKHWQMgPkL5opYCkxiM6aS\">                                                                                       <tbody>                                                                                          <tr>                                                                                             <td align=\"center\" class=\"outer-td\" style=\"padding:0px 0px 0px 0px;\" bgcolor=\"\">                                                                                                <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" class=\"button-css__deep-table___2OZyb wrapper-mobile\" style=\"text-align:center\">                                                                                                   <tbody>                                                                                                      <tr>                                                                                                         <td align=\"center\" bgcolor=\"#f78212\" class=\"inner-td\" style=\"border-radius:6px; font-size:16px; text-align:center; background-color:inherit;\"><a style=\"background-color:#f78212; border:2px solid #e5780f; border-color:#e5780f; border-radius:50px; border-width:2px; color:#ffffff; display:inline-block; font-family:verdana,geneva,sans-serif; font-size:16px; font-weight:normal; letter-spacing:0px; line-height:normal; padding:12px 18px 12px 18px; text-align:center; text-decoration:none; border-style:solid;\" href=\"https://openresearchcalendar.org/add-event\" target=\"_blank\">Add Event</a></td>                                                                                                      </tr>                                                                                                   </tbody>                                                                                                </table>                                                                                             </td>                                                                                          </tr>                                                                                       </tbody>                                                                                    </table>                                                                                 </td>                                                                              </tr>                                                                           </tbody>                                                                        </table>                                                                        <table width=\"285\" style=\"width:285px; border-spacing:0; border-collapse:collapse; margin:0px 0px 0px 10px;\" cellpadding=\"0\" cellspacing=\"0\" align=\"left\" border=\"0\" bgcolor=\"\" class=\"column column-1\">                                                                           <tbody>                                                                              <tr>                                                                                 <td style=\"padding:0px;margin:0px;border-spacing:0;\">                                                                                    <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" class=\"module\" data-role=\"module-button\" data-type=\"button\" role=\"module\" style=\"table-layout:fixed;\" width=\"100%\" data-muid=\"de2857b0-fd1f-4021-aac2-7fff9cbd24c0\">                                                                                       <tbody>                                                                                          <tr>                                                                                             <td align=\"center\" bgcolor=\"\" class=\"outer-td\" style=\"padding:0px 0px 0px 0px;\">                                                                                                <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" class=\"wrapper-mobile\" style=\"text-align:center;\">                                                                                                   <tbody>                                                                                                      <tr>                                                                                                         <td align=\"center\" bgcolor=\"#f78212\" class=\"inner-td\" style=\"border-radius:6px; font-size:16px; text-align:center; background-color:inherit;\">                  <a href=\"https://openresearchcalendar.org/calendar\" style=\"background-color:#f78212; border:2px solid #e5780f; border-color:#e5780f; border-radius:50px; border-width:2px; color:#ffffff; display:inline-block; font-size:16px; font-weight:normal; letter-spacing:0px; line-height:normal; padding:12px 18px 12px 18px; text-align:center; text-decoration:none; border-style:solid; font-family:verdana,geneva,sans-serif;\" target=\"_blank\">View the Calendar</a>                </td>                                                                                                      </tr>                                                                                                   </tbody>                                                                                                </table>                                                                                             </td>                                                                                          </tr>                                                                                       </tbody>                                                                                    </table>                                                                                 </td>                                                                              </tr>                                                                           </tbody>                                                                        </table>                                                                     </td>                                                                  </tr>                                                               </tbody>                                                            </table>                                                            <table class=\"module\" role=\"module\" data-type=\"divider\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"table-layout: fixed;\" data-muid=\"qkG1GEG4EZSwoAzbwgoD8v\">                                                               <tbody>                                                                  <tr>                                                                     <td style=\"padding:0px 0px 0px 0px;\" role=\"module-content\" height=\"100%\" valign=\"top\" bgcolor=\"\">                                                                        <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" align=\"center\" width=\"100%\" height=\"10px\" style=\"line-height:10px; font-size:10px;\">                                                                           <tbody>                                                                              <tr>                                                                                 <td style=\"padding:0px 0px 10px 0px;\" bgcolor=\"#f78212\"></td>                                                                              </tr>                                                                           </tbody>                                                                        </table>                                                                     </td>                                                                  </tr>                                                               </tbody>                                                            </table>                                                            <table class=\"module\" role=\"module\" data-type=\"spacer\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"table-layout: fixed;\" data-muid=\"24264e73-7865-48b2-9f38-a6af024047d6\">                                                               <tbody>                                                                  <tr>                                                                     <td style=\"padding:0px 0px 30px 0px;\" role=\"module-content\" bgcolor=\"\">        </td>                                                                  </tr>                                                               </tbody>                                                            </table>                                                            <table class=\"module\" role=\"module\" data-type=\"text\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"table-layout: fixed;\" data-muid=\"2a94758f-5c6d-4e75-90f4-912be0ad275e\" data-mc-module-version=\"2019-10-22\">                                                               <tbody>                                                                  <tr>                                                                     <td style=\"padding:18px 0px 18px 0px; line-height:22px; text-align:inherit;\" height=\"100%\" valign=\"top\" bgcolor=\"\" role=\"module-content\">                                                                        <div>                                                                           <div style=\"font-family: inherit\"><span style=\"color: #516775; font-family: verdana, geneva, sans-serif; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 247, 237); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial; float: none; display: inline\">Something look wrong?</span> <a href=\"https://docs.google.com/forms/d/e/1FAIpQLSf03BRa1qDvcxMf9xULhTKEG7b3kBJ9I0aRK4arNVqb949Kig/viewform\"><span style=\"color: #993300; text-decoration-line: none; text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial; font-family: verdana, geneva, sans-serif; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 247, 237)\">Report event here</span></a></div>                                                                           <div style=\"font-family: inherit\"><br></div>                                                                                                                                                     <div style=\"font-family: inherit; text-align: inherit\"><span style=\"font-size: 14px\">You have received this email as you subscribed to the Open Research Calendar newsletter. If you no longer wish to receive these, click below.</span></div>                                                                           <div></div>                                                                        </div>                                                                     </td>                                                                  </tr>                                                               </tbody>                                                            </table>                                                            <div data-role=\"module-unsubscribe\" class=\"module unsubscribe-css__unsubscribe___2CDlR\" role=\"module\" data-type=\"unsubscribe\" style=\"color:#444444; font-size:14px; line-height:20px; padding:16px 16px 16px 16px; text-align:center;\" data-muid=\"GRteXBNz7UevhwJ6u6GXE\">                                                               <div class=\"Unsubscribe--addressLine\"></div>                                                               <p style=\"font-family:arial,helvetica,sans-serif; font-size:14px; line-height:20px;\"><a target=\"_blank\" class=\"Unsubscribe--unsubscribeLink zzzzzzz\" href=\"https://openresearchcalendar.org/email-unsubscribe/\" style=\"\">Unsubscribe</a></p>                                                            </div>                                                            <table class=\"module\" role=\"module\" data-type=\"spacer\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"table-layout: fixed;\" data-muid=\"f5F8P1n4pQyU8o7DNMMEyW\">                                                               <tbody>                                                                  <tr>                                                                     <td style=\"padding:0px 0px 30px 0px;\" role=\"module-content\" bgcolor=\"\">        </td>                                                                  </tr>                                                               </tbody>                                                            </table>                                                         </td>                                                      </tr>                                                   </table>                                                   <!--[if mso]>                                                                                  </td>                                             </tr>                                          </table>                                       </center>                                       <![endif]-->                                                              </td>                                 </tr>                              </table>                           </td>                        </tr>                     </table>                  </td>               </tr>            </table>         </div>      </center>   </body></html>",
                "sender": "",
                "headers": [],
                "replyTo": "",
                "subject": "Events Summary - Open Research Calendar",
                "priority": "normal",
                "inReplyTo": "",
                "references": [],
                "attachments": [],
                "contentType": "html"
            },
            "metadata": {
                "designer": {
                    "x": 3900,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "cc": {
                            "mode": "chose"
                        },
                        "to": {
                            "mode": "chose",
                            "items": [
                                null
                            ]
                        },
                        "bcc": {
                            "mode": "edit"
                        },
                        "priority": {
                            "label": "Normal"
                        },
                        "references": {
                            "mode": "chose"
                        },
                        "attachments": {
                            "mode": "chose"
                        },
                        "contentType": {
                            "label": "HTML"
                        }
                    },
                    "parameters": {
                        "account": {
                            "data": {
                                "scoped": "true",
                                "connection": "google-restricted"
                            },
                            "label": "My Google Restricted connection ()"
                        },
                        "saveAfterSent": {
                            "label": "No"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "account",
                        "type": "account:smtp,google-restricted,microsoft-smtp-imap",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "name": "saveAfterSent",
                        "type": "select",
                        "label": "Save message after sending",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    }
                ],
                "expect": [
                    {
                        "name": "to",
                        "spec": {
                            "name": "value",
                            "type": "email",
                            "label": "Email address",
                            "required": true
                        },
                        "type": "array",
                        "label": "To",
                        "required": true
                    },
                    {
                        "name": "subject",
                        "type": "text",
                        "label": "Subject"
                    },
                    {
                        "name": "contentType",
                        "type": "select",
                        "label": "Content Type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "html",
                                "text"
                            ]
                        }
                    },
                    {
                        "name": "attachments",
                        "spec": [
                            {
                                "name": "fileName",
                                "type": "filename",
                                "label": "File name",
                                "required": true,
                                "semantic": "file:name"
                            },
                            {
                                "name": "data",
                                "type": "buffer",
                                "label": "Data",
                                "required": true,
                                "semantic": "file:data"
                            },
                            {
                                "name": "cid",
                                "type": "text",
                                "label": "Content-ID"
                            }
                        ],
                        "type": "array",
                        "label": "Attachments"
                    },
                    {
                        "name": "cc",
                        "spec": {
                            "name": "value",
                            "type": "email",
                            "label": "Email address"
                        },
                        "type": "array",
                        "label": "Copy recipient"
                    },
                    {
                        "name": "bcc",
                        "spec": {
                            "name": "value",
                            "type": "email",
                            "label": "Email address"
                        },
                        "type": "array",
                        "label": "Blind copy recipient"
                    },
                    {
                        "name": "from",
                        "type": "text",
                        "label": "From"
                    },
                    {
                        "name": "sender",
                        "type": "text",
                        "label": "Sender"
                    },
                    {
                        "name": "replyTo",
                        "type": "text",
                        "label": "Reply-To"
                    },
                    {
                        "name": "inReplyTo",
                        "type": "text",
                        "label": "In-Reply-To"
                    },
                    {
                        "name": "references",
                        "spec": {
                            "name": "value",
                            "type": "text",
                            "label": "Reference",
                            "required": true
                        },
                        "type": "array",
                        "label": "References"
                    },
                    {
                        "name": "priority",
                        "type": "select",
                        "label": "Priority",
                        "validate": {
                            "enum": [
                                "high",
                                "normal",
                                "low"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "key",
                                "type": "text",
                                "label": "Key",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value",
                                "required": true
                            }
                        ],
                        "type": "array",
                        "label": "Headers"
                    },
                    {
                        "name": "html",
                        "type": "text",
                        "label": "Content"
                    }
                ],
                "advanced": true
            },
            "onerror": [
                {
                    "id": 52,
                    "module": "builtin:Break",
                    "version": 1,
                    "parameters": {},
                    "mapper": {
                        "count": "3",
                        "retry": true,
                        "interval": "5"
                    },
                    "metadata": {
                        "designer": {
                            "x": 4200,
                            "y": 0
                        },
                        "restore": {
                            "retry": {
                                "mode": "chose"
                            }
                        },
                        "expect": [
                            {
                                "name": "retry",
                                "type": "boolean",
                                "label": "Automatically complete execution",
                                "required": true
                            },
                            {
                                "name": "count",
                                "type": "uinteger",
                                "label": "Number of attempts",
                                "required": true,
                                "validate": {
                                    "max": 10000,
                                    "min": 1
                                }
                            },
                            {
                                "name": "interval",
                                "type": "uinteger",
                                "label": "Interval between attempts",
                                "required": true,
                                "validate": {
                                    "max": 44640,
                                    "min": 1
                                }
                            }
                        ]
                    }
                }
            ]
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": false,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "confidential": false,
            "dataloss": false,
            "dlq": true,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com"
    }
}