Documents/Processes/6_Sticker Automations/Sticker request email confirmation.json
{
    "name": "Sticker request email confirmation",
    "flow": [
        {
            "id": 8,
            "module": "tripetto:watchalldata",
            "version": 1,
            "parameters": {
                "__IMTHOOK__": 449741
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "__IMTHOOK__": {
                            "data": {
                                "editable": "false"
                            },
                            "label": "Sticker-request"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTHOOK__",
                        "type": "hook:tripetto",
                        "label": "Webhook",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 9,
            "module": "google-sheets:addRow",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 388472
            },
            "mapper": {
                "from": "drive",
                "mode": "select",
                "values": {
                    "0": "{{8.tripettoCreateDate}}",
                    "1": "{{8.`How many stickers would you like?`}}",
                    "2": "{{8.`Full Name`}}",
                    "3": "{{8.Email}}",
                    "4": "{{8.`Address Line 1`}}",
                    "5": "{{8.`Address Line 2 (optional)`}}",
                    "6": "{{8.`City/Town/Village`}}",
                    "7": "{{8.Country}}",
                    "8": "{{8.Postcode}}"
                },
                "sheetId": "Form Responses 1",
                "spreadsheetId": "/GOOGLE SHEET ID",
                "includesHeaders": true,
                "insertDataOption": "INSERT_ROWS",
                "valueInputOption": "USER_ENTERED",
                "insertUnformatted": false
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "from": {
                            "label": "My Drive"
                        },
                        "mode": {
                            "label": "Select by path"
                        },
                        "sheetId": {
                            "label": "Form Responses 1"
                        },
                        "spreadsheetId": {
                            "path": [
                                "Request ORC Badge (Responses)"
                            ]
                        },
                        "includesHeaders": {
                            "label": "Yes",
                            "nested": [
                                {
                                    "name": "values",
                                    "spec": [
                                        {
                                            "name": "0",
                                            "type": "text",
                                            "label": "Timestamp (A)"
                                        },
                                        {
                                            "name": "1",
                                            "type": "text",
                                            "label": "How many? (B)"
                                        },
                                        {
                                            "name": "2",
                                            "type": "text",
                                            "label": "Name (C)"
                                        },
                                        {
                                            "name": "3",
                                            "type": "text",
                                            "label": "Email (D)"
                                        },
                                        {
                                            "name": "4",
                                            "type": "text",
                                            "label": "Address Line 1 (E)"
                                        },
                                        {
                                            "name": "5",
                                            "type": "text",
                                            "label": "Address Line 2 (F)"
                                        },
                                        {
                                            "name": "6",
                                            "type": "text",
                                            "label": "City (G)"
                                        },
                                        {
                                            "name": "7",
                                            "type": "text",
                                            "label": "Country (H)"
                                        },
                                        {
                                            "name": "8",
                                            "type": "text",
                                            "label": "Postcode (I)"
                                        },
                                        {
                                            "name": "9",
                                            "type": "text",
                                            "label": "Confirmation (J)"
                                        },
                                        {
                                            "name": "10",
                                            "type": "text",
                                            "label": "Despatched? (K)"
                                        },
                                        {
                                            "name": "11",
                                            "type": "text",
                                            "label": "Merge status (L)"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Values"
                                }
                            ]
                        },
                        "insertDataOption": {
                            "mode": "chose",
                            "label": "Insert rows"
                        },
                        "valueInputOption": {
                            "mode": "chose",
                            "label": "User entered"
                        },
                        "insertUnformatted": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "My Google connection ()"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "mode",
                        "type": "select",
                        "label": "Choose a Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "select",
                                "fromAll",
                                "map"
                            ]
                        }
                    },
                    {
                        "name": "insertUnformatted",
                        "type": "boolean",
                        "label": "Unformatted",
                        "required": true
                    },
                    {
                        "name": "valueInputOption",
                        "type": "select",
                        "label": "Value input option",
                        "validate": {
                            "enum": [
                                "USER_ENTERED",
                                "RAW"
                            ]
                        }
                    },
                    {
                        "name": "insertDataOption",
                        "type": "select",
                        "label": "Insert data option",
                        "validate": {
                            "enum": [
                                "INSERT_ROWS",
                                "OVERWRITE"
                            ]
                        }
                    },
                    {
                        "name": "from",
                        "type": "select",
                        "label": "Choose a Drive",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "file",
                        "label": "Spreadsheet ID",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet Name",
                        "required": true
                    },
                    {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "values",
                        "spec": [
                            {
                                "name": "0",
                                "type": "text",
                                "label": "Timestamp (A)"
                            },
                            {
                                "name": "1",
                                "type": "text",
                                "label": "How many? (B)"
                            },
                            {
                                "name": "2",
                                "type": "text",
                                "label": "Name (C)"
                            },
                            {
                                "name": "3",
                                "type": "text",
                                "label": "Email (D)"
                            },
                            {
                                "name": "4",
                                "type": "text",
                                "label": "Address Line 1 (E)"
                            },
                            {
                                "name": "5",
                                "type": "text",
                                "label": "Address Line 2 (F)"
                            },
                            {
                                "name": "6",
                                "type": "text",
                                "label": "City (G)"
                            },
                            {
                                "name": "7",
                                "type": "text",
                                "label": "Country (H)"
                            },
                            {
                                "name": "8",
                                "type": "text",
                                "label": "Postcode (I)"
                            },
                            {
                                "name": "9",
                                "type": "text",
                                "label": "Confirmation (J)"
                            },
                            {
                                "name": "10",
                                "type": "text",
                                "label": "Despatched? (K)"
                            },
                            {
                                "name": "11",
                                "type": "text",
                                "label": "Merge status (L)"
                            }
                        ],
                        "type": "collection",
                        "label": "Values"
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "email:ActionSendEmail",
            "version": 7,
            "parameters": {
                "account": 388471,
                "saveAfterSent": false
            },
            "mapper": {
                "cc": [],
                "to": "{{8.Email}}",
                "bcc": [
                    "b.kennedy@chester.ac.uk",
                    "e.plomp@tudelft.nl"
                ],
                "from": "\"Stickers | Open Research Calendar\" stickers@openresearchcalendar.org",
                "html": "<!doctype html><html>  <head>    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">    <meta http-equiv=\"Content-Type\" content=\"text/html; charset=UTF-8\">    <title>Stickers Ordered</title>    <style>@media only screen and (max-width: 620px) {  table.body h1 {    font-size: 28px !important;    margin-bottom: 10px !important;  }  table.body p,table.body ul,table.body ol,table.body td,table.body span,table.body a {    font-size: 16px !important;  }  table.body .wrapper,table.body .article {    padding: 10px !important;  }  table.body .content {    padding: 0 !important;  }  table.body .container {    padding: 0 !important;    width: 100% !important;  }  table.body .main {    border-left-width: 0 !important;    border-radius: 0 !important;    border-right-width: 0 !important;  }  table.body .btn table {    width: 100% !important;  }  table.body .btn a {    width: 100% !important;  }  table.body .img-responsive {    height: auto !important;    max-width: 100% !important;    width: auto !important;  }}@media all {  .ExternalClass {    width: 100%;  }  .ExternalClass,.ExternalClass p,.ExternalClass span,.ExternalClass font,.ExternalClass td,.ExternalClass div {    line-height: 100%;  }  .apple-link a {    color: inherit !important;    font-family: inherit !important;    font-size: inherit !important;    font-weight: inherit !important;    line-height: inherit !important;    text-decoration: none !important;  }  #MessageViewBody a {    color: inherit;    text-decoration: none;    font-size: inherit;    font-family: inherit;    font-weight: inherit;    line-height: inherit;  }  .btn-primary table td:hover {    background-color: #ffa75b !important;  }  .btn-primary a:hover {    background-color: #ffa75b !important;    border-color: #ffa75b !important;  }}</style>  </head>  <body style=\"background-color: #f6f6f6; font-family: sans-serif; -webkit-font-smoothing: antialiased; font-size: 14px; line-height: 1.4; margin: 0; padding: 0; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;\">    <span class=\"preheader\" style=\"color: transparent; display: none; height: 0; max-height: 0; max-width: 0; opacity: 0; overflow: hidden; mso-hide: all; visibility: hidden; width: 0;\">Your Open Research Calendar Order</span>    <table role=\"presentation\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" class=\"body\" style=\"border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; background-color: #f6f6f6; width: 100%;\" width=\"100%\" bgcolor=\"#f6f6f6\">      <tr>        <td style=\"font-family: sans-serif; font-size: 14px; vertical-align: top;\" valign=\"top\">&nbsp;</td>        <td class=\"container\" style=\"font-family: sans-serif; font-size: 14px; vertical-align: top; display: block; max-width: 580px; padding: 10px; width: 580px; margin: 0 auto;\" width=\"580\" valign=\"top\">          <div class=\"content\" style=\"box-sizing: border-box; display: block; margin: 0 auto; max-width: 580px; padding: 10px;\">            <!-- START CENTERED WHITE CONTAINER -->            <table role=\"presentation\" class=\"main\" style=\"border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; background: #ffffff; border-radius: 3px; width: 100%;\" width=\"100%\">              <!-- START MAIN CONTENT AREA -->              <tr>                <td class=\"wrapper\" style=\"font-family: sans-serif; font-size: 14px; vertical-align: top; box-sizing: border-box; padding: 20px;\" valign=\"top\">                  <table role=\"presentation\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" style=\"border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%;\" width=\"100%\">                    <tr>                      <td style=\"font-family: sans-serif; font-size: 14px; vertical-align: top;\" valign=\"top\">                        <p style=\"font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; margin-bottom: 15px;\"><img style=\"display: block; margin-left: auto; margin-right: auto;\" src=\"https://raw.githubusercontent.com/openresearchcalendar/openresearchcalendar.github.io/master/Documents/Images/logo_wide-cropped.png\" alt=\"\" width=\"243\" height=\"79\"></p>                        <p style=\"font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; margin-bottom: 15px;\">Hi {{8.`Full Name`}},</p>                        <p style=\"font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; margin-bottom: 15px;\">Thank you for registering your interest in the Open Research Calendar stickers. This email confirms that we have received your information. As a reminder, you have provided the following:</p>                        <p style=\"font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; margin-bottom: 15px;\">Amount requested: {{8.`How many stickers would you like?`}}<br />Name: {{8.`Full Name`}}<br />Address: {{8.`Address Line 1`}}, {{8.`Address Line 2 (optional)`}}, {{8.`City/Town/Village`}}, {{8.Country}}, {{8.Postcode}}<br />Email: {{8.Email}}</p>                        <p style=\"font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; margin-bottom: 15px;\">If any of these details are incorrect, please let us know.</p>                        <table class=\"btn btn-primary\" style=\"border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%; box-sizing: border-box;\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\">                            <tbody>                            <tr>                            <td style=\"font-family: sans-serif; font-size: 14px; vertical-align: top; padding-bottom: 15px;\" align=\"left\">                            <table style=\"border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: auto;\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\">                            <tbody>                            <tr>                            <td style=\"font-family: sans-serif; font-size: 14px; vertical-align: top; background-color: #ff7700; border-radius: 5px; text-align: center;\"><a style=\"display: inline-block; color: #ffffff; background-color: #ff7700; border: solid 1px #3498db; border-radius: 5px; box-sizing: border-box; cursor: pointer; text-decoration: none; font-size: 14px; font-weight: bold; margin: 0; padding: 12px 25px; text-transform: capitalize; border-color: #ff7700;\" href=\"mailto:stickers@openresearchcalendar.org\" target=\"_blank\" rel=\"noopener\">Send corrected details</a></td>                            </tr>                            </tbody>                            </table>                            </td>                            </tr>                            </tbody>                            </table>                            <p style=\"font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; margin-bottom: 15px;\">We are shipping in batches (to keep costs down), we will send you a second email when the stickers have been mailed. All of your information will be completely erased at that point too.</p>                            <p style=\"font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; margin-bottom: 15px;\">This service is being offered free of charge, however, if you wish to support the ORC, you can do so by donating below. Thank you.</p>                            <table class=\"btn btn-primary\" style=\"border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%; box-sizing: border-box;\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\">                            <tbody>                            <tr>                            <td style=\"font-family: sans-serif; font-size: 14px; vertical-align: top; padding-bottom: 15px;\" align=\"left\">                            <table style=\"border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: auto;\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\">                            <tbody>                            <tr>                            <td style=\"font-family: sans-serif; font-size: 14px; vertical-align: top; background-color: #ff7700; border-radius: 5px; text-align: center;\"><a style=\"display: inline-block; color: #ffffff; background-color: #ff7700; border: solid 1px #3498db; border-radius: 5px; box-sizing: border-box; cursor: pointer; text-decoration: none; font-size: 14px; font-weight: bold; margin: 0; padding: 12px 25px; text-transform: capitalize; border-color: #ff7700;\" href=\"https://openresearchcalendar.org/donate/\" target=\"_blank\" rel=\"noopener\">Donate</a></td>                            </tr>                            </tbody>                            </table>                            </td>                            </tr>                            </tbody>                            </table>                        <p style=\"font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; margin-bottom: 15px;\">All the best,<br />The Open Research Calendar Team</p>                      </td>                    </tr>                  </table>                </td>              </tr>            <!-- END MAIN CONTENT AREA -->            </table>            <!-- END CENTERED WHITE CONTAINER -->            <!-- START FOOTER -->            <div class=\"footer\" style=\"clear: both; margin-top: 10px; text-align: center; width: 100%;\">              <table role=\"presentation\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" style=\"border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%;\" width=\"100%\">                <tr>                  <td class=\"content-block\" style=\"font-family: sans-serif; vertical-align: top; padding-bottom: 10px; padding-top: 10px; color: #999999; font-size: 12px; text-align: center;\" valign=\"top\" align=\"center\">                    <span class=\"apple-link\" style=\"color: #999999; font-size: 12px; text-align: center;\">Open Research Calendar</span>                    <br>View on <a style=\"text-decoration: underline; color: #999999; font-size: 12px; text-align: center;\" href=\"https://github.com/openresearchcalendar\">GitHub</a>.                  </td>                </tr>                <tr>                  <td class=\"content-block powered-by\" style=\"font-family: sans-serif; vertical-align: top; padding-bottom: 10px; padding-top: 10px; color: #999999; font-size: 12px; text-align: center;\" valign=\"top\" align=\"center\">                    This is not a mailing list.                  </td>                </tr>              </table>            </div>            <!-- END FOOTER -->          </div>        </td>        <td style=\"font-family: sans-serif; font-size: 14px; vertical-align: top;\" valign=\"top\">&nbsp;</td>      </tr>    </table>  </body></html>",
                "sender": "",
                "headers": [],
                "replyTo": "",
                "subject": "Your order confirmation - Open Research Calendar Badges",
                "priority": "normal",
                "inReplyTo": "",
                "references": [],
                "attachments": [],
                "contentType": "html"
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "cc": {
                            "mode": "chose"
                        },
                        "to": {
                            "mode": "edit",
                            "items": [
                                null
                            ]
                        },
                        "bcc": {
                            "mode": "chose",
                            "items": [
                                null,
                                null
                            ]
                        },
                        "priority": {
                            "label": "Normal"
                        },
                        "references": {
                            "mode": "chose"
                        },
                        "attachments": {
                            "mode": "chose"
                        },
                        "contentType": {
                            "label": "HTML"
                        }
                    },
                    "parameters": {
                        "account": {
                            "data": {
                                "scoped": "true",
                                "connection": "google-restricted"
                            },
                            "label": "My Google Restricted connection ()"
                        },
                        "saveAfterSent": {
                            "label": "No"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "account",
                        "type": "account:smtp,google-restricted,microsoft-smtp-imap",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "name": "saveAfterSent",
                        "type": "select",
                        "label": "Save message after sending",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    }
                ],
                "expect": [
                    {
                        "name": "to",
                        "spec": {
                            "name": "value",
                            "type": "email",
                            "label": "Email address",
                            "required": true
                        },
                        "type": "array",
                        "label": "To",
                        "required": true
                    },
                    {
                        "name": "subject",
                        "type": "text",
                        "label": "Subject"
                    },
                    {
                        "name": "contentType",
                        "type": "select",
                        "label": "Content Type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "html",
                                "text"
                            ]
                        }
                    },
                    {
                        "name": "attachments",
                        "spec": [
                            {
                                "name": "fileName",
                                "type": "filename",
                                "label": "File name",
                                "required": true,
                                "semantic": "file:name"
                            },
                            {
                                "name": "data",
                                "type": "buffer",
                                "label": "Data",
                                "required": true,
                                "semantic": "file:data"
                            },
                            {
                                "name": "cid",
                                "type": "text",
                                "label": "Content-ID"
                            }
                        ],
                        "type": "array",
                        "label": "Attachments"
                    },
                    {
                        "name": "cc",
                        "spec": {
                            "name": "value",
                            "type": "email",
                            "label": "Email address"
                        },
                        "type": "array",
                        "label": "Copy recipient"
                    },
                    {
                        "name": "bcc",
                        "spec": {
                            "name": "value",
                            "type": "email",
                            "label": "Email address"
                        },
                        "type": "array",
                        "label": "Blind copy recipient"
                    },
                    {
                        "name": "from",
                        "type": "text",
                        "label": "From"
                    },
                    {
                        "name": "sender",
                        "type": "text",
                        "label": "Sender"
                    },
                    {
                        "name": "replyTo",
                        "type": "text",
                        "label": "Reply-To"
                    },
                    {
                        "name": "inReplyTo",
                        "type": "text",
                        "label": "In-Reply-To"
                    },
                    {
                        "name": "references",
                        "spec": {
                            "name": "value",
                            "type": "text",
                            "label": "Reference",
                            "required": true
                        },
                        "type": "array",
                        "label": "References"
                    },
                    {
                        "name": "priority",
                        "type": "select",
                        "label": "Priority",
                        "validate": {
                            "enum": [
                                "high",
                                "normal",
                                "low"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "key",
                                "type": "text",
                                "label": "Key",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value",
                                "required": true
                            }
                        ],
                        "type": "array",
                        "label": "Headers"
                    },
                    {
                        "name": "html",
                        "type": "text",
                        "label": "Content"
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 4,
            "module": "google-sheets:updateRow",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 388472
            },
            "mapper": {
                "from": "drive",
                "mode": "select",
                "values": {
                    "9": "Confirmation SENT - {{now}}"
                },
                "sheetId": "Form Responses 1",
                "rowNumber": "{{9.rowNumber}}",
                "spreadsheetId": "/GOOGLE SHEET ID",
                "includesHeaders": true,
                "valueInputOption": "USER_ENTERED"
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "from": {
                            "label": "My Drive"
                        },
                        "mode": {
                            "label": "Select by path"
                        },
                        "sheetId": {
                            "label": "Form Responses 1"
                        },
                        "spreadsheetId": {
                            "path": [
                                "Request ORC Badge (Responses)"
                            ]
                        },
                        "includesHeaders": {
                            "label": "Yes",
                            "nested": [
                                {
                                    "name": "values",
                                    "spec": [
                                        {
                                            "name": "0",
                                            "type": "text",
                                            "label": "Timestamp (A)"
                                        },
                                        {
                                            "name": "1",
                                            "type": "text",
                                            "label": "How many? (B)"
                                        },
                                        {
                                            "name": "2",
                                            "type": "text",
                                            "label": "Name (C)"
                                        },
                                        {
                                            "name": "3",
                                            "type": "text",
                                            "label": "Email (D)"
                                        },
                                        {
                                            "name": "4",
                                            "type": "text",
                                            "label": "Address Line 1 (E)"
                                        },
                                        {
                                            "name": "5",
                                            "type": "text",
                                            "label": "Address Line 2 (F)"
                                        },
                                        {
                                            "name": "6",
                                            "type": "text",
                                            "label": "City (G)"
                                        },
                                        {
                                            "name": "7",
                                            "type": "text",
                                            "label": "Country (H)"
                                        },
                                        {
                                            "name": "8",
                                            "type": "text",
                                            "label": "Postcode (I)"
                                        },
                                        {
                                            "name": "9",
                                            "type": "text",
                                            "label": "Confirmation (J)"
                                        },
                                        {
                                            "name": "10",
                                            "type": "text",
                                            "label": "Despatched? (K)"
                                        },
                                        {
                                            "name": "11",
                                            "type": "text",
                                            "label": "Merge status (L)"
                                        },
                                        {
                                            "name": "12",
                                            "type": "text",
                                            "label": "Attachment name (M)"
                                        },
                                        {
                                            "name": "13",
                                            "type": "text",
                                            "label": "Attachment (N)"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Values"
                                }
                            ]
                        },
                        "valueInputOption": {
                            "mode": "chose",
                            "label": "User entered"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "My Google connection ()"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "mode",
                        "type": "select",
                        "label": "Choose a Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "select",
                                "fromAll",
                                "map"
                            ]
                        }
                    },
                    {
                        "name": "valueInputOption",
                        "type": "select",
                        "label": "Value input option",
                        "validate": {
                            "enum": [
                                "USER_ENTERED",
                                "RAW"
                            ]
                        }
                    },
                    {
                        "name": "from",
                        "type": "select",
                        "label": "Choose a Drive",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "file",
                        "label": "Spreadsheet ID",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet Name",
                        "required": true
                    },
                    {
                        "name": "rowNumber",
                        "type": "uinteger",
                        "label": "Row number",
                        "required": true
                    },
                    {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "values",
                        "spec": [
                            {
                                "name": "0",
                                "type": "text",
                                "label": "Timestamp (A)"
                            },
                            {
                                "name": "1",
                                "type": "text",
                                "label": "How many? (B)"
                            },
                            {
                                "name": "2",
                                "type": "text",
                                "label": "Name (C)"
                            },
                            {
                                "name": "3",
                                "type": "text",
                                "label": "Email (D)"
                            },
                            {
                                "name": "4",
                                "type": "text",
                                "label": "Address Line 1 (E)"
                            },
                            {
                                "name": "5",
                                "type": "text",
                                "label": "Address Line 2 (F)"
                            },
                            {
                                "name": "6",
                                "type": "text",
                                "label": "City (G)"
                            },
                            {
                                "name": "7",
                                "type": "text",
                                "label": "Country (H)"
                            },
                            {
                                "name": "8",
                                "type": "text",
                                "label": "Postcode (I)"
                            },
                            {
                                "name": "9",
                                "type": "text",
                                "label": "Confirmation (J)"
                            },
                            {
                                "name": "10",
                                "type": "text",
                                "label": "Despatched? (K)"
                            },
                            {
                                "name": "11",
                                "type": "text",
                                "label": "Merge status (L)"
                            },
                            {
                                "name": "12",
                                "type": "text",
                                "label": "Attachment name (M)"
                            },
                            {
                                "name": "13",
                                "type": "text",
                                "label": "Attachment (N)"
                            }
                        ],
                        "type": "collection",
                        "label": "Values"
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": false,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com"
    }
}