Documents/Processes/4_Twitter Automations/Tweet new events.json
{
    "name": "Tweet new events",
    "flow": [
        {
            "id": 48,
            "module": "google-sheets:filterRows",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 388472
            },
            "mapper": {
                "limit": "50",
                "filter": [
                    [
                        {
                            "a": "A",
                            "b": "",
                            "o": "exist"
                        },
                        {
                            "a": "Q",
                            "b": "",
                            "o": "notexist"
                        }
                    ]
                ],
                "orderBy": "__ROW_NUMBER__",
                "sheetId": "Form responses 8",
                "fieldType": "string",
                "sortOrder": "asc",
                "spreadsheetId": "GOOGLE SHEET ID",
                "tableFirstRow": "A1:CZ1",
                "includesHeaders": true,
                "valueRenderOption": "FORMATTED_VALUE",
                "dateTimeRenderOption": "FORMATTED_STRING"
            },
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 600
                },
                "restore": {
                    "orderBy": {
                        "mode": "chose",
                        "label": "Row number"
                    },
                    "sheetId": {
                        "mode": "chose",
                        "label": "Form responses 8"
                    },
                    "fieldType": {
                        "mode": "chose",
                        "label": "String"
                    },
                    "sortOrder": {
                        "mode": "chose",
                        "label": "Ascending"
                    },
                    "__IMTCONN__": {
                        "label": "My Google connection"
                    },
                    "spreadsheetId": {
                        "mode": "chose",
                        "label": "CalPush_repro2020"
                    },
                    "tableFirstRow": {
                        "label": "A-CZ"
                    },
                    "includesHeaders": {
                        "mode": "chose",
                        "label": "Yes"
                    },
                    "valueRenderOption": {
                        "mode": "chose",
                        "label": "Formatted value"
                    },
                    "dateTimeRenderOption": {
                        "mode": "chose",
                        "label": "Formatted string"
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "spreadsheetId",
                        "type": "select",
                        "label": "Spreadsheet",
                        "required": true
                    },
                    {
                        "name": "valueRenderOption",
                        "type": "select",
                        "label": "Value render option",
                        "validate": {
                            "enum": [
                                "FORMATTED_VALUE",
                                "UNFORMATTED_VALUE",
                                "FORMULA"
                            ]
                        }
                    },
                    {
                        "name": "dateTimeRenderOption",
                        "type": "select",
                        "label": "Date and time render option",
                        "validate": {
                            "enum": [
                                "SERIAL_NUMBER",
                                "FORMATTED_STRING"
                            ]
                        }
                    },
                    {
                        "name": "limit",
                        "type": "number",
                        "label": "Maximum number of returned rows"
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet",
                        "required": true
                    },
                    {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "tableFirstRow",
                        "type": "select",
                        "label": "Column range",
                        "required": true,
                        "validate": {
                            "enum": [
                                "A1:Z1",
                                "A1:BZ1",
                                "A1:CZ1",
                                "A1:DZ1",
                                "A1:MZ1",
                                "A1:ZZ1"
                            ]
                        }
                    },
                    {
                        "name": "filter",
                        "type": "filter",
                        "label": "Filter",
                        "options": {
                            "store": "rpc://google-sheets@2/rpcGetFilterKeys?includesHeaders=true"
                        }
                    },
                    {
                        "name": "sortOrder",
                        "type": "select",
                        "label": "Sort order",
                        "validate": {
                            "enum": [
                                "asc",
                                "desc"
                            ]
                        }
                    },
                    {
                        "name": "orderBy",
                        "type": "select",
                        "label": "Order by"
                    },
                    {
                        "name": "fieldType",
                        "type": "select",
                        "label": "Field Type",
                        "validate": {
                            "enum": [
                                "string",
                                "number",
                                "date"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "__IMTLENGTH__",
                        "type": "uinteger",
                        "label": "Total number of bundles"
                    },
                    {
                        "name": "__IMTINDEX__",
                        "type": "uinteger",
                        "label": "Bundle order position"
                    },
                    {
                        "name": "__ROW_NUMBER__",
                        "type": "number",
                        "label": "Row number"
                    },
                    {
                        "name": "__SPREADSHEET_ID__",
                        "type": "text",
                        "label": "Spreadsheet ID"
                    },
                    {
                        "name": "__SHEET__",
                        "type": "text",
                        "label": "Sheet"
                    },
                    {
                        "name": "0",
                        "type": "text",
                        "label": "Timestamp (A)"
                    },
                    {
                        "name": "1",
                        "type": "text",
                        "label": "Event title (B)"
                    },
                    {
                        "name": "2",
                        "type": "text",
                        "label": "Location (C)"
                    },
                    {
                        "name": "3",
                        "type": "text",
                        "label": "URL (D)"
                    },
                    {
                        "name": "4",
                        "type": "text",
                        "label": "Description (E)"
                    },
                    {
                        "name": "5",
                        "type": "text",
                        "label": "Timezone (F)"
                    },
                    {
                        "name": "6",
                        "type": "text",
                        "label": "Start Date&Time (G)"
                    },
                    {
                        "name": "7",
                        "type": "text",
                        "label": "End Date&Time (H)"
                    },
                    {
                        "name": "8",
                        "type": "text",
                        "label": "FormattedEventName (I)"
                    },
                    {
                        "name": "9",
                        "type": "text",
                        "label": "UTCStart (J)"
                    },
                    {
                        "name": "10",
                        "type": "text",
                        "label": "UTCEnd (K)"
                    },
                    {
                        "name": "11",
                        "type": "text",
                        "label": "Pushed to Calendar (L)"
                    },
                    {
                        "name": "12",
                        "type": "text",
                        "label": "CalendarEventCreated(ID) (M)"
                    },
                    {
                        "name": "13",
                        "type": "text",
                        "label": "last action (N)"
                    },
                    {
                        "name": "14",
                        "type": "text",
                        "label": "Date entry made (O)"
                    },
                    {
                        "name": "15",
                        "type": "text",
                        "label": "Event ID (P)"
                    },
                    {
                        "name": "16",
                        "type": "text",
                        "label": "Twitter ID (Q)"
                    },
                    {
                        "name": "17",
                        "type": "text",
                        "label": "(R)"
                    },
                    {
                        "name": "18",
                        "type": "text",
                        "label": "(S)"
                    },
                    {
                        "name": "19",
                        "type": "text",
                        "label": "(T)"
                    },
                    {
                        "name": "20",
                        "type": "text",
                        "label": "(U)"
                    },
                    {
                        "name": "21",
                        "type": "text",
                        "label": "(V)"
                    },
                    {
                        "name": "22",
                        "type": "text",
                        "label": "(W)"
                    },
                    {
                        "name": "23",
                        "type": "text",
                        "label": "(X)"
                    },
                    {
                        "name": "24",
                        "type": "text",
                        "label": "(Y)"
                    },
                    {
                        "name": "25",
                        "type": "text",
                        "label": "(Z)"
                    },
                    {
                        "name": "26",
                        "type": "text",
                        "label": "(AA)"
                    },
                    {
                        "name": "27",
                        "type": "text",
                        "label": "(AB)"
                    },
                    {
                        "name": "28",
                        "type": "text",
                        "label": "(AC)"
                    },
                    {
                        "name": "29",
                        "type": "text",
                        "label": "(AD)"
                    },
                    {
                        "name": "30",
                        "type": "text",
                        "label": "(AE)"
                    },
                    {
                        "name": "31",
                        "type": "text",
                        "label": "(AF)"
                    },
                    {
                        "name": "32",
                        "type": "text",
                        "label": "(AG)"
                    },
                    {
                        "name": "33",
                        "type": "text",
                        "label": "(AH)"
                    },
                    {
                        "name": "34",
                        "type": "text",
                        "label": "(AI)"
                    },
                    {
                        "name": "35",
                        "type": "text",
                        "label": "(AJ)"
                    },
                    {
                        "name": "36",
                        "type": "text",
                        "label": "(AK)"
                    },
                    {
                        "name": "37",
                        "type": "text",
                        "label": "(AL)"
                    },
                    {
                        "name": "38",
                        "type": "text",
                        "label": "(AM)"
                    },
                    {
                        "name": "39",
                        "type": "text",
                        "label": "(AN)"
                    },
                    {
                        "name": "40",
                        "type": "text",
                        "label": "(AO)"
                    },
                    {
                        "name": "41",
                        "type": "text",
                        "label": "(AP)"
                    },
                    {
                        "name": "42",
                        "type": "text",
                        "label": "(AQ)"
                    },
                    {
                        "name": "43",
                        "type": "text",
                        "label": "(AR)"
                    },
                    {
                        "name": "44",
                        "type": "text",
                        "label": "(AS)"
                    },
                    {
                        "name": "45",
                        "type": "text",
                        "label": "(AT)"
                    },
                    {
                        "name": "46",
                        "type": "text",
                        "label": "(AU)"
                    },
                    {
                        "name": "47",
                        "type": "text",
                        "label": "(AV)"
                    },
                    {
                        "name": "48",
                        "type": "text",
                        "label": "(AW)"
                    },
                    {
                        "name": "49",
                        "type": "text",
                        "label": "(AX)"
                    },
                    {
                        "name": "50",
                        "type": "text",
                        "label": "(AY)"
                    },
                    {
                        "name": "51",
                        "type": "text",
                        "label": "(AZ)"
                    },
                    {
                        "name": "52",
                        "type": "text",
                        "label": "(BA)"
                    },
                    {
                        "name": "53",
                        "type": "text",
                        "label": "(BB)"
                    },
                    {
                        "name": "54",
                        "type": "text",
                        "label": "(BC)"
                    },
                    {
                        "name": "55",
                        "type": "text",
                        "label": "(BD)"
                    },
                    {
                        "name": "56",
                        "type": "text",
                        "label": "(BE)"
                    },
                    {
                        "name": "57",
                        "type": "text",
                        "label": "(BF)"
                    },
                    {
                        "name": "58",
                        "type": "text",
                        "label": "(BG)"
                    },
                    {
                        "name": "59",
                        "type": "text",
                        "label": "(BH)"
                    },
                    {
                        "name": "60",
                        "type": "text",
                        "label": "(BI)"
                    },
                    {
                        "name": "61",
                        "type": "text",
                        "label": "(BJ)"
                    },
                    {
                        "name": "62",
                        "type": "text",
                        "label": "(BK)"
                    },
                    {
                        "name": "63",
                        "type": "text",
                        "label": "(BL)"
                    },
                    {
                        "name": "64",
                        "type": "text",
                        "label": "(BM)"
                    },
                    {
                        "name": "65",
                        "type": "text",
                        "label": "(BN)"
                    },
                    {
                        "name": "66",
                        "type": "text",
                        "label": "(BO)"
                    },
                    {
                        "name": "67",
                        "type": "text",
                        "label": "(BP)"
                    },
                    {
                        "name": "68",
                        "type": "text",
                        "label": "(BQ)"
                    },
                    {
                        "name": "69",
                        "type": "text",
                        "label": "(BR)"
                    },
                    {
                        "name": "70",
                        "type": "text",
                        "label": "(BS)"
                    },
                    {
                        "name": "71",
                        "type": "text",
                        "label": "(BT)"
                    },
                    {
                        "name": "72",
                        "type": "text",
                        "label": "(BU)"
                    },
                    {
                        "name": "73",
                        "type": "text",
                        "label": "(BV)"
                    },
                    {
                        "name": "74",
                        "type": "text",
                        "label": "(BW)"
                    },
                    {
                        "name": "75",
                        "type": "text",
                        "label": "(BX)"
                    },
                    {
                        "name": "76",
                        "type": "text",
                        "label": "(BY)"
                    },
                    {
                        "name": "77",
                        "type": "text",
                        "label": "(BZ)"
                    },
                    {
                        "name": "78",
                        "type": "text",
                        "label": "(CA)"
                    },
                    {
                        "name": "79",
                        "type": "text",
                        "label": "(CB)"
                    },
                    {
                        "name": "80",
                        "type": "text",
                        "label": "(CC)"
                    },
                    {
                        "name": "81",
                        "type": "text",
                        "label": "(CD)"
                    },
                    {
                        "name": "82",
                        "type": "text",
                        "label": "(CE)"
                    },
                    {
                        "name": "83",
                        "type": "text",
                        "label": "(CF)"
                    },
                    {
                        "name": "84",
                        "type": "text",
                        "label": "(CG)"
                    },
                    {
                        "name": "85",
                        "type": "text",
                        "label": "(CH)"
                    },
                    {
                        "name": "86",
                        "type": "text",
                        "label": "(CI)"
                    },
                    {
                        "name": "87",
                        "type": "text",
                        "label": "(CJ)"
                    },
                    {
                        "name": "88",
                        "type": "text",
                        "label": "(CK)"
                    },
                    {
                        "name": "89",
                        "type": "text",
                        "label": "(CL)"
                    },
                    {
                        "name": "90",
                        "type": "text",
                        "label": "(CM)"
                    },
                    {
                        "name": "91",
                        "type": "text",
                        "label": "(CN)"
                    },
                    {
                        "name": "92",
                        "type": "text",
                        "label": "(CO)"
                    },
                    {
                        "name": "93",
                        "type": "text",
                        "label": "(CP)"
                    },
                    {
                        "name": "94",
                        "type": "text",
                        "label": "(CQ)"
                    },
                    {
                        "name": "95",
                        "type": "text",
                        "label": "(CR)"
                    },
                    {
                        "name": "96",
                        "type": "text",
                        "label": "(CS)"
                    },
                    {
                        "name": "97",
                        "type": "text",
                        "label": "(CT)"
                    },
                    {
                        "name": "98",
                        "type": "text",
                        "label": "(CU)"
                    },
                    {
                        "name": "99",
                        "type": "text",
                        "label": "(CV)"
                    },
                    {
                        "name": "100",
                        "type": "text",
                        "label": "(CW)"
                    },
                    {
                        "name": "101",
                        "type": "text",
                        "label": "(CX)"
                    },
                    {
                        "name": "102",
                        "type": "text",
                        "label": "(CY)"
                    },
                    {
                        "name": "103",
                        "type": "text",
                        "label": "(CZ)"
                    }
                ]
            }
        },
        {
            "id": 45,
            "module": "builtin:BasicRouter",
            "version": 1,
            "filter": {
                "name": "if not already tweeted",
                "conditions": [
                    [
                        {
                            "a": "{{48.`16`}}",
                            "b": "",
                            "o": "notexist"
                        },
                        {
                            "a": "{{48.`__IMTLENGTH__`}}",
                            "b": "0",
                            "o": "number:greater"
                        }
                    ]
                ]
            },
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 600
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 10,
                            "module": "google-calendar:getAnEvent",
                            "version": 5,
                            "parameters": {
                                "__IMTCONN__": 388472
                            },
                            "filter": {
                                "name": "Event ID Not Missing",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{48.`15`}}",
                                            "b": "#VALUE!",
                                            "o": "text:notequal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "event": "{{48.`15`}}",
                                "calendar":
                            },
                            "metadata": {
                                "designer": {
                                    "x": 600,
                                    "y": 0
                                },
                                "restore": {
                                    "calendar": {
                                        "mode": "edit"
                                    },
                                    "__IMTCONN__": {
                                        "label": "My Google connection"
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "mode": "edit",
                                        "name": "calendar",
                                        "type": "select",
                                        "label": "Calendar ID",
                                        "required": true
                                    },
                                    {
                                        "name": "event",
                                        "type": "any",
                                        "label": "Event ID",
                                        "required": true
                                    }
                                ]
                            }
                        },
                        {
                            "id": 37,
                            "module": "util:SetVariable2",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "name": "event_html",
                                "scope": "roundtrip",
                                "value": "{{10.htmlLink}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": 0,
                                    "name": "Set event_html"
                                },
                                "restore": {
                                    "scope": {
                                        "label": "One cycle"
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Variable name",
                                        "required": true
                                    },
                                    {
                                        "name": "scope",
                                        "type": "select",
                                        "label": "Variable lifetime",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "roundtrip",
                                                "execution"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "value",
                                        "type": "any",
                                        "label": "Variable value"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "event_html",
                                        "type": "any",
                                        "label": "event_html"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 38,
                            "module": "util:SetVariable2",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "name": "event_start",
                                "scope": "roundtrip",
                                "value": "{{formatDate(10.start; \"YYYYMMDD\")}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": 0,
                                    "name": "Set event_start"
                                },
                                "restore": {
                                    "scope": {
                                        "label": "One cycle"
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Variable name",
                                        "required": true
                                    },
                                    {
                                        "name": "scope",
                                        "type": "select",
                                        "label": "Variable lifetime",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "roundtrip",
                                                "execution"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "value",
                                        "type": "any",
                                        "label": "Variable value"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "event_start",
                                        "type": "any",
                                        "label": "event_start"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 28,
                            "module": "util:FunctionSleep",
                            "version": 1,
                            "parameters": {},
                            "filter": {
                                "name": "Event ID Missing",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{48.`15`}}",
                                            "b": "#VALUE!",
                                            "o": "text:equal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "duration": "300"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 600,
                                    "y": 300
                                },
                                "expect": [
                                    {
                                        "name": "duration",
                                        "type": "uinteger",
                                        "label": "Delay",
                                        "required": true,
                                        "validate": {
                                            "max": 300,
                                            "min": 1
                                        }
                                    }
                                ]
                            }
                        },
                        {
                            "id": 29,
                            "module": "google-sheets:getCell",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 388472
                            },
                            "mapper": {
                                "cell": "P{{48.`__ROW_NUMBER__`}}",
                                "sheetId": "Form responses 8",
                                "spreadsheetId": "GOOGLE SHEET ID",
                                "valueRenderOption": "FORMATTED_VALUE",
                                "dateTimeRenderOption": "FORMATTED_STRING"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": 300
                                },
                                "restore": {
                                    "sheetId": {
                                        "mode": "chose",
                                        "label": "Form responses 8"
                                    },
                                    "__IMTCONN__": {
                                        "label": "My Google connection"
                                    },
                                    "spreadsheetId": {
                                        "mode": "chose",
                                        "label": "CalPush_repro2020"
                                    },
                                    "valueRenderOption": {
                                        "mode": "chose",
                                        "label": "Formatted value"
                                    },
                                    "dateTimeRenderOption": {
                                        "mode": "chose",
                                        "label": "Formatted string"
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "spreadsheetId",
                                        "type": "select",
                                        "label": "Spreadsheet",
                                        "required": true
                                    },
                                    {
                                        "name": "cell",
                                        "type": "text",
                                        "label": "Cell",
                                        "required": true
                                    },
                                    {
                                        "name": "valueRenderOption",
                                        "type": "select",
                                        "label": "Value render option",
                                        "validate": {
                                            "enum": [
                                                "FORMATTED_VALUE",
                                                "UNFORMATTED_VALUE",
                                                "FORMULA"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "dateTimeRenderOption",
                                        "type": "select",
                                        "label": "Date and time render option",
                                        "validate": {
                                            "enum": [
                                                "SERIAL_NUMBER",
                                                "FORMATTED_STRING"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "sheetId",
                                        "type": "select",
                                        "label": "Sheet",
                                        "required": true
                                    }
                                ]
                            }
                        },
                        {
                            "id": 30,
                            "module": "google-calendar:getAnEvent",
                            "version": 5,
                            "parameters": {
                                "__IMTCONN__": 388472
                            },
                            "filter": {
                                "name": "Event ID Not Missing",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{29.value}}",
                                            "b": "#VALUE!",
                                            "o": "text:notequal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "event": "{{29.value}}",
                                "calendar":
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": 300
                                },
                                "restore": {
                                    "calendar": {
                                        "mode": "edit"
                                    },
                                    "__IMTCONN__": {
                                        "label": "My Google connection"
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "mode": "edit",
                                        "name": "calendar",
                                        "type": "select",
                                        "label": "Calendar ID",
                                        "required": true
                                    },
                                    {
                                        "name": "event",
                                        "type": "any",
                                        "label": "Event ID",
                                        "required": true
                                    }
                                ]
                            }
                        },
                        {
                            "id": 35,
                            "module": "util:SetVariable2",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "name": "event_html",
                                "scope": "roundtrip",
                                "value": "{{30.htmlLink}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1500,
                                    "y": 300,
                                    "name": "Set event_html"
                                },
                                "restore": {
                                    "scope": {
                                        "label": "One cycle"
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Variable name",
                                        "required": true
                                    },
                                    {
                                        "name": "scope",
                                        "type": "select",
                                        "label": "Variable lifetime",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "roundtrip",
                                                "execution"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "value",
                                        "type": "any",
                                        "label": "Variable value"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "event_html",
                                        "type": "any",
                                        "label": "event_html"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 44,
                            "module": "util:SetVariable2",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "name": "event_start",
                                "scope": "roundtrip",
                                "value": "{{formatDate(30.start; \"YYYYMMDD\")}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1800,
                                    "y": 300,
                                    "name": "Set event_start"
                                },
                                "restore": {
                                    "scope": {
                                        "label": "One cycle"
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Variable name",
                                        "required": true
                                    },
                                    {
                                        "name": "scope",
                                        "type": "select",
                                        "label": "Variable lifetime",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "roundtrip",
                                                "execution"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "value",
                                        "type": "any",
                                        "label": "Variable value"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "event_start",
                                        "type": "any",
                                        "label": "event_start"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 43,
                            "module": "util:GetVariables",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "variables": [
                                    "event_html",
                                    "event_start"
                                ]
                            },
                            "metadata": {
                                "designer": {
                                    "x": 600,
                                    "y": 900
                                },
                                "restore": {
                                    "variables": {
                                        "items": [
                                            "undefined",
                                            "undefined"
                                        ]
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "variables",
                                        "spec": {
                                            "name": "name",
                                            "type": "text",
                                            "label": "Variable name",
                                            "required": true
                                        },
                                        "type": "array",
                                        "label": "Variables"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "event_html",
                                        "type": "any",
                                        "label": "event_html"
                                    },
                                    {
                                        "name": "event_start",
                                        "type": "any",
                                        "label": "event_start"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 11,
                            "module": "bitly:shortenUrl",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 388474
                            },
                            "mapper": {
                                "long_url": "{{43.event_html}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": 900,
                                    "name": "Shorten direct event link"
                                },
                                "restore": {
                                    "__IMTCONN__": {
                                        "label": "My Bitly connection ()"
                                    },
                                    "organization_guid": {
                                        "label": ""
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "long_url",
                                        "type": "url",
                                        "label": "Long URL",
                                        "required": true
                                    },
                                    {
                                        "name": "organization_guid",
                                        "type": "select",
                                        "label": "Organization"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 7,
                            "module": "bitly:shortenUrl",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 388474
                            },
                            "mapper": {
                                "long_url": "https://www.google.com/calendar/embed?srmode=day&dates={{43.event_start}}%2F{{43.event_start}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": 900,
                                    "name": "Shorten view day link"
                                },
                                "restore": {
                                    "__IMTCONN__": {
                                        "label": "My Bitly connection ()"
                                    },
                                    "organization_guid": {
                                        "label": ""
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "long_url",
                                        "type": "url",
                                        "label": "Long URL",
                                        "required": true
                                    },
                                    {
                                        "name": "organization_guid",
                                        "type": "select",
                                        "label": "Organization"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 46,
                            "module": "util:SetVariable2",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "name": "twitter_start_date",
                                "scope": "roundtrip",
                                "value": "{{formatDate(parseDate(48.`6`; \"DD/MM/YYYY HH:mm:ss\"); \"DD/MM/YYYY\")}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1500,
                                    "y": 900
                                },
                                "restore": {
                                    "scope": {
                                        "label": "One cycle"
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Variable name",
                                        "required": true
                                    },
                                    {
                                        "name": "scope",
                                        "type": "select",
                                        "label": "Variable lifetime",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "roundtrip",
                                                "execution"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "value",
                                        "type": "any",
                                        "label": "Variable value"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "twitter_start_date",
                                        "type": "any",
                                        "label": "twitter_start_date"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 47,
                            "module": "util:SetVariable2",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "name": "twitter_end_date",
                                "scope": "roundtrip",
                                "value": "{{formatDate(parseDate(48.`7`; \"DD/MM/YYYY HH:mm:ss\"); \"DD/MM/YYYY\")}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1800,
                                    "y": 900
                                },
                                "restore": {
                                    "scope": {
                                        "label": "One cycle"
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Variable name",
                                        "required": true
                                    },
                                    {
                                        "name": "scope",
                                        "type": "select",
                                        "label": "Variable lifetime",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "roundtrip",
                                                "execution"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "value",
                                        "type": "any",
                                        "label": "Variable value"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "twitter_end_date",
                                        "type": "any",
                                        "label": "twitter_end_date"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 2,
                            "module": "twitter:createTweet",
                            "version": 5,
                            "parameters": {
                                "__IMTCONN__": 388475
                            },
                            "mapper": {
                                "select": "image",
                                "status": "New Open Research Event 🎓📆 - {{48.`1`}} {{if(contains(trim(lower(48.`2`)); \"online\") = true; \"held\"; \"in\")}} {{48.`2`}} {{if(46.twitter_start_date = 47.twitter_end_date; \"on \" + 46.twitter_start_date; \"from \" + 46.twitter_start_date + \" to \" + 47.twitter_end_date)}}. View event in our calendar: {{7.link}} OR add to your own: {{11.link}}",
                                "possibly_sensitive": false,
                                "display_coordinates": true
                            },
                            "metadata": {
                                "designer": {
                                    "x": 2100,
                                    "y": 900,
                                    "name": "Create Normal Tweet"
                                },
                                "restore": {
                                    "select": {
                                        "label": "Image or GIF"
                                    },
                                    "__IMTCONN__": {
                                        "label": "My Twitter connection (Open Research Calendar)"
                                    },
                                    "attachments": {
                                        "mode": "chose",
                                        "items": []
                                    },
                                    "display_coordinates": {
                                        "mode": "chose"
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "status",
                                        "type": "text",
                                        "label": "Status",
                                        "required": true
                                    },
                                    {
                                        "name": "select",
                                        "type": "select",
                                        "label": "Upload",
                                        "validate": {
                                            "enum": [
                                                "image",
                                                "video"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "possibly_sensitive",
                                        "type": "boolean",
                                        "label": "Attached images contain sensitive content (nudity, violence, etc).",
                                        "required": true
                                    },
                                    {
                                        "name": "lat",
                                        "type": "number",
                                        "label": "Geographic Latitude",
                                        "validate": {
                                            "max": 90,
                                            "min": -90
                                        }
                                    },
                                    {
                                        "name": "long",
                                        "type": "number",
                                        "label": "Geographic Longitude",
                                        "validate": {
                                            "max": 180,
                                            "min": -180
                                        }
                                    },
                                    {
                                        "name": "display_coordinates",
                                        "type": "boolean",
                                        "label": "Display tweets coordinates",
                                        "required": true
                                    },
                                    {
                                        "name": "attachments",
                                        "spec": [
                                            {
                                                "name": "filename",
                                                "type": "filename",
                                                "label": "File Name",
                                                "semantic": "file:name"
                                            },
                                            {
                                                "name": "data",
                                                "type": "buffer",
                                                "label": "Data",
                                                "semantic": "file:data"
                                            },
                                            {
                                                "name": "media_category",
                                                "type": "select",
                                                "label": "Media Category",
                                                "options": [
                                                    {
                                                        "label": "Tweet Gif",
                                                        "value": "tweet_gif"
                                                    },
                                                    {
                                                        "label": "Tweet Image",
                                                        "value": "tweet_image"
                                                    }
                                                ]
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Attachments",
                                        "validate": {
                                            "maxItems": 4
                                        }
                                    }
                                ],
                                "advanced": true
                            },
                            "onerror": [
                                {
                                    "id": 24,
                                    "module": "builtin:BasicRouter",
                                    "version": 1,
                                    "parameters": {
                                        "else": 1
                                    },
                                    "mapper": null,
                                    "metadata": {
                                        "designer": {
                                            "x": 2400,
                                            "y": 1050
                                        }
                                    },
                                    "routes": [
                                        {
                                            "flow": [
                                                {
                                                    "id": 25,
                                                    "module": "twitter:createTweet",
                                                    "version": 5,
                                                    "parameters": {
                                                        "__IMTCONN__": 388475
                                                    },
                                                    "filter": {
                                                        "name": "Tweet too long",
                                                        "conditions": [
                                                            [
                                                                {
                                                                    "a": "{{2.error.message}}",
                                                                    "b": "[403] Tweet needs to be a bit shorter.",
                                                                    "o": "text:equal"
                                                                }
                                                            ]
                                                        ]
                                                    },
                                                    "mapper": {
                                                        "select": "image",
                                                        "status": "New Event- {{48.`1`}} {{if(contains(trim(lower(48.`2`)); \"online\") = true; \"held\"; \"in\")}} {{48.`2`}}. View event in calendar: {{7.link}} OR add to your own: {{11.link}}",
                                                        "possibly_sensitive": false,
                                                        "display_coordinates": true
                                                    },
                                                    "metadata": {
                                                        "designer": {
                                                            "x": 2700,
                                                            "y": 900,
                                                            "name": "Shorter Tweet"
                                                        },
                                                        "restore": {
                                                            "select": {
                                                                "label": "Image or GIF"
                                                            },
                                                            "__IMTCONN__": {
                                                                "label": "My Twitter connection (Open Research Calendar)"
                                                            },
                                                            "attachments": {
                                                                "mode": "chose",
                                                                "items": []
                                                            },
                                                            "display_coordinates": {
                                                                "mode": "chose"
                                                            }
                                                        },
                                                        "parameters": [
                                                            {
                                                                "name": "__IMTCONN__",
                                                                "type": "account",
                                                                "label": "Connection",
                                                                "required": true
                                                            }
                                                        ],
                                                        "expect": [
                                                            {
                                                                "name": "status",
                                                                "type": "text",
                                                                "label": "Status",
                                                                "required": true
                                                            },
                                                            {
                                                                "name": "select",
                                                                "type": "select",
                                                                "label": "Upload",
                                                                "validate": {
                                                                    "enum": [
                                                                        "image",
                                                                        "video"
                                                                    ]
                                                                }
                                                            },
                                                            {
                                                                "name": "possibly_sensitive",
                                                                "type": "boolean",
                                                                "label": "Attached images contain sensitive content (nudity, violence, etc).",
                                                                "required": true
                                                            },
                                                            {
                                                                "name": "lat",
                                                                "type": "number",
                                                                "label": "Geographic Latitude",
                                                                "validate": {
                                                                    "max": 90,
                                                                    "min": -90
                                                                }
                                                            },
                                                            {
                                                                "name": "long",
                                                                "type": "number",
                                                                "label": "Geographic Longitude",
                                                                "validate": {
                                                                    "max": 180,
                                                                    "min": -180
                                                                }
                                                            },
                                                            {
                                                                "name": "display_coordinates",
                                                                "type": "boolean",
                                                                "label": "Display tweets coordinates",
                                                                "required": true
                                                            },
                                                            {
                                                                "name": "attachments",
                                                                "spec": [
                                                                    {
                                                                        "name": "filename",
                                                                        "type": "filename",
                                                                        "label": "File Name",
                                                                        "semantic": "file:name"
                                                                    },
                                                                    {
                                                                        "name": "data",
                                                                        "type": "buffer",
                                                                        "label": "Data",
                                                                        "semantic": "file:data"
                                                                    },
                                                                    {
                                                                        "name": "media_category",
                                                                        "type": "select",
                                                                        "label": "Media Category",
                                                                        "options": [
                                                                            {
                                                                                "label": "Tweet Gif",
                                                                                "value": "tweet_gif"
                                                                            },
                                                                            {
                                                                                "label": "Tweet Image",
                                                                                "value": "tweet_image"
                                                                            }
                                                                        ]
                                                                    }
                                                                ],
                                                                "type": "array",
                                                                "label": "Attachments",
                                                                "validate": {
                                                                    "maxItems": 4
                                                                }
                                                            }
                                                        ]
                                                    }
                                                },
                                                {
                                                    "id": 27,
                                                    "module": "google-sheets:updateRow",
                                                    "version": 2,
                                                    "parameters": {
                                                        "__IMTCONN__": 388472
                                                    },
                                                    "mapper": {
                                                        "mode": "select",
                                                        "values": {
                                                            "16": "{{25.id_str}}"
                                                        },
                                                        "sheetId": "Form responses 8",
                                                        "rowNumber": "{{48.`__ROW_NUMBER__`}}",
                                                        "spreadsheetId": "GOOGLE SHEET ID",
                                                        "includesHeaders": true,
                                                        "valueInputOption": "USER_ENTERED"
                                                    },
                                                    "metadata": {
                                                        "designer": {
                                                            "x": 3000,
                                                            "y": 900,
                                                            "name": "Add Tweet ID to Spreadsheet"
                                                        },
                                                        "restore": {
                                                            "mode": {
                                                                "label": "Select spreadsheet and sheet"
                                                            },
                                                            "sheetId": {
                                                                "label": "Form responses 8"
                                                            },
                                                            "__IMTCONN__": {
                                                                "label": "My Google connection"
                                                            },
                                                            "spreadsheetId": {
                                                                "label": "CalPush_repro2020"
                                                            },
                                                            "includesHeaders": {
                                                                "label": "Yes"
                                                            },
                                                            "valueInputOption": {
                                                                "mode": "chose",
                                                                "label": "User entered"
                                                            }
                                                        },
                                                        "parameters": [
                                                            {
                                                                "name": "__IMTCONN__",
                                                                "type": "account",
                                                                "label": "Connection",
                                                                "required": true
                                                            }
                                                        ],
                                                        "expect": [
                                                            {
                                                                "name": "mode",
                                                                "type": "select",
                                                                "label": "Mode",
                                                                "required": true,
                                                                "validate": {
                                                                    "enum": [
                                                                        "select",
                                                                        "map"
                                                                    ]
                                                                }
                                                            },
                                                            {
                                                                "name": "valueInputOption",
                                                                "type": "select",
                                                                "label": "Value input option",
                                                                "validate": {
                                                                    "enum": [
                                                                        "USER_ENTERED",
                                                                        "RAW"
                                                                    ]
                                                                }
                                                            },
                                                            {
                                                                "name": "spreadsheetId",
                                                                "type": "select",
                                                                "label": "Spreadsheet",
                                                                "required": true
                                                            },
                                                            {
                                                                "name": "sheetId",
                                                                "type": "select",
                                                                "label": "Sheet",
                                                                "required": true
                                                            },
                                                            {
                                                                "name": "rowNumber",
                                                                "type": "uinteger",
                                                                "label": "Row number",
                                                                "required": true
                                                            },
                                                            {
                                                                "name": "includesHeaders",
                                                                "type": "select",
                                                                "label": "Table contains headers",
                                                                "required": true,
                                                                "validate": {
                                                                    "enum": [
                                                                        true,
                                                                        false
                                                                    ]
                                                                }
                                                            },
                                                            {
                                                                "name": "values",
                                                                "spec": [
                                                                    {
                                                                        "name": "0",
                                                                        "type": "text",
                                                                        "label": "Timestamp (A)"
                                                                    },
                                                                    {
                                                                        "name": "1",
                                                                        "type": "text",
                                                                        "label": "Event title (B)"
                                                                    },
                                                                    {
                                                                        "name": "2",
                                                                        "type": "text",
                                                                        "label": "Location (C)"
                                                                    },
                                                                    {
                                                                        "name": "3",
                                                                        "type": "text",
                                                                        "label": "URL (D)"
                                                                    },
                                                                    {
                                                                        "name": "4",
                                                                        "type": "text",
                                                                        "label": "Description (E)"
                                                                    },
                                                                    {
                                                                        "name": "5",
                                                                        "type": "text",
                                                                        "label": "Timezone (F)"
                                                                    },
                                                                    {
                                                                        "name": "6",
                                                                        "type": "text",
                                                                        "label": "Start Date&Time (G)"
                                                                    },
                                                                    {
                                                                        "name": "7",
                                                                        "type": "text",
                                                                        "label": "End Date&Time (H)"
                                                                    },
                                                                    {
                                                                        "name": "8",
                                                                        "type": "text",
                                                                        "label": "FormattedEventName (I)"
                                                                    },
                                                                    {
                                                                        "name": "9",
                                                                        "type": "text",
                                                                        "label": "UTCStart (J)"
                                                                    },
                                                                    {
                                                                        "name": "10",
                                                                        "type": "text",
                                                                        "label": "UTCEnd (K)"
                                                                    },
                                                                    {
                                                                        "name": "11",
                                                                        "type": "text",
                                                                        "label": "Pushed to Calendar (L)"
                                                                    },
                                                                    {
                                                                        "name": "12",
                                                                        "type": "text",
                                                                        "label": "CalendarEventCreated(ID) (M)"
                                                                    },
                                                                    {
                                                                        "name": "13",
                                                                        "type": "text",
                                                                        "label": "last action (N)"
                                                                    },
                                                                    {
                                                                        "name": "14",
                                                                        "type": "text",
                                                                        "label": "Date entry made (O)"
                                                                    },
                                                                    {
                                                                        "name": "15",
                                                                        "type": "text",
                                                                        "label": "Event ID (P)"
                                                                    },
                                                                    {
                                                                        "name": "16",
                                                                        "type": "text",
                                                                        "label": "Twitter ID (Q)"
                                                                    }
                                                                ],
                                                                "type": "collection",
                                                                "label": "Values"
                                                            }
                                                        ]
                                                    }
                                                }
                                            ]
                                        },
                                        {
                                            "flow": [
                                                {
                                                    "id": 26,
                                                    "module": "builtin:Ignore",
                                                    "version": 1,
                                                    "filter": {
                                                        "name": "All other errors",
                                                        "conditions": []
                                                    },
                                                    "metadata": {
                                                        "designer": {
                                                            "x": 2700,
                                                            "y": 1200,
                                                            "name": "Ignore Duplicate Tweet Error"
                                                        }
                                                    }
                                                }
                                            ]
                                        }
                                    ]
                                }
                            ]
                        },
                        {
                            "id": 3,
                            "module": "google-sheets:updateRow",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 388472
                            },
                            "mapper": {
                                "mode": "select",
                                "values": {
                                    "16": "{{2.id_str}}"
                                },
                                "sheetId": "Form responses 8",
                                "rowNumber": "{{48.`__ROW_NUMBER__`}}",
                                "spreadsheetId": "GOOGLE SHEET ID",
                                "includesHeaders": true,
                                "valueInputOption": "USER_ENTERED"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 2400,
                                    "y": 600,
                                    "name": "Add Tweet ID to Spreadsheet"
                                },
                                "restore": {
                                    "mode": {
                                        "label": "Select spreadsheet and sheet"
                                    },
                                    "sheetId": {
                                        "label": "Form responses 8"
                                    },
                                    "__IMTCONN__": {
                                        "label": "My Google connection"
                                    },
                                    "spreadsheetId": {
                                        "label": "CalPush_repro2020"
                                    },
                                    "includesHeaders": {
                                        "label": "Yes"
                                    },
                                    "valueInputOption": {
                                        "mode": "chose",
                                        "label": "User entered"
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "mode",
                                        "type": "select",
                                        "label": "Mode",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "select",
                                                "map"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "valueInputOption",
                                        "type": "select",
                                        "label": "Value input option",
                                        "validate": {
                                            "enum": [
                                                "USER_ENTERED",
                                                "RAW"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "spreadsheetId",
                                        "type": "select",
                                        "label": "Spreadsheet",
                                        "required": true
                                    },
                                    {
                                        "name": "sheetId",
                                        "type": "select",
                                        "label": "Sheet",
                                        "required": true
                                    },
                                    {
                                        "name": "rowNumber",
                                        "type": "uinteger",
                                        "label": "Row number",
                                        "required": true
                                    },
                                    {
                                        "name": "includesHeaders",
                                        "type": "select",
                                        "label": "Table contains headers",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                true,
                                                false
                                            ]
                                        }
                                    },
                                    {
                                        "name": "values",
                                        "spec": [
                                            {
                                                "name": "0",
                                                "type": "text",
                                                "label": "Timestamp (A)"
                                            },
                                            {
                                                "name": "1",
                                                "type": "text",
                                                "label": "Event title (B)"
                                            },
                                            {
                                                "name": "2",
                                                "type": "text",
                                                "label": "Location (C)"
                                            },
                                            {
                                                "name": "3",
                                                "type": "text",
                                                "label": "URL (D)"
                                            },
                                            {
                                                "name": "4",
                                                "type": "text",
                                                "label": "Description (E)"
                                            },
                                            {
                                                "name": "5",
                                                "type": "text",
                                                "label": "Timezone (F)"
                                            },
                                            {
                                                "name": "6",
                                                "type": "text",
                                                "label": "Start Date&Time (G)"
                                            },
                                            {
                                                "name": "7",
                                                "type": "text",
                                                "label": "End Date&Time (H)"
                                            },
                                            {
                                                "name": "8",
                                                "type": "text",
                                                "label": "FormattedEventName (I)"
                                            },
                                            {
                                                "name": "9",
                                                "type": "text",
                                                "label": "UTCStart (J)"
                                            },
                                            {
                                                "name": "10",
                                                "type": "text",
                                                "label": "UTCEnd (K)"
                                            },
                                            {
                                                "name": "11",
                                                "type": "text",
                                                "label": "Pushed to Calendar (L)"
                                            },
                                            {
                                                "name": "12",
                                                "type": "text",
                                                "label": "CalendarEventCreated(ID) (M)"
                                            },
                                            {
                                                "name": "13",
                                                "type": "text",
                                                "label": "last action (N)"
                                            },
                                            {
                                                "name": "14",
                                                "type": "text",
                                                "label": "Date entry made (O)"
                                            },
                                            {
                                                "name": "15",
                                                "type": "text",
                                                "label": "Event ID (P)"
                                            },
                                            {
                                                "name": "16",
                                                "type": "text",
                                                "label": "Twitter ID (Q)"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Values"
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": false,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "confidential": false,
            "dataloss": false,
            "dlq": true,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com"
    }
}