Documents/Processes/3_Report Event Automations/Remove reported event.json
{
    "name": "Remove reported event",
    "flow": [
        {
            "id": 13,
            "module": "google-sheets:watchRows",
            "version": 2,
            "parameters": {
                "limit": 2,
                "sheetId": "Form Responses 1",
                "__IMTCONN__": 388472,
                "spreadsheetId": "GOOGLE SHEET ID",
                "tableFirstRow": "A1:Z1",
                "includesHeaders": true,
                "valueRenderOption": "FORMATTED_VALUE",
                "dateTimeRenderOption": "FORMATTED_STRING"
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 150
                },
                "restore": {
                    "sheetId": {
                        "mode": "chose",
                        "label": "Form Responses 1"
                    },
                    "__IMTCONN__": {
                        "label": "My Google connection"
                    },
                    "spreadsheetId": {
                        "mode": "chose",
                        "label": "Issue Reports"
                    },
                    "includesHeaders": {
                        "label": "Yes"
                    },
                    "valueRenderOption": {
                        "mode": "chose",
                        "label": "Formatted value"
                    },
                    "dateTimeRenderOption": {
                        "mode": "chose",
                        "label": "Formatted string"
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "select",
                        "label": "Spreadsheet",
                        "required": true
                    },
                    {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "valueRenderOption",
                        "type": "select",
                        "label": "Value render option",
                        "validate": {
                            "enum": [
                                "FORMATTED_VALUE",
                                "UNFORMATTED_VALUE",
                                "FORMULA"
                            ]
                        }
                    },
                    {
                        "name": "dateTimeRenderOption",
                        "type": "select",
                        "label": "Date and time render option",
                        "validate": {
                            "enum": [
                                "SERIAL_NUMBER",
                                "FORMATTED_STRING"
                            ]
                        }
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit",
                        "required": true
                    },
                    {
                        "name": "tableFirstRow",
                        "type": "text",
                        "label": "Row with headers",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "__ROW_NUMBER__",
                        "type": "number",
                        "label": "Row number"
                    },
                    {
                        "name": "__SPREADSHEET_ID__",
                        "type": "text",
                        "label": "Spreadsheet ID"
                    },
                    {
                        "name": "__SHEET__",
                        "type": "text",
                        "label": "Sheet"
                    },
                    {
                        "name": "0",
                        "type": "text",
                        "label": "Timestamp (A)"
                    },
                    {
                        "name": "1",
                        "type": "text",
                        "label": "Please detail the issue: (B)"
                    },
                    {
                        "name": "2",
                        "type": "text",
                        "label": "If you would like a response, please provide an email address (optional) (C)"
                    },
                    {
                        "name": "3",
                        "type": "text",
                        "label": "What is the problematic event? (D)"
                    },
                    {
                        "name": "4",
                        "type": "text",
                        "label": "Event ID Lookup (E)"
                    },
                    {
                        "name": "5",
                        "type": "text",
                        "label": "Tweet ID Lookup (F)"
                    },
                    {
                        "name": "6",
                        "type": "text",
                        "label": "EVENT DELETED? Auto column (G)"
                    },
                    {
                        "name": "7",
                        "type": "text",
                        "label": "TWEET DELETED? Auto column (H)"
                    },
                    {
                        "name": "8",
                        "type": "text",
                        "label": "ADMIN - ALLOCATED TO? (I)"
                    },
                    {
                        "name": "9",
                        "type": "text",
                        "label": "ADMIN - COMPLETED? (J)"
                    },
                    {
                        "name": "10",
                        "type": "text",
                        "label": "Formula Copy Down Status (K)"
                    },
                    {
                        "name": "11",
                        "type": "text",
                        "label": "(L)"
                    },
                    {
                        "name": "12",
                        "type": "text",
                        "label": "(M)"
                    },
                    {
                        "name": "13",
                        "type": "text",
                        "label": "(N)"
                    },
                    {
                        "name": "14",
                        "type": "text",
                        "label": "(O)"
                    },
                    {
                        "name": "15",
                        "type": "text",
                        "label": "(P)"
                    },
                    {
                        "name": "16",
                        "type": "text",
                        "label": "(Q)"
                    },
                    {
                        "name": "17",
                        "type": "text",
                        "label": "(R)"
                    },
                    {
                        "name": "18",
                        "type": "text",
                        "label": "(S)"
                    },
                    {
                        "name": "19",
                        "type": "text",
                        "label": "(T)"
                    },
                    {
                        "name": "20",
                        "type": "text",
                        "label": "(U)"
                    },
                    {
                        "name": "21",
                        "type": "text",
                        "label": "(V)"
                    },
                    {
                        "name": "22",
                        "type": "text",
                        "label": "(W)"
                    },
                    {
                        "name": "23",
                        "type": "text",
                        "label": "(X)"
                    },
                    {
                        "name": "24",
                        "type": "text",
                        "label": "(Y)"
                    },
                    {
                        "name": "25",
                        "type": "text",
                        "label": "(Z)"
                    }
                ]
            },
            "onerror": [
                {
                    "id": 4,
                    "module": "builtin:Ignore",
                    "version": 1,
                    "metadata": {
                        "designer": {
                            "x": 262,
                            "y": 352,
                            "name": "If error - ignore"
                        }
                    }
                }
            ]
        },
        {
            "id": 11,
            "module": "google-calendar:deleteAnEvent",
            "version": 5,
            "parameters": {
                "__IMTCONN__": 388472
            },
            "mapper": {
                "event": "{{13.`4`}}",
                "calendar":
            },
            "metadata": {
                "designer": {
                    "x": 339,
                    "y": -10
                },
                "restore": {
                    "event": {
                        "mode": "edit"
                    },
                    "calendar": {
                        "mode": "chose",
                        "label":(Primary Calendar)"
                    },
                    "__IMTCONN__": {
                        "label": "My Google connection"
                    },
                    "sendUpdates": {
                        "mode": "chose",
                        "label": ""
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "mode": "edit",
                        "name": "calendar",
                        "type": "select",
                        "label": "Calendar ID",
                        "required": true
                    },
                    {
                        "name": "sendUpdates",
                        "type": "select",
                        "label": "Send notifications about the event deletion",
                        "validate": {
                            "enum": [
                                "all",
                                "externalOnly",
                                "none"
                            ]
                        }
                    },
                    {
                        "name": "event",
                        "type": "select",
                        "label": "Event ID",
                        "required": true
                    }
                ]
            },
            "onerror": [
                {
                    "id": 12,
                    "module": "google-email:ActionSendEmail",
                    "version": 2,
                    "parameters": {
                        "account": 388471
                    },
                    "mapper": {
                        "cc": [],
                        "to": [
                            "ADMIN EMAIL"
                        ],
                        "bcc": [],
                        "from": "",
                        "html": "<p>Hello Admin,</p>\n<p>The following event was reported, but the event <strong>could not</strong> be automatically found.</p>\n<p>You may need to remove any trailing white space from the Event name (Column D in the Issue Reports spreadsheet), and if it finds the event ID etc, the 'Remove reported event' process can be <strong>manually</strong> triggered on Make.</p>\n<p><span style=\"text-decoration: underline;\">EVENT INFO:</span></p>\n<p>Timestamp: {{13.`0`}}</p>\n<p>Title: {{13.`3`}}</p>\n<p>Details of issue: {{13.`1`}}</p>\n<p>Email of the reporter(may be blank): {{13.`2`}}</p>\n<br />\n<p>All the very best,<br />Your friendly automated email bot</p>",
                        "subject": "Reported Event ID not found",
                        "attachments": []
                    },
                    "metadata": {
                        "designer": {
                            "x": 639,
                            "y": 140
                        },
                        "restore": {
                            "expect": {
                                "cc": {
                                    "mode": "chose"
                                },
                                "to": {
                                    "mode": "chose",
                                    "items": [
                                        null
                                    ]
                                },
                                "bcc": {
                                    "mode": "chose"
                                },
                                "attachments": {
                                    "mode": "chose"
                                }
                            },
                            "parameters": {
                                "account": {
                                    "data": {
                                        "scoped": "true",
                                        "connection": "google-restricted"
                                    },
                                    "label": "My Google Restricted connection"
                                }
                            }
                        },
                        "parameters": [
                            {
                                "name": "account",
                                "type": "account:google-restricted",
                                "label": "Connection",
                                "required": true
                            }
                        ],
                        "expect": [
                            {
                                "name": "from",
                                "type": "text",
                                "label": "From"
                            },
                            {
                                "name": "to",
                                "spec": {
                                    "name": "value",
                                    "type": "email",
                                    "label": "Email address",
                                    "required": true
                                },
                                "type": "array",
                                "label": "To",
                                "required": true
                            },
                            {
                                "name": "subject",
                                "type": "text",
                                "label": "Subject"
                            },
                            {
                                "name": "html",
                                "type": "text",
                                "label": "Content"
                            },
                            {
                                "name": "attachments",
                                "spec": [
                                    {
                                        "name": "fileName",
                                        "type": "filename",
                                        "label": "File name",
                                        "required": true,
                                        "semantic": "file:name"
                                    },
                                    {
                                        "name": "data",
                                        "type": "buffer",
                                        "label": "Data",
                                        "required": true,
                                        "semantic": "file:data"
                                    },
                                    {
                                        "name": "cid",
                                        "type": "text",
                                        "label": "Content-ID"
                                    }
                                ],
                                "type": "array",
                                "label": "Attachments"
                            },
                            {
                                "name": "cc",
                                "spec": {
                                    "name": "value",
                                    "type": "email",
                                    "label": "Email address"
                                },
                                "type": "array",
                                "label": "Copy recipient"
                            },
                            {
                                "name": "bcc",
                                "spec": {
                                    "name": "value",
                                    "type": "email",
                                    "label": "Email address"
                                },
                                "type": "array",
                                "label": "Blind copy recipient"
                            }
                        ]
                    }
                }
            ]
        },
        {
            "id": 6,
            "module": "twitter:deleteTweet",
            "version": 5,
            "parameters": {
                "__IMTCONN__": 388475
            },
            "mapper": {
                "status": "{{13.`5`}}"
            },
            "metadata": {
                "designer": {
                    "x": 639,
                    "y": -160
                },
                "restore": {
                    "status": {
                        "mode": "edit"
                    },
                    "__IMTCONN__": {
                        "label": "My Twitter connection (Open Research Calendar)"
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "mode": "edit",
                        "name": "status",
                        "type": "select",
                        "label": "Tweet ID",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "google-sheets:updateRow",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 388472
            },
            "mapper": {
                "mode": "select",
                "values": {
                    "6": "Yes",
                    "7": "Yes"
                },
                "sheetId": "Form Responses 1",
                "rowNumber": "{{13.`__ROW_NUMBER__`}}",
                "spreadsheetId": "GOOGLE SHEET ID",
                "includesHeaders": true,
                "valueInputOption": "USER_ENTERED"
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 0,
                    "name": "Log that event and tweet deleted"
                },
                "restore": {
                    "mode": {
                        "label": "Select spreadsheet and sheet"
                    },
                    "sheetId": {
                        "label": "Form Responses 1"
                    },
                    "__IMTCONN__": {
                        "label": "My Google connection"
                    },
                    "spreadsheetId": {
                        "label": "Issue Reports"
                    },
                    "includesHeaders": {
                        "label": "Yes"
                    },
                    "valueInputOption": {
                        "mode": "chose",
                        "label": "User entered"
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "mode",
                        "type": "select",
                        "label": "Mode",
                        "required": true,
                        "validate": {
                            "enum": [
                                "select",
                                "map"
                            ]
                        }
                    },
                    {
                        "name": "valueInputOption",
                        "type": "select",
                        "label": "Value input option",
                        "validate": {
                            "enum": [
                                "USER_ENTERED",
                                "RAW"
                            ]
                        }
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "select",
                        "label": "Spreadsheet",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet",
                        "required": true
                    },
                    {
                        "name": "rowNumber",
                        "type": "uinteger",
                        "label": "Row number",
                        "required": true
                    },
                    {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "values",
                        "spec": [
                            {
                                "name": "0",
                                "type": "text",
                                "label": "Timestamp (A)"
                            },
                            {
                                "name": "1",
                                "type": "text",
                                "label": "Please detail the issue: (B)"
                            },
                            {
                                "name": "2",
                                "type": "text",
                                "label": "If you would like a response, please provide an email address (optional) (C)"
                            },
                            {
                                "name": "3",
                                "type": "text",
                                "label": "What is the problematic event? (D)"
                            },
                            {
                                "name": "4",
                                "type": "text",
                                "label": "Event ID Lookup (E)"
                            },
                            {
                                "name": "5",
                                "type": "text",
                                "label": "Tweet ID Lookup (F)"
                            },
                            {
                                "name": "6",
                                "type": "text",
                                "label": "EVENT DELETED? Auto column (G)"
                            },
                            {
                                "name": "7",
                                "type": "text",
                                "label": "TWEET DELETED? Auto column (H)"
                            },
                            {
                                "name": "8",
                                "type": "text",
                                "label": "ADMIN - ALLOCATED TO? (I)"
                            },
                            {
                                "name": "9",
                                "type": "text",
                                "label": "ADMIN - COMPLETED? (J)"
                            },
                            {
                                "name": "10",
                                "type": "text",
                                "label": "Formula Copy Down Status (K)"
                            }
                        ],
                        "type": "collection",
                        "label": "Values"
                    }
                ]
            }
        },
        {
            "id": 8,
            "module": "google-sheets:filterRows",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 388472
            },
            "mapper": {
                "limit": "1",
                "filter": [
                    [
                        {
                            "a": "P",
                            "b": "{{13.`4`}}",
                            "o": "text:equal"
                        }
                    ]
                ],
                "sheetId": "Form responses 8",
                "sortOrder": "asc",
                "spreadsheetId": "GOOGLE SHEET ID",
                "tableFirstRow": "A1:CZ1",
                "includesHeaders": true,
                "valueRenderOption": "FORMATTED_VALUE",
                "dateTimeRenderOption": "FORMATTED_STRING"
            },
            "metadata": {
                "designer": {
                    "x": 1200,
                    "y": 0,
                    "name": "Find the event in main spreadsheet"
                },
                "restore": {
                    "orderBy": {
                        "mode": "chose",
                        "label": ""
                    },
                    "sheetId": {
                        "mode": "chose",
                        "label": "Form responses 8"
                    },
                    "sortOrder": {
                        "mode": "chose",
                        "label": "Ascending"
                    },
                    "__IMTCONN__": {
                        "label": "My Google connection"
                    },
                    "spreadsheetId": {
                        "mode": "chose",
                        "label": "CalPush_repro2020"
                    },
                    "tableFirstRow": {
                        "label": "A-CZ"
                    },
                    "includesHeaders": {
                        "mode": "chose",
                        "label": "Yes"
                    },
                    "valueRenderOption": {
                        "mode": "chose",
                        "label": "Formatted value"
                    },
                    "dateTimeRenderOption": {
                        "mode": "chose",
                        "label": "Formatted string"
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "spreadsheetId",
                        "type": "select",
                        "label": "Spreadsheet",
                        "required": true
                    },
                    {
                        "name": "valueRenderOption",
                        "type": "select",
                        "label": "Value render option",
                        "validate": {
                            "enum": [
                                "FORMATTED_VALUE",
                                "UNFORMATTED_VALUE",
                                "FORMULA"
                            ]
                        }
                    },
                    {
                        "name": "dateTimeRenderOption",
                        "type": "select",
                        "label": "Date and time render option",
                        "validate": {
                            "enum": [
                                "SERIAL_NUMBER",
                                "FORMATTED_STRING"
                            ]
                        }
                    },
                    {
                        "name": "limit",
                        "type": "number",
                        "label": "Maximum number of returned rows"
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet",
                        "required": true
                    },
                    {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "tableFirstRow",
                        "type": "select",
                        "label": "Column range",
                        "required": true,
                        "validate": {
                            "enum": [
                                "A1:Z1",
                                "A1:BZ1",
                                "A1:CZ1",
                                "A1:DZ1",
                                "A1:MZ1",
                                "A1:ZZ1"
                            ]
                        }
                    },
                    {
                        "name": "filter",
                        "type": "filter",
                        "label": "Filter",
                        "options": {
                            "store": "rpc://google-sheets@2/rpcGetFilterKeys?includesHeaders=true"
                        }
                    },
                    {
                        "name": "sortOrder",
                        "type": "select",
                        "label": "Sort order",
                        "validate": {
                            "enum": [
                                "asc",
                                "desc"
                            ]
                        }
                    },
                    {
                        "name": "orderBy",
                        "type": "select",
                        "label": "Order by"
                    }
                ],
                "interface": [
                    {
                        "name": "__IMTLENGTH__",
                        "type": "uinteger",
                        "label": "Total number of bundles"
                    },
                    {
                        "name": "__IMTINDEX__",
                        "type": "uinteger",
                        "label": "Bundle order position"
                    },
                    {
                        "name": "__ROW_NUMBER__",
                        "type": "number",
                        "label": "Row number"
                    },
                    {
                        "name": "__SPREADSHEET_ID__",
                        "type": "text",
                        "label": "Spreadsheet ID"
                    },
                    {
                        "name": "__SHEET__",
                        "type": "text",
                        "label": "Sheet"
                    },
                    {
                        "name": "0",
                        "type": "text",
                        "label": "Timestamp (A)"
                    },
                    {
                        "name": "1",
                        "type": "text",
                        "label": "Event title (B)"
                    },
                    {
                        "name": "2",
                        "type": "text",
                        "label": "Location (C)"
                    },
                    {
                        "name": "3",
                        "type": "text",
                        "label": "URL (D)"
                    },
                    {
                        "name": "4",
                        "type": "text",
                        "label": "Description (E)"
                    },
                    {
                        "name": "5",
                        "type": "text",
                        "label": "Timezone (F)"
                    },
                    {
                        "name": "6",
                        "type": "text",
                        "label": "Start Date&Time (G)"
                    },
                    {
                        "name": "7",
                        "type": "text",
                        "label": "End Date&Time (H)"
                    },
                    {
                        "name": "8",
                        "type": "text",
                        "label": "FormattedEventName (I)"
                    },
                    {
                        "name": "9",
                        "type": "text",
                        "label": "UTCStart (J)"
                    },
                    {
                        "name": "10",
                        "type": "text",
                        "label": "UTCEnd (K)"
                    },
                    {
                        "name": "11",
                        "type": "text",
                        "label": "Pushed to Calendar (L)"
                    },
                    {
                        "name": "12",
                        "type": "text",
                        "label": "CalendarEventCreated(ID) (M)"
                    },
                    {
                        "name": "13",
                        "type": "text",
                        "label": "last action (N)"
                    },
                    {
                        "name": "14",
                        "type": "text",
                        "label": "Date entry made (O)"
                    },
                    {
                        "name": "15",
                        "type": "text",
                        "label": "Event ID (P)"
                    },
                    {
                        "name": "16",
                        "type": "text",
                        "label": "Twitter ID (Q)"
                    },
                    {
                        "name": "17",
                        "type": "text",
                        "label": "(R)"
                    },
                    {
                        "name": "18",
                        "type": "text",
                        "label": "(S)"
                    },
                    {
                        "name": "19",
                        "type": "text",
                        "label": "(T)"
                    },
                    {
                        "name": "20",
                        "type": "text",
                        "label": "(U)"
                    },
                    {
                        "name": "21",
                        "type": "text",
                        "label": "(V)"
                    },
                    {
                        "name": "22",
                        "type": "text",
                        "label": "(W)"
                    },
                    {
                        "name": "23",
                        "type": "text",
                        "label": "(X)"
                    },
                    {
                        "name": "24",
                        "type": "text",
                        "label": "(Y)"
                    },
                    {
                        "name": "25",
                        "type": "text",
                        "label": "(Z)"
                    },
                    {
                        "name": "26",
                        "type": "text",
                        "label": "(AA)"
                    },
                    {
                        "name": "27",
                        "type": "text",
                        "label": "(AB)"
                    },
                    {
                        "name": "28",
                        "type": "text",
                        "label": "(AC)"
                    },
                    {
                        "name": "29",
                        "type": "text",
                        "label": "(AD)"
                    },
                    {
                        "name": "30",
                        "type": "text",
                        "label": "(AE)"
                    },
                    {
                        "name": "31",
                        "type": "text",
                        "label": "(AF)"
                    },
                    {
                        "name": "32",
                        "type": "text",
                        "label": "(AG)"
                    },
                    {
                        "name": "33",
                        "type": "text",
                        "label": "(AH)"
                    },
                    {
                        "name": "34",
                        "type": "text",
                        "label": "(AI)"
                    },
                    {
                        "name": "35",
                        "type": "text",
                        "label": "(AJ)"
                    },
                    {
                        "name": "36",
                        "type": "text",
                        "label": "(AK)"
                    },
                    {
                        "name": "37",
                        "type": "text",
                        "label": "(AL)"
                    },
                    {
                        "name": "38",
                        "type": "text",
                        "label": "(AM)"
                    },
                    {
                        "name": "39",
                        "type": "text",
                        "label": "(AN)"
                    },
                    {
                        "name": "40",
                        "type": "text",
                        "label": "(AO)"
                    },
                    {
                        "name": "41",
                        "type": "text",
                        "label": "(AP)"
                    },
                    {
                        "name": "42",
                        "type": "text",
                        "label": "(AQ)"
                    },
                    {
                        "name": "43",
                        "type": "text",
                        "label": "(AR)"
                    },
                    {
                        "name": "44",
                        "type": "text",
                        "label": "(AS)"
                    },
                    {
                        "name": "45",
                        "type": "text",
                        "label": "(AT)"
                    },
                    {
                        "name": "46",
                        "type": "text",
                        "label": "(AU)"
                    },
                    {
                        "name": "47",
                        "type": "text",
                        "label": "(AV)"
                    },
                    {
                        "name": "48",
                        "type": "text",
                        "label": "(AW)"
                    },
                    {
                        "name": "49",
                        "type": "text",
                        "label": "(AX)"
                    },
                    {
                        "name": "50",
                        "type": "text",
                        "label": "(AY)"
                    },
                    {
                        "name": "51",
                        "type": "text",
                        "label": "(AZ)"
                    },
                    {
                        "name": "52",
                        "type": "text",
                        "label": "(BA)"
                    },
                    {
                        "name": "53",
                        "type": "text",
                        "label": "(BB)"
                    },
                    {
                        "name": "54",
                        "type": "text",
                        "label": "(BC)"
                    },
                    {
                        "name": "55",
                        "type": "text",
                        "label": "(BD)"
                    },
                    {
                        "name": "56",
                        "type": "text",
                        "label": "(BE)"
                    },
                    {
                        "name": "57",
                        "type": "text",
                        "label": "(BF)"
                    },
                    {
                        "name": "58",
                        "type": "text",
                        "label": "(BG)"
                    },
                    {
                        "name": "59",
                        "type": "text",
                        "label": "(BH)"
                    },
                    {
                        "name": "60",
                        "type": "text",
                        "label": "(BI)"
                    },
                    {
                        "name": "61",
                        "type": "text",
                        "label": "(BJ)"
                    },
                    {
                        "name": "62",
                        "type": "text",
                        "label": "(BK)"
                    },
                    {
                        "name": "63",
                        "type": "text",
                        "label": "(BL)"
                    },
                    {
                        "name": "64",
                        "type": "text",
                        "label": "(BM)"
                    },
                    {
                        "name": "65",
                        "type": "text",
                        "label": "(BN)"
                    },
                    {
                        "name": "66",
                        "type": "text",
                        "label": "(BO)"
                    },
                    {
                        "name": "67",
                        "type": "text",
                        "label": "(BP)"
                    },
                    {
                        "name": "68",
                        "type": "text",
                        "label": "(BQ)"
                    },
                    {
                        "name": "69",
                        "type": "text",
                        "label": "(BR)"
                    },
                    {
                        "name": "70",
                        "type": "text",
                        "label": "(BS)"
                    },
                    {
                        "name": "71",
                        "type": "text",
                        "label": "(BT)"
                    },
                    {
                        "name": "72",
                        "type": "text",
                        "label": "(BU)"
                    },
                    {
                        "name": "73",
                        "type": "text",
                        "label": "(BV)"
                    },
                    {
                        "name": "74",
                        "type": "text",
                        "label": "(BW)"
                    },
                    {
                        "name": "75",
                        "type": "text",
                        "label": "(BX)"
                    },
                    {
                        "name": "76",
                        "type": "text",
                        "label": "(BY)"
                    },
                    {
                        "name": "77",
                        "type": "text",
                        "label": "(BZ)"
                    },
                    {
                        "name": "78",
                        "type": "text",
                        "label": "(CA)"
                    },
                    {
                        "name": "79",
                        "type": "text",
                        "label": "(CB)"
                    },
                    {
                        "name": "80",
                        "type": "text",
                        "label": "(CC)"
                    },
                    {
                        "name": "81",
                        "type": "text",
                        "label": "(CD)"
                    },
                    {
                        "name": "82",
                        "type": "text",
                        "label": "(CE)"
                    },
                    {
                        "name": "83",
                        "type": "text",
                        "label": "(CF)"
                    },
                    {
                        "name": "84",
                        "type": "text",
                        "label": "(CG)"
                    },
                    {
                        "name": "85",
                        "type": "text",
                        "label": "(CH)"
                    },
                    {
                        "name": "86",
                        "type": "text",
                        "label": "(CI)"
                    },
                    {
                        "name": "87",
                        "type": "text",
                        "label": "(CJ)"
                    },
                    {
                        "name": "88",
                        "type": "text",
                        "label": "(CK)"
                    },
                    {
                        "name": "89",
                        "type": "text",
                        "label": "(CL)"
                    },
                    {
                        "name": "90",
                        "type": "text",
                        "label": "(CM)"
                    },
                    {
                        "name": "91",
                        "type": "text",
                        "label": "(CN)"
                    },
                    {
                        "name": "92",
                        "type": "text",
                        "label": "(CO)"
                    },
                    {
                        "name": "93",
                        "type": "text",
                        "label": "(CP)"
                    },
                    {
                        "name": "94",
                        "type": "text",
                        "label": "(CQ)"
                    },
                    {
                        "name": "95",
                        "type": "text",
                        "label": "(CR)"
                    },
                    {
                        "name": "96",
                        "type": "text",
                        "label": "(CS)"
                    },
                    {
                        "name": "97",
                        "type": "text",
                        "label": "(CT)"
                    },
                    {
                        "name": "98",
                        "type": "text",
                        "label": "(CU)"
                    },
                    {
                        "name": "99",
                        "type": "text",
                        "label": "(CV)"
                    },
                    {
                        "name": "100",
                        "type": "text",
                        "label": "(CW)"
                    },
                    {
                        "name": "101",
                        "type": "text",
                        "label": "(CX)"
                    },
                    {
                        "name": "102",
                        "type": "text",
                        "label": "(CY)"
                    },
                    {
                        "name": "103",
                        "type": "text",
                        "label": "(CZ)"
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 9,
            "module": "google-sheets:deleteRow",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 388472
            },
            "mapper": {
                "sheetId": 1410198706,
                "rowNumber": "{{8.`__ROW_NUMBER__`}}",
                "spreadsheetId": "GOOGLE SHEET ID"
            },
            "metadata": {
                "designer": {
                    "x": 1500,
                    "y": 0,
                    "name": "Delete row from main spreadsheet"
                },
                "restore": {
                    "sheetId": {
                        "mode": "chose",
                        "label": "Form responses 8"
                    },
                    "__IMTCONN__": {
                        "label": "My Google connection"
                    },
                    "spreadsheetId": {
                        "mode": "chose",
                        "label": "CalPush_repro2020"
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "spreadsheetId",
                        "type": "select",
                        "label": "Spreadsheet",
                        "required": true
                    },
                    {
                        "name": "rowNumber",
                        "type": "uinteger",
                        "label": "Row number",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 10,
            "module": "google-email:ActionSendEmail",
            "version": 2,
            "parameters": {
                "account": 388471
            },
            "mapper": {
                "cc": [],
                "to": [
                    "ADMIN EMAIL"
                ],
                "bcc": [],
                "from": "",
                "html": "<p>Hello Admin,</p>\n<p>A new issue has been reported.</p>\n<p>Event: {{13.`3`}}<br />What is the issue: {{13.`1`}}<br />Email of reporting person (may be blank): {{13.`2`}}</p>\n<p>The event has been deleted automatically from the calendar, and the Tweet will also have been removed.</p>\n<p>An admin will now need to check the event. Please log into the Google Account and find the 'Issue Reports' spreadsheet to complete the admin record. If the event turns out to be ok, you can manually re-add to the calendar and manually tweet again using the below information.</p>\n<p>All the very best,<br />Your friendly automated email bot</p>\n<p>Details: Timestamp: {{8.`0`}}</p>\n<p>Event Title: {{8.`1`}}</p>\n<p>Location: {{8.`2`}}</p>\n<p>Start Date: {{8.`6`}}</p>\n<p>End Date: {{8.`7`}}</p>\n<p>Timezone: {{8.`5`}}</p>\n<p>URL: {{8.`3`}}</p>\n<p>Description: {{8.`4`}}</p>",
                "subject": "New Issue Reported & Automatically Deleted",
                "attachments": []
            },
            "metadata": {
                "designer": {
                    "x": 1800,
                    "y": 0,
                    "name": "Inform admins"
                },
                "restore": {
                    "expect": {
                        "cc": {
                            "mode": "chose"
                        },
                        "to": {
                            "mode": "chose",
                            "items": [
                                null
                            ]
                        },
                        "bcc": {
                            "mode": "chose"
                        },
                        "attachments": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "account": {
                            "data": {
                                "scoped": "true",
                                "connection": "google-restricted"
                            },
                            "label": "My Google Restricted connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "account",
                        "type": "account:google-restricted",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "from",
                        "type": "text",
                        "label": "From"
                    },
                    {
                        "name": "to",
                        "spec": {
                            "name": "value",
                            "type": "email",
                            "label": "Email address",
                            "required": true
                        },
                        "type": "array",
                        "label": "To",
                        "required": true
                    },
                    {
                        "name": "subject",
                        "type": "text",
                        "label": "Subject"
                    },
                    {
                        "name": "html",
                        "type": "text",
                        "label": "Content"
                    },
                    {
                        "name": "attachments",
                        "spec": [
                            {
                                "name": "fileName",
                                "type": "filename",
                                "label": "File name",
                                "required": true,
                                "semantic": "file:name"
                            },
                            {
                                "name": "data",
                                "type": "buffer",
                                "label": "Data",
                                "required": true,
                                "semantic": "file:data"
                            },
                            {
                                "name": "cid",
                                "type": "text",
                                "label": "Content-ID"
                            }
                        ],
                        "type": "array",
                        "label": "Attachments"
                    },
                    {
                        "name": "cc",
                        "spec": {
                            "name": "value",
                            "type": "email",
                            "label": "Email address"
                        },
                        "type": "array",
                        "label": "Copy recipient"
                    },
                    {
                        "name": "bcc",
                        "spec": {
                            "name": "value",
                            "type": "email",
                            "label": "Email address"
                        },
                        "type": "array",
                        "label": "Blind copy recipient"
                    }
                ],
                "advanced": true
            }
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": false,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com"
    }
}